<div class="blockEffets" data-id="deuxmains">
    <h2 class="header js-toggler">
        <i class="far fa-minus-square"></i>
        {{localize "KNIGHT.EFFETS.Label"}} - {{localize "KNIGHT.ITEMS.ARME.DEUXMAINS.Deuxmains"}}
    </h2>

    <div class="effets">
        {{#each systemData.effets2mains.liste as | key effet|}}
            {{~> knight.effets type='2mains'}}
        {{/each}}
        <a class="edit" data-action="editEffects" data-limit-effects="true" data-path="{{wpnPath}}effets2mains">
            <span>{{localize "KNIGHT.EFFETS.Edit"}}</span>
        </a>
    </div>
</div>