<div class="dice-roll knight-roll">
    {{#if flavor}}
        <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
    <div class="dice-result">
        {{#if isSuccess}}
        <div class="dice-formula">
            {{#if rollState}}
                <span class="{{rollState.class}}">{{rollState.label}}</span>
            {{/if}}
            {{#if caracteristiques}}
                <span class="caracs">
                    {{caracteristiques}}
                </span>
            {{else}}
                {{base}}{{#each bonus}} + {{this}}{{/each}}
            {{/if}}
        </div>
        {{/if}}
        {{{tooltip}}}
        <h4 class="dice-total">
            {{#if isSuccess}}{{total}} {{localize "KNIGHT.JETS.Succes"}}{{else}}{{total}}{{/if}}
            {{#if rollLabel}}
            <span class="{{rollLabel.class}}">{{rollLabel.label}} !</span>
            {{/if}}
        </h4>
        <h4 class="dice-total dice-success"></h4>
    </div>
</div>