<div class="knight-roll">
    {{#if flavor}}
        <div class="dice-flavor">{{flavor}}</div>
    {{/if}}

    {{#if tags}}
    <div class="tags">
        {{#each tags}}
        <span data-key="{{key}}">{{label}}</span>
        {{/each}}
    </div>
    {{/if}}

    {{#each content}}
    <section class="content" data-index="{{index}}">
        <div class="dice-result">
        {{#if actorName}}
        <div class="dice-formula">{{actorName}}</div>
        {{/if}}
        {{#if isSuccess}}
        <div class="dice-formula">
            {{#if rollState}}
                <span class="{{rollState.class}}">{{rollState.label}}</span>
            {{/if}}
            {{#if caracteristiques}}
                <span class="caracs">
                    {{caracteristiques}}
                </span>
            {{else}}
                {{base}}{{#each bonus}} + {{this}}{{/each}}
            {{/if}}
        </div>
        {{else}}
        <div class="dice-formula">{{label}}</div>
        {{/if}}
        {{{tooltip}}}
        <h4 class="dice-total">
            {{#if isSuccess}}{{total}} {{localize "KNIGHT.JETS.Succes"}}{{else}}{{total}}{{/if}}
            {{#if rollLabel}}
            <span class="{{rollLabel.class}}">{{rollLabel.label}} !</span>
            {{/if}}
        </h4>
        </div>

        {{#each targets}}
        <div class="listTargets dice-formula">
            <div class="target" data-id="{{id}}">
                <span class="label">{{name}}</span>
                {{#if isValue}}
                <span class="dmg">{{value}}</span>
                {{else}}
                <span class="{{ifThen hit 'hit' 'fail'}}">{{localize (ifThen hit 'KNIGHT.JETS.RESULTATS.Touche' 'KNIGHT.JETS.RESULTATS.Manque')}}</span>
                    {{#if ptsFaible}}
                    <span class="hit">{{localize 'KNIGHT.JETS.RESULTATS.PFTarget'}}</span>
                    {{/if}}
                    {{#if defense}}
                    <span class="subtitle defense">{{defense}}</span>
                    {{/if}}
                {{/if}}
            </div>
            {{#each effets}}
                <div class="target sub" data-key="{{key}}" data-id="{{../id}}">
                    <span class="label">{{label}}</span>
                    {{#unless empty}}
                        {{#if value}}
                        <span>{{value}}</span>
                        {{else}}
                        <span class="{{ifThen hit 'hit' 'fail'}}">
                            {{localize (ifThen hit 'KNIGHT.JETS.RESULTATS.Affecte' 'KNIGHT.JETS.RESULTATS.PasAffecte')}}</span>
                        {{/if}}
                        {{#if subtitle}}
                        <span class="subtitle">{{subtitle}}</span>
                        {{/if}}
                    {{/unless}}
                </div>
            {{/each}}
            {{#if isValue}}
            <div class="btn">
                <button type="action" class="setDegats" data-id="{{id}}" data-dmg="{{value}}" data-effects="{{#each ../../detailledEffets}}{{key}}{{#if value}} {{value}}{{/if}}{{#unless @last}},{{/unless}}{{/each}}{{#each ../../effets}},{{key}}{{#if value}} {{value}}{{/if}}{{/each}}">{{localize 'KNIGHT.JETS.DEGATSAUTO.SetDamages'}}</button>
            </div>
            {{/if}}
        </div>
        {{/each}}

        {{#if targets}}
        {{#unless weapon}}
        <div class="onlyGm btn" style="width: 200%;">
            <button type="action" class="setDegatsAllTargets" data-alltargets="{{#each targets}}{{id}}-{{value}}{{#unless @last}},{{/unless}}{{/each}}" data-effects="{{#each ../detailledEffets}}{{key}}{{#if value}} {{value}}{{/if}}{{#unless @last}},{{/unless}}{{/each}}{{#each ../effets}},{{key}}{{#if value}} {{value}}{{/if}}{{/each}}">{{localize 'KNIGHT.JETS.DEGATSAUTO.DamageForAllTargets'}}</button>
        </div>
        {{/unless}}
        {{/if}}

        {{#if weapon}}
        <div class="btn">
            <button type="action" class="degats" >{{localize 'KNIGHT.AUTRE.Degats'}}</button>
            <button type="action" class="violence">{{localize 'KNIGHT.AUTRE.Violence'}}</button>
        </div>
        {{/if}}

        {{#if tirenrafale}}
        <div class="btn">
            <button type="action" class="relancedegats" title="{{localize 'KNIGHT.EFFETS.TIRENRAFALE.Relance'}}">{{localize 'KNIGHT.EFFETS.TIRENRAFALE.Label'}}</button>
        </div>
        {{/if}}

        {{#each otherBtn}}
            <div class="btn {{classes}}">
                <button type="action" title="{{title}}">{{label}}</button>
            </div>
        {{/each}}
    </section>
    {{/each}}

    {{#if text}}
    <div class="dice-formula {{classes}}">
        <span>{{text}}</span>
    </div>
    {{/if}}

    {{#each targets}}
    <div class="listTargets dice-formula">
        <div class="target" data-id="{{id}}">
            <span class="label">{{name}}</span>
            {{#if simple}}
            <span></span>
            {{else}}
                {{#if isValue}}
                <span class="dmg">{{value}}</span>
                {{else}}
                <span class="{{ifThen hit 'hit' 'fail'}}">{{localize (ifThen hit 'KNIGHT.JETS.RESULTATS.Touche' 'KNIGHT.JETS.RESULTATS.Manque')}}</span>
                    {{#if ptsFaible}}
                    <span class="hit">{{localize 'KNIGHT.JETS.RESULTATS.PFTarget'}}</span>
                    {{/if}}
                    {{#if defense}}
                    <span class="subtitle defense">{{defense}}</span>
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
        {{#each effets}}
            <div class="target sub" data-key="{{key}}" data-id="{{../id}}">
                <span class="label">{{label}}</span>
                {{#unless empty}}
                    {{#if value}}
                    <span>{{value}}</span>
                    {{else}}
                    <span class="{{ifThen hit 'hit' 'fail'}}">
                        {{localize (ifThen hit 'KNIGHT.JETS.RESULTATS.Affecte' 'KNIGHT.JETS.RESULTATS.PasAffecte')}}</span>
                    {{/if}}
                    {{#if subtitle}}
                    <span class="subtitle">{{subtitle}}</span>
                    {{/if}}
                {{/unless}}
            </div>
        {{/each}}
    </div>
    {{/each}}

    {{#each detailledEffets}}
    <div class="details {{ifThen tooltip 'withTooltip' ''}}" data-key="{{key}}">
        {{#if value}}
            <span class="label">{{label}}</span>
            <span class="value">{{value}}</span>
        {{else}}
            <span class="label merge">{{label}}</span>
        {{/if}}
        <span class="description {{#unless value}}merge{{/unless}}">{{description}}</span>
        {{#if tooltip}}{{{tooltip}}}{{/if}}
    </div>
    {{/each}}

    {{#if effets}}
    <div class="effets">
        {{#each effets}}
        <span title="{{ description }}" data-key="{{ key }}">{{ label }}</span>
        {{#unless @last}}
        /
        {{/unless}}
        {{/each}}
    </div>
    {{/if}}
</div>