<div class="dice-roll knight-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
    <div class="dice-result">
        {{#if isSuccess}}
        <div class="dice-formula">
            {{#if isExploit}}
                <span class="explode">{{localize "KNIGHT.JETS.Exploit"}}</span>
            {{/if}}
            {{#if isRollEFailed}}
                <span class="epicFail">{{localize "KNIGHT.JETS.EchecCritique"}}</span>
            {{/if}}
            {{#if caracs}}
                <span class="caracs">
                    {{#each caracs}}
                        {{#unless @first}}
                        /
                        {{/unless}}
                        {{this}}
                    {{/each}}
                </span>
            {{else}}
                {{formula}}
            {{/if}}
        </div>
        {{/if}}
        {{{tooltip}}}
        <h4 class="dice-total">
            {{#unless isTable}}
            {{#if isSuccess}}{{totalSuccess}} {{localize "KNIGHT.JETS.Succes"}}{{else}}{{total}}{{/if}}
            {{#if isRollSuccess}}
            <span class="dice-success">{{localize "KNIGHT.JETS.Succes"}} !</span>
            {{/if}}
            {{#if isRollFailed}}
            <span class="dice-fail">{{localize "KNIGHT.JETS.Echec"}} !</span>
            {{/if}}
            {{else}}
            {{rTable}}
            {{/unless}}
        </h4>
        <h4 class="dice-total dice-success"></h4>
    </div>
</div>
