<div class="dice-tooltip">
    {{#each parts}}
    <section class="tooltip-part">
        <div class="dice">
            <header class="part-header flexrow">
                <span class="part-formula" title="{{base}}{{#each bonus}} + {{bonus}}{{/each}}">{{base}}{{#each bonus}} + {{this}}{{/each}}</span>
                {{#if flavor}}<span class="part-flavor">{{flavor}}</span>{{/if}}
                <span class="part-total">{{total}}{{#if totalBonus}} + {{totalBonus}}{{/if}}</span>
            </header>
            <ol class="dice-rolls">
                {{#each results}}
                    <li class="roll {{class}}">{{{value}}}</li>
                {{/each}}
            </ol>
        </div>
    </section>
    {{/each}}
</div>