<div class="dice-roll knight-roll" data-target="{{target}}" data-wpntype="{{contactOrDistance}}">
    {{#if flavor}}
    <div class="dice-flavor flavor-wpn">{{flavor}}</div>
    {{/if}}
    {{#if this.main.portee}}
    <div class="dice-result style">
        <div class="dice-total">{{this.main.portee}}</div>
    </div>
    {{/if}}
    {{#if style}}
    <div class="dice-result style">
        <div class="dice-total">
            {{style}}
        </div>
    </div>
    {{/if}}
    <div class="dice-result">
        {{#if this.main.isSuccess}}
            <div class="dice-formula">
                {{#if this.main.isExploit}}
                    <span class="explode">{{localize "KNIGHT.JETS.Exploit"}}</span>
                {{/if}}
                {{#if this.main.isRollEFailed}}
                    <span class="epicFail">{{localize "KNIGHT.JETS.EchecCritique"}}</span>
                {{/if}}
                {{#if this.main.isAttack}}
                    {{#if this.main.caracs}}
                        <span class="caracs">
                            {{#each this.main.caracs}}
                                {{#unless @first}}
                                /
                                {{/unless}}
                                {{this}}
                            {{/each}}
                        </span>
                        {{else}}
                        {{this.main.formula}}
                    {{/if}}
                {{/if}}
            </div>
        {{else}}
            {{#if this.main.formula}}
                <div class="dice-formula">
                    {{this.main.formula}}
                </div>
            {{/if}}
        {{/if}}
        {{{this.main.tooltip}}}
        <div class="dice-total">
            <h4 class="dice-total">
                {{this.main.total}}{{#if this.main.isSuccess}} {{localize "KNIGHT.JETS.Succes"}}{{/if}}
            </h4>
            {{#each this.include as | key include|}}
                <span title="{{key.desc}}">{{key.name}}</span>
            {{/each}}
        </div>
    </div>
    {{#if this.hide}}
    <div class="dice-result toHide">
        {{#if this.hide.formula}}
            <div class="dice-formula" title="{{localize "KNIGHT.AUTRE.MJOnly"}}">
                {{this.hide.formula}}
            </div>
        {{/if}}
        {{{this.hide.tooltip}}}
        <div class="dice-total">
            <h4 class="dice-total">
                {{this.hide.total}}
            </h4>
            {{#each this.hideInclude as | key include|}}
                <span title="{{key.desc}}">{{key.name}}</span>
            {{/each}}
        </div>
    </div>
    {{/if}}
    {{#each this.sub as | key sub|}}
        <div class="dice-result subResult">
            <div class="dice-formula">
                <div class="oneLine">
                    <span class="label">{{key.name}}</span>
                    <span class="result">{{key.total}}</span>
                </div>
                <span class="description">{{{getEffetsDescription key.desc}}}</span>
            </div>
            {{{key.tooltip}}}
        </div>
    {{/each}}
    {{#if main.atkTouche}}
        <div class="dice-result atkTouche">
            <div class="dice-formula" title="{{localize "KNIGHT.AUTRE.MJOnly"}}">
                <span class="explode">
                    {{localize "KNIGHT.JETS.RESULTATS.Touche"}} !
                </span>
                <span>
                    {{main.atkVs}}
                </span>
                {{#if main.pfTarget}}
                    <span class="fullLine">
                        {{localize "KNIGHT.JETS.RESULTATS.PFTarget"}}
                    </span>
                {{/if}}
            </div>
        </div>
    {{/if}}
    {{#if main.atkManque}}
        <div class="dice-result atkTouche">
            <div class="dice-formula" title="{{localize "KNIGHT.AUTRE.MJOnly"}}">
                <span class="epicFail">
                    {{localize "KNIGHT.JETS.RESULTATS.Manque"}} !
                </span>
                <span class="fullLine">
                    {{main.atkVs}}
                </span>
                {{#if main.pfTarget}}
                    <span class="fullLine">
                        {{localize "KNIGHT.JETS.RESULTATS.PFTarget"}}
                    </span>
                {{/if}}
            </div>
        </div>
    {{/if}}
    {{#if this.other}}
        <div class="dice-result otherResults">
            <div class="dice-formula">
                <div class="oneLine">
                    <span class="label">{{localize "KNIGHT.JETS.OtherEffects"}}</span>
                </div>
                {{#each this.other as | key other|}}
                    <span class="label" title="{{{key.desc}}}">{{key.name}}</span>
                    {{#unless @last}} / {{/unless}}
                {{/each}}
            </div>
        </div>
    {{/if}}

    {{#if this.avantages}}
        <div class="dice-result otherResults">
            <div class="dice-formula">
                <div class="oneLine">
                    <span class="label">{{localize "KNIGHT.PERSONNAGE.Avantages"}}</span>
                </div>
                {{#each this.avantages as | key avantages|}}
                    <span class="label" title="{{{getAvDvDescription key.desc}}}">{{key.name}}</span>
                    {{#unless @last}} / {{/unless}}
                {{/each}}
            </div>
        </div>
    {{/if}}

    {{#if this.inconvenient}}
        <div class="dice-result otherResults">
            <div class="dice-formula">
                <div class="oneLine">
                    <span class="label">{{localize "KNIGHT.PERSONNAGE.Inconvenient"}}</span>
                </div>
                {{#each this.inconvenient as | key inconvenient|}}
                    <span class="label" title="{{{getAvDvDescription key.desc}}}">{{key.name}}</span>
                    {{#unless @last}} / {{/unless}}
                {{/each}}
            </div>
        </div>
    {{/if}}

    {{#if btnDgts}}
        <button class="btn btnDgts" data-all="{{btnDgts}}" data-regularite="{{regularite}}" {{#if assAtk}}data-assAtk="{{assAtk}}"{{/if}} {{#if connectee}}data-connectee="{{connectee}}"{{/if}} {{#if hyperVelocite}}data-hypervelocite="{{hyperVelocite}}"{{/if}}>{{localize "KNIGHT.AUTRE.Degats"}}</button>
    {{/if}}

    {{#if btnViolence}}
        <button class="btn btnViolence" data-all="{{btnViolence}}" {{#if assAtk}}data-assAtk="{{assAtk}}"{{/if}} {{#if connectee}}data-connectee="{{connectee}}"{{/if}} {{#if hyperVelocite}}data-hypervelocite="{{hyperVelocite}}"{{/if}}>{{localize "KNIGHT.AUTRE.Violence"}}</button>
    {{/if}}
</div>
