<div class="changeling">
    <h3 class="header">
        <i class="far fa-plus-square"></i>
        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.Label"}}

        {{#if ("armure" @root/systemData/wear)}}
        <div class="blockMultiline">
            <button class="
                {{#unless this.active.personnel}}
                activationLegende
                {{else}}
                desactivationLegende
                {{/unless}}
                " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="personnel"
                data-cout="{{this.energie.personnel}}">
                {{#unless this.active.personnel}}
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.TransformationPersonnelle"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                {{else}}
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.TransformationPersonnelle"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                {{/unless}}
            </button>

            <button class="
                {{#unless this.active.etendue}}
                activationLegende
                {{else}}
                desactivationLegende
                {{/unless}}
                " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="etendue"
                data-cout="{{this.energie.etendue}}">
                {{#unless this.active.etendue}}
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.TransformationEtendue"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                {{else}}
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.TransformationEtendue"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                {{/unless}}
            </button>
            {{#if this.active.fauxEtre}}
            <button class="buttonSupp prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}"
                data-cout="{{#if this.active.fauxEtre}}({{@root/systemData/equipements/armure/capacites/changeling/fauxetres}}*{{this.energie.fauxEtre.value}}){{else}}0{{/if}}{{#if this.active.personnel}}+{{this.energie.personnel}}{{else}}+0{{/if}}{{#if this.active.etendue}}+{{this.energie.etendue}}{{else}}+0{{/if}}">
                {{localize "KNIGHT.AUTRE.Prolonger"}}
            </button>
            {{else}}
                {{#if this.active.personnel}}
                <button class="buttonSupp prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}"
                    data-cout="{{#if this.active.fauxEtre}}({{@root/systemData/equipements/armure/capacites/changeling/fauxetres}}*{{this.energie.fauxEtre.value}}){{else}}0{{/if}}{{#if this.active.personnel}}+{{this.energie.personnel}}{{else}}+0{{/if}}{{#if this.active.etendue}}+{{this.energie.etendue}}{{else}}+0{{/if}}">
                    {{localize "KNIGHT.AUTRE.Prolonger"}}
                </button>
                {{else}}
                    {{#if this.active.etendue}}
                    <button class="buttonSupp prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}"
                        data-cout="{{#if this.active.fauxEtre}}({{@root/systemData/equipements/armure/capacites/changeling/fauxetres}}*{{this.energie.fauxEtre.value}}){{else}}0{{/if}}{{#if this.active.personnel}}+{{this.energie.personnel}}{{else}}+0{{/if}}{{#if this.active.etendue}}+{{this.energie.etendue}}{{else}}+0{{/if}}">
                        {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}
            {{/if}}

            <label class="allies">
                <input type="number" name="system.equipements.armure.capacites.changeling.fauxetres" value="{{@root/systemData/equipements/armure/capacites/changeling/fauxetres}}"
                min="0" max="{{this.energie.fauxEtre.max}}" />
                <span>{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.FauxEtres"}}</span>
            </label>
            
            <button class="
                {{#unless this.active.fauxEtre}}
                activationLegende
                {{else}}
                desactivationLegende
                {{/unless}}
                " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="fauxEtre"
                data-cout="{{@root/systemData/equipements/armure/capacites/changeling/fauxetres}}*{{this.energie.fauxEtre.value}}">
                {{#unless this.active.fauxEtre}}
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.FauxEtres"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                {{else}}
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.FauxEtres"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                {{/unless}}
            </button>
        </div>
        {{/if}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="data">
            <h4>{{localize "KNIGHT.LATERAL.Energie"}}</h4>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.ENERGIE.Personnelle"}}</span>
                <span class="score">{{this.energie.personnel}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.ENERGIE.Etendue"}}</span>
                <span class="score">{{this.energie.etendue}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.ENERGIE.ParFauxEtres"}}</span>
                <span class="score">{{this.energie.fauxEtre.value}}</span>
            </div>
            <div class="longspan separation">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.FauxEtresMax"}}</span>
                <span class="score">{{this.energie.fauxEtre.max}}</span>
            </div>
        </div>

        <div class="data">
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score">{{getActivation this.activation}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score">{{this.duree}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                <span class="score">{{this.portee}}</span>
            </div>
        </div>

        {{#if this.desactivationexplosive.acces}}
            <div class="data">
                <h4>{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.DesactivationExplosive"}}</h4>
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                    <span class="score">{{this.desactivationexplosive.labelPortee}}</span>
                </div>
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.AUTRE.Degats"}}</span>
                    <span class="score">{{this.desactivationexplosive.degats.dice}}{{localize "KNIGHT.JETS.Des-short"}}6+{{this.desactivationexplosive.degats.fixe}}</span>
                </div>
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.AUTRE.Violence"}}</span>
                    <span class="score">{{this.desactivationexplosive.violence.dice}}{{localize "KNIGHT.JETS.Des-short"}}6+{{this.desactivationexplosive.violence.fixe}}</span>
                </div>
                <div class="effets">
                {{#each this.desactivationexplosive.effets.liste as | key effet|}}
                    <div>
                        <span class="label">{{key.name}}</span>
                        <img class="info" src="systems/knight/assets/icons/info.svg" />
                        <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                    </div>
                {{/each}}
            </div>
            </div>
        {{/if}}
    </div>
</div>