
<div class="mechanic">
    <h3 class="header js-toggler">
        <i class="far fa-plus-square"></i>
        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MECHANIC.Label"}}

        {{#if ("armure" @root/systemData/wear)}}
        <div class="blockMultiline">
            <button class="activationLegende" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}} - {{localize "KNIGHT.AUTRE.Contact"}}" data-special="contact"
                data-cout="{{this.energie.contact}}">
                {{localize "KNIGHT.AUTRE.Contact"}} : {{localize "KNIGHT.AUTRE.Activer"}}
            </button>

            <button class="activationLegende" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}} - {{localize "KNIGHT.AUTRE.Distance"}}" data-special="distance"
                data-cout="{{this.energie.distance}}">
                {{localize "KNIGHT.AUTRE.Distance"}} : {{localize "KNIGHT.AUTRE.Activer"}}
            </button>
        </div>
        {{/if}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="data">
            <h4>{{localize "KNIGHT.AUTRE.Contact"}}</h4>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.LATERAL.Energie"}}</span>
                <span class="score">{{this.energie.contact}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score">{{getActivation this.activation.contact}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MECHANIC.Reparation"}}</span>
                <span class="score">{{this.reparation.contact.dice}}{{localize "KNIGHT.JETS.Des-short"}}6+{{this.reparation.contact.fixe}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score">{{this.reparation.contact.duree}}</span>
            </div>
        </div>

        <div class="data">
            <h4>{{localize "KNIGHT.AUTRE.Distance"}}</h4>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.LATERAL.Energie"}}</span>
                <span class="score">{{this.energie.distance}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score">{{getActivation this.activation.distance}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MECHANIC.Reparation"}}</span>
                <span class="score">{{this.reparation.distance.dice}}{{localize "KNIGHT.JETS.Des-short"}}6+{{this.reparation.distance.fixe}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score">{{this.reparation.distance.duree}}</span>
            </div>
        </div>
    </div>
</div>
