
<div class="type">
    <h3 class="header js-toggler">
        <i class="far fa-plus-square"></i>
        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.Label"}}

        {{#if ("armure" @root/systemData/wear)}}
            {{#if this.choixFaits}}
            <div class="blockMultiline">
                {{#unless this.type.scout.conflit}}
                {{#unless this.type.scout.horsconflit}}
                {{#unless this.type.herald.conflit}}
                {{#unless this.type.herald.horsconflit}}
                {{#unless this.type.scholar.conflit}}
                {{#unless this.type.scholar.horsconflit}}
                {{#unless this.type.hunter.conflit}}
                {{#unless this.type.hunter.horsconflit}}
                {{#if this.type.soldier.selectionne}}
                    {{#unless this.type.soldier.horsconflit}}
                    <button class="
                        {{#unless this.type.soldier.conflit}}
                        activationLegende
                        {{else}}
                        desactivationLegende
                        {{/unless}}
                        " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="soldier" data-variant="conflit"
                        data-cout="{{this.energie.tour}}">
                        {{#unless this.type.soldier.conflit}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Soldier"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                        {{else}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Soldier"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                        {{/unless}}
                    </button>
                    {{/unless}}

                    {{#unless this.type.soldier.conflit}}
                    <button class="
                        {{#unless this.type.soldier.horsconflit}}
                        activationLegende
                        {{else}}
                        desactivationLegende
                        {{/unless}}
                        " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="soldier" data-variant="horsconflit"
                        data-cout="{{this.energie.scene}}">
                        {{#unless this.type.soldier.horsconflit}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Soldier"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                        {{else}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Soldier"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                        {{/unless}}
                    </button>
                    {{/unless}}

                    {{#if this.type.soldier.conflit}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}"
                        data-cout="{{this.energie.tour}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Soldier"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}

                    {{#if this.type.soldier.horsconflit}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}"
                        data-cout="{{this.energie.scene}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Soldier"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}

                {{#unless this.type.scout.conflit}}
                {{#unless this.type.scout.horsconflit}}
                {{#unless this.type.herald.conflit}}
                {{#unless this.type.herald.horsconflit}}
                {{#unless this.type.scholar.conflit}}
                {{#unless this.type.scholar.horsconflit}}
                {{#unless this.type.soldier.conflit}}
                {{#unless this.type.soldier.horsconflit}}
                {{#if this.type.hunter.selectionne}}
                    {{#unless this.type.hunter.horsconflit}}
                    <button class="
                        {{#unless this.type.hunter.conflit}}
                        activationLegende
                        {{else}}
                        desactivationLegende
                        {{/unless}}
                        " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="hunter" data-variant="conflit"
                        data-cout="{{this.energie.tour}}">
                        {{#unless this.type.hunter.conflit}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Hunter"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                        {{else}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Hunter"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                        {{/unless}}
                    </button>
                    {{/unless}}

                    {{#unless this.type.hunter.conflit}}
                    <button class="
                        {{#unless this.type.hunter.horsconflit}}
                        activationLegende
                        {{else}}
                        desactivationLegende
                        {{/unless}}
                        " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="hunter" data-variant="horsconflit"
                        data-cout="{{this.energie.scene}}">
                        {{#unless this.type.hunter.horsconflit}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Hunter"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                        {{else}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Hunter"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                        {{/unless}}
                    </button>
                    {{/unless}}

                    {{#if this.type.hunter.conflit}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}"
                        data-cout="{{this.energie.tour}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Hunter"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}

                    {{#if this.type.hunter.horsconflit}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}"
                        data-cout="{{this.energie.scene}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Hunter"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}

                {{#unless this.type.scout.conflit}}
                {{#unless this.type.scout.horsconflit}}
                {{#unless this.type.herald.conflit}}
                {{#unless this.type.herald.horsconflit}}
                {{#unless this.type.hunter.conflit}}
                {{#unless this.type.hunter.horsconflit}}
                {{#unless this.type.soldier.conflit}}
                {{#unless this.type.soldier.horsconflit}}
                {{#if this.type.scholar.selectionne}}
                    {{#unless this.type.scholar.horsconflit}}
                    <button class="
                        {{#unless this.type.scholar.conflit}}
                        activationLegende
                        {{else}}
                        desactivationLegende
                        {{/unless}}
                        " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="scholar" data-variant="conflit"
                        data-cout="{{this.energie.tour}}">
                        {{#unless this.type.scholar.conflit}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scholar"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                        {{else}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scholar"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                        {{/unless}}
                    </button>
                    {{/unless}}

                    {{#unless this.type.scholar.conflit}}
                    <button class="
                        {{#unless this.type.scholar.horsconflit}}
                        activationLegende
                        {{else}}
                        desactivationLegende
                        {{/unless}}
                        " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="scholar" data-variant="horsconflit"
                        data-cout="{{this.energie.scene}}">
                        {{#unless this.type.scholar.horsconflit}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scholar"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                        {{else}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scholar"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                        {{/unless}}
                    </button>
                    {{/unless}}

                    {{#if this.type.scholar.conflit}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}"
                        data-cout="{{this.energie.tour}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scholar"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}

                    {{#if this.type.scholar.horsconflit}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}"
                        data-cout="{{this.energie.scene}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scholar"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}

                {{#unless this.type.scout.conflit}}
                {{#unless this.type.scout.horsconflit}}
                {{#unless this.type.scholar.conflit}}
                {{#unless this.type.scholar.horsconflit}}
                {{#unless this.type.hunter.conflit}}
                {{#unless this.type.hunter.horsconflit}}
                {{#unless this.type.soldier.conflit}}
                {{#unless this.type.soldier.horsconflit}}
                {{#if this.type.herald.selectionne}}
                    {{#unless this.type.herald.horsconflit}}
                    <button class="
                        {{#unless this.type.herald.conflit}}
                        activationLegende
                        {{else}}
                        desactivationLegende
                        {{/unless}}
                        " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="herald" data-variant="conflit"
                        data-cout="{{this.energie.tour}}">
                        {{#unless this.type.herald.conflit}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Herald"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                        {{else}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Herald"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                        {{/unless}}
                    </button>
                    {{/unless}}

                    {{#unless this.type.herald.conflit}}
                    <button class="
                        {{#unless this.type.herald.horsconflit}}
                        activationLegende
                        {{else}}
                        desactivationLegende
                        {{/unless}}
                        " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="herald" data-variant="horsconflit"
                        data-cout="{{this.energie.scene}}">
                        {{#unless this.type.herald.horsconflit}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Herald"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                        {{else}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Herald"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                        {{/unless}}
                    </button>
                    {{/unless}}

                    {{#if this.type.herald.conflit}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}"
                        data-cout="{{this.energie.tour}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Herald"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}

                    {{#if this.type.herald.horsconflit}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}"
                        data-cout="{{this.energie.scene}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Herald"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}

                {{#unless this.type.herald.conflit}}
                {{#unless this.type.herald.horsconflit}}
                {{#unless this.type.scholar.conflit}}
                {{#unless this.type.scholar.horsconflit}}
                {{#unless this.type.hunter.conflit}}
                {{#unless this.type.hunter.horsconflit}}
                {{#unless this.type.soldier.conflit}}
                {{#unless this.type.soldier.horsconflit}}
                {{#if this.type.scout.selectionne}}
                    {{#unless this.type.scout.horsconflit}}
                    <button class="
                        {{#unless this.type.scout.conflit}}
                        activationLegende
                        {{else}}
                        desactivationLegende
                        {{/unless}}
                        " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="scout" data-variant="conflit"
                        data-cout="{{this.energie.tour}}">
                        {{#unless this.type.scout.conflit}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scout"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                        {{else}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scout"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                        {{/unless}}
                    </button>
                    {{/unless}}

                    {{#unless this.type.scout.conflit}}
                    <button class="
                        {{#unless this.type.scout.horsconflit}}
                        activationLegende
                        {{else}}
                        desactivationLegende
                        {{/unless}}
                        " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="scout" data-variant="horsconflit"
                        data-cout="{{this.energie.scene}}">
                        {{#unless this.type.scout.horsconflit}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scout"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                        {{else}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scout"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                        {{/unless}}
                    </button>
                    {{/unless}}

                    {{#if this.type.scout.conflit}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}"
                        data-cout="{{this.energie.tour}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scout"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}

                    {{#if this.type.scout.horsconflit}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}"
                        data-cout="{{this.energie.scene}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scout"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/unless}}
            </div>
            {{else}}
            <div class="blockMultiline">
                <button class="
                    {{#unless this.type.soldier.selectionne}}
                    aChoisir
                    {{else}}
                    choisi
                    {{/unless}}
                    " data-type="capacites" data-capacite="{{this.key}}Legende" data-special="soldier"
                    data-value="{{this.type.soldier.selectionne}}">
                    {{#unless this.type.soldier.selectionne}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Soldier"}} : {{localize "KNIGHT.AUTRE.Choisir"}}
                    {{else}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Soldier"}} : {{localize "KNIGHT.AUTRE.Choisi"}}
                    {{/unless}}
                </button>

                <button class="
                    {{#unless this.type.hunter.selectionne}}
                    aChoisir
                    {{else}}
                    choisi
                    {{/unless}}
                " data-type="capacites" data-capacite="{{this.key}}Legende" data-special="hunter"
                    data-value="{{this.type.hunter.selectionne}}">
                    {{#unless this.type.hunter.selectionne}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Hunter"}} : {{localize "KNIGHT.AUTRE.Choisir"}}
                    {{else}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Hunter"}} : {{localize "KNIGHT.AUTRE.Choisi"}}
                    {{/unless}}
                </button>

                <button class="
                    {{#unless this.type.scholar.selectionne}}
                    aChoisir
                    {{else}}
                    choisi
                    {{/unless}}
                " data-type="capacites" data-capacite="{{this.key}}Legende" data-special="scholar"
                    data-value="{{this.type.scholar.selectionne}}">
                    {{#unless this.type.scholar.selectionne}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scholar"}} : {{localize "KNIGHT.AUTRE.Choisir"}}
                    {{else}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scholar"}} : {{localize "KNIGHT.AUTRE.Choisi"}}
                    {{/unless}}
                </button>

                <button class="
                    {{#unless this.type.herald.selectionne}}
                    aChoisir
                    {{else}}
                    choisi
                    {{/unless}}
                " data-type="capacites" data-capacite="{{this.key}}Legende" data-special="herald"
                    data-value="{{this.type.herald.selectionne}}">
                    {{#unless this.type.herald.selectionne}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Herald"}} : {{localize "KNIGHT.AUTRE.Choisir"}}
                    {{else}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Herald"}} : {{localize "KNIGHT.AUTRE.Choisi"}}
                    {{/unless}}
                </button>

                <button class="
                    {{#unless this.type.scout.selectionne}}
                    aChoisir
                    {{else}}
                    choisi
                    {{/unless}}
                " data-type="capacites" data-capacite="{{this.key}}Legende" data-special="scout"
                    data-value="{{this.type.scout.selectionne}}">
                    {{#unless this.type.scout.selectionne}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scout"}} : {{localize "KNIGHT.AUTRE.Choisir"}}
                    {{else}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scout"}} : {{localize "KNIGHT.AUTRE.Choisi"}}
                    {{/unless}}
                </button>
            </div>
            {{/if}}
        {{/if}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="data fullWidth">
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TypesPossedes"}}</span>
                <span class="score">{{this.nbreType}}</span>
            </div>
            <h4>{{localize "KNIGHT.LATERAL.Energie"}}</h4>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.ENERGIE.Tour"}}</span>
                <span class="score">{{this.energie.tour}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.ENERGIE.Scene"}}</span>
                <span class="score">{{this.energie.scene}}</span>
            </div>
            <div class="shortspan separation">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score alignLeft">{{getActivation this.activation}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score alignLeft">{{this.duree}}</span>
            </div>
        </div>
        {{#each this.type as | key type|}}
        {{#if key.selectionne}}
        <div class="data">
            <h4 class="title">{{getType type}}</h4>
            <h4>{{localize "KNIGHT.BONUS.Overdrives"}}</h4>
            <div class="line noBottomSeparation">
                {{#each key.liste as | tKey dType|}}
                    <div class="tripleLine noSeparation">
                        <span class="header">{{getCarac dType}}</span>
                        <span class="score">{{this.value}}</span>
                    </div>
                {{/each}}
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>
