<div class="warlord">
    <h3 class="header js-toggler">
        <i class="far fa-plus-square"></i>
        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.Label"}}

        {{#unless impulsions.choisi}}
        <div class="blockMultiline">
            <button class="aChoisir"
                data-type="capacites"
                data-capacite="{{key}}Legende"
                data-name="{{label}}"
                data-special="force"
                data-variant="choix"
                data-cout="0"
                data-nbreC="{{impulsions.selection}}"
                data-value="{{impulsions.force.choisi}}">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.FORCE.Label"}} : {{localizechoix impulsions.force.choisi}}
            </button>
            <button class="aChoisir"
                data-type="capacites"
                data-capacite="{{key}}Legende"
                data-name="{{label}}"
                data-special="energie"
                data-variant="choix"
                data-cout="0"
                data-nbreC="{{impulsions.selection}}"
                data-value="{{impulsions.energie.choisi}}">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.ENERGIE.Label"}} : {{localizechoix impulsions.energie.choisi}}
            </button>
            <button class="aChoisir"
                data-type="capacites"
                data-capacite="{{key}}Legende"
                data-name="{{label}}"
                data-special="esquive"
                data-variant="choix"
                data-cout="0"
                data-nbreC="{{impulsions.selection}}"
                data-value="{{impulsions.esquive.choisi}}">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.ESQUIVE.Label"}} : {{localizechoix impulsions.esquive.choisi}}
            </button>
            <button class="aChoisir"
                data-type="capacites"
                data-capacite="{{key}}Legende"
                data-name="{{label}}"
                data-special="guerre"
                data-variant="choix"
                data-cout="0"
                data-nbreC="{{impulsions.selection}}"
                data-value="{{impulsions.guerre.choisi}}">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.GUERRE.Label"}} : {{localizechoix impulsions.guerre.choisi}}
            </button>
        </div>
        {{else}}
        {{#if ("armure" @root/systemData/wear)}}
        <div class="blockMultiline">
            <button class="activationLegende"
                data-type="capacites"
                data-capacite="{{key}}"
                data-name="{{label}}"
                data-special="action"
                data-isAllie="true"
                data-variant="activate"
                data-cout="{{base.action.energie.allie}}"
                data-toupdate="capacites.selected.warlord.active"
                data-value="{{active.action.allie}}">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.ACTION.Label"}} : {{localizeactivate active.action.allie}} ({{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.ACTIVATION.Allie"}})
            </button>
            <button class="activationLegende"
                data-type="capacites"
                data-capacite="{{key}}"
                data-name="{{label}}"
                data-special="action"
                data-isAllie="false"
                data-variant="activate"
                data-cout="{{base.action.energie.porteur}}"
                data-toupdate="capacites.selected.warlord.active"
                data-value="{{active.action.porteur}}">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.ACTION.Label"}} : {{localizeactivate active.action.porteur}} ({{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.ACTIVATION.Porteur"}})
            </button>
            {{#if impulsions.force.choisi}}
                <label class="allies">
                    <input type="number" class="{{#if active.force.allie}}update{{/if}}" name="system.equipements.armure.capacites.warlord.force.nbre"
                        data-capacite="{{this.key}}"
                        data-old="{{data.warlord.force.nbre}}"
                        data-cout="{{impulsions.force.energie.allie}}" value="{{data.warlord.force.nbre}}"
                    min="1" />
                    <span>{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.ACTIVATION.Allie"}} - {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.FORCE.Label"}}</span>
                </label>
                <button class="activationLegende"
                    data-type="capacites"
                    data-capacite="{{key}}"
                    data-name="{{label}}"
                    data-special="force"
                    data-isAllie="true"
                    data-variant="activate"
                    data-cout="{{impulsions.force.energie.allie}}*{{data.warlord.force.nbre}}"
                    data-toupdate="capacites.selected.warlord.active"
                    data-value="{{active.force.allie}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.FORCE.Label"}} : {{localizeactivate active.force.allie}} ({{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.ACTIVATION.Allie"}})
                </button>
                <button class="activationLegende"
                    data-type="capacites"
                    data-capacite="{{key}}"
                    data-name="{{label}}"
                    data-special="force"
                    data-isAllie="false"
                    data-variant="activate"
                    data-cout="{{impulsions.force.energie.porteur}}"
                    data-toupdate="capacites.selected.warlord.active"
                    data-value="{{active.force.porteur}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.FORCE.Label"}} : {{localizeactivate active.force.porteur}} ({{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.ACTIVATION.Porteur"}})
                </button>
                {{#if active.force.allie}}
                    <button class="prolonger"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-cout="{{#if active.force.allie}}({{impulsions.force.energie.prolonger}}*{{data.warlord.force.nbre}}){{else}}0{{/if}}+{{#if active.force.porteur}}{{impulsions.force.energie.porteur}}{{else}}0{{/if}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.FORCE.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{else}}
                    {{#if active.force.porteur}}
                        <button class="prolonger"
                            data-type="capacites"
                            data-capacite="{{key}}"
                            data-name="{{label}}"
                            data-cout="{{#if active.force.allie}}({{impulsions.force.energie.prolonger}}*{{data.warlord.force.nbre}}){{else}}0{{/if}}+{{#if data.warlord.force.porteur}}{{impulsions.force.energie.porteur}}{{else}}0{{/if}}">
                            {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.FORCE.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                        </button>
                    {{/if}}
                {{/if}}
            {{/if}}
            {{#if impulsions.esquive.choisi}}
                <button class="activationLegende"
                    data-type="capacites"
                    data-capacite="{{key}}"
                    data-name="{{label}}"
                    data-special="esquive"
                    data-isAllie="false"
                    data-variant="activate"
                    data-cout="{{impulsions.esquive.energie.porteur}}"
                    data-toupdate="capacites.selected.warlord.active"
                    data-value="{{active.esquive.porteur}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.ESQUIVE.Label"}} : {{localizeactivate active.esquive.porteur}} ({{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.ACTIVATION.Porteur"}})
                </button>
                <label class="allies">
                    <input type="number" class="{{#if active.esquive.allie}}update{{/if}}" name="system.equipements.armure.capacites.warlord.esquive.nbre"
                        data-capacite="{{key}}"
                        data-old="{{data.warlord.esquive.nbre}}" data-cout="{{impulsions.esquive.energie.allie}}" value="{{data.warlord.esquive.nbre}}"
                        min="1" />
                    <span>{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.ACTIVATION.Allie"}} - {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.ESQUIVE.Label"}}</span>
                </label>
                <button class="activationLegende"
                    data-type="capacites"
                    data-capacite="{{key}}"
                    data-name="{{label}}"
                    data-special="esquive"
                    data-isAllie="true"
                    data-variant="activate"
                    data-cout="{{impulsions.esquive.energie.allie}}*{{data.warlord.esquive.nbre}}"
                    data-toupdate="capacites.selected.warlord.active"
                    data-value="{{active.esquive.allie}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.ESQUIVE.Label"}} : {{localizeactivate active.esquive.allie}} ({{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.ACTIVATION.Allie"}})
                </button>
                {{#if active.esquive.allie}}
                    <button class="prolonger"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-cout="{{#if active.esquive.allie}}({{impulsions.esquive.energie.prolonger}}*{{data.warlord.esquive.nbre}}){{else}}0{{/if}}+{{#if active.esquive.porteur}}{{impulsions.esquive.energie.porteur}}{{else}}0{{/if}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.ESQUIVE.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{else}}
                    {{#if active.esquive.porteur}}
                        <button class="prolonger"
                            data-type="capacites"
                            data-capacite="{{key}}"
                            data-name="{{label}}"
                            data-cout="{{#if active.esquive.allie}}({{impulsions.esquive.energie.prolonger}}*{{data.warlord.esquive.nbre}}){{else}}0{{/if}}+{{#if active.esquive.porteur}}{{impulsions.esquive.energie.porteur}}{{else}}0{{/if}}">
                            {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.ESQUIVE.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                        </button>
                    {{/if}}
                {{/if}}
            {{/if}}
            {{#if impulsions.energie.choisi}}
                <label class="allies">
                    <input type="number" name="system.equipements.armure.capacites.warlord.energie.nbre"
                    data-capacite="{{key}}"
                    value="{{data.warlord.energie.nbre}}"
                    min="{{impulsions.energie.energie.min}}" max="{{impulsions.energie.energie.max}}" />
                    <span>{{localize "KNIGHT.AUTRE.PointEnergie-short"}} - {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.ENERGIE.Label"}}</span>
                </label>
                <button class="activation"
                    data-type="capacites"
                    data-capacite="{{key}}"
                    data-name="{{label}}"
                    data-special="energie"
                    data-cout="{{data.warlord.energie.nbre}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.ENERGIE.Label"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                </button>
            {{/if}}
            {{#if impulsions.guerre.choisi}}
                <label class="allies">
                    <input type="number" class="{{#if active.guerre.allie}}update{{/if}}" name="system.equipements.armure.capacites.warlord.guerre.nbre"
                        data-capacite="{{key}}" data-old="{{data.warlord.guerre.nbre}}"
                        data-cout="{{impulsions.guerre.energie.allie}}"
                        value="{{data.warlord.guerre.nbre}}"
                        min="1" />
                    <span>{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.ACTIVATION.Allie"}} - {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.GUERRE.Label"}}</span>
                </label>
                <button class="activationLegende"
                    data-type="capacites"
                    data-capacite="{{key}}"
                    data-name="{{label}}"
                    data-special="guerre"
                    data-isAllie="true"
                    data-variant="activate"
                    data-cout="{{impulsions.guerre.energie.allie}}*{{data.warlord.guerre.nbre}}"
                    data-toupdate="capacites.selected.warlord.active"
                    data-value="{{active.guerre.allie}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.GUERRE.Label"}} : {{localizeactivate active.guerre.allie}} ({{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.ACTIVATION.Allie"}})
                </button>
                <button class="activationLegende"
                    data-type="capacites"
                    data-capacite="{{key}}"
                    data-name="{{label}}"
                    data-special="guerre"
                    data-isAllie="false"
                    data-variant="activate"
                    data-cout="{{impulsions.guerre.energie.porteur}}"
                    data-toupdate="capacites.selected.warlord.active"
                    data-value="{{active.guerre.porteur}}"
                    data-toupdate="capacites.selected.warlord.active"
                    data-value="{{active.guerre.porteur}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.GUERRE.Label"}} : {{localizeactivate active.guerre.porteur}} ({{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.ACTIVATION.Porteur"}})
                </button>
                {{#if active.guerre.allie}}
                    <button class="prolonger"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-cout="{{#if active.guerre.allie}}({{impulsions.guerre.energie.prolonger}}*{{data.warlord.guerre.nbre}}){{else}}0{{/if}}+{{#if active.guerre.porteur}}{{impulsions.guerre.energie.porteur}}{{else}}0{{/if}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.GUERRE.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{else}}
                    {{#if active.guerre.porteur}}
                        <button class="prolonger"
                            data-type="capacites"
                            data-capacite="{{key}}"
                            data-name="{{label}}"
                            data-cout="{{#if active.guerre.allie}}({{impulsions.guerre.energie.prolonger}}*{{data.warlord.guerre.nbre}}){{else}}0{{/if}}+{{#if active.guerre.porteur}}{{impulsions.guerre.energie.porteur}}{{else}}0{{/if}}">
                            {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.GUERRE.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                        </button>
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
        {{/if}}
        {{/unless}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="fullWidth">
            <div class="data">
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.NombresModes"}}</span>
                    <span class="score">{{this.impulsions.selection}}</span>
                </div>
            </div>
        </div>


        {{#if @root/systemData/equipements/armure/capacites/warlord/modes/action}}
        <div class="data">
            <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.ACTION.Label"}}</h4>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.BONUS.Label"}}</span>
                <span class="score textarea">{{this.impulsions.action.bonus.description}}</span>
            </div>
            <h4 class="separation">{{localize "KNIGHT.LATERAL.Energie"}}</h4>
            <div class="longspan noSeparation">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.Allie"}}</span>
                <span class="score">{{this.impulsions.action.energie.allie}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.Porteur"}}</span>
                <span class="score">{{this.impulsions.action.energie.porteur}}</span>
            </div>
            <div class="shortspan separation">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score">{{getActivation this.impulsions.action.activation}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score">{{this.impulsions.action.duree}}</span>
            </div>
        </div>
        {{/if}}

        {{#if @root/systemData/equipements/armure/capacites/warlord/modes/force}}
        <div class="data">
            <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.FORCE.Label"}}</h4>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.BONUS.ChampDeForce"}}</span>
                <span class="score">{{this.impulsions.force.bonus.champDeForce}}</span>
            </div>
            <h4 class="separation">{{localize "KNIGHT.LATERAL.Energie"}}</h4>
            <div class="longspan noSeparation">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.Allie"}}</span>
                <span class="score">{{this.impulsions.force.energie.allie}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.Porteur"}}</span>
                <span class="score">{{this.impulsions.force.energie.porteur}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.AlliesPorteur"}}</span>
                <span class="score">{{this.impulsions.force.energie.prolonger}}</span>
            </div>
            <div class="shortspan separation">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score">{{getActivation this.impulsions.force.activation}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score">{{this.impulsions.force.duree}}</span>
            </div>
        </div>
        {{/if}}

        {{#if @root/systemData/equipements/armure/capacites/warlord/modes/energie}}
        <div class="data">
            <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.ENERGIE.Label"}}</h4>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.BONUS.Label"}}</span>
                <span class="score textarea">{{this.impulsions.energie.bonus.description}}</span>
            </div>
            <h4 class="separation">{{localize "KNIGHT.LATERAL.Energie"}}</h4>
            <div class="longspan noSeparation">
                <span class="header">{{localize "KNIGHT.AUTRE.Minimum"}}</span>
                <span class="score">{{this.impulsions.energie.energie.min}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.AUTRE.Maximum"}}</span>
                <span class="score">{{this.impulsions.energie.energie.max}}</span>
            </div>
            <div class="shortspan separation">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score">{{getActivation this.impulsions.energie.activation}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score">{{this.impulsions.energie.duree}}</span>
            </div>
        </div>
        {{/if}}

        {{#if @root/systemData/equipements/armure/capacites/warlord/modes/esquive}}
        <div class="data">
            <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.ESQUIVE.Label"}}</h4>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.BONUS.Defense"}}</span>
                <span class="score">{{this.impulsions.esquive.bonus.defense}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.BONUS.Reaction"}}</span>
                <span class="score">{{this.impulsions.esquive.bonus.reaction}}</span>
            </div>
            <h4 class="separation">{{localize "KNIGHT.LATERAL.Energie"}}</h4>
            <div class="longspan noSeparation">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.Allie"}}</span>
                <span class="score">{{this.impulsions.esquive.energie.allie}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.Porteur"}}</span>
                <span class="score">{{this.impulsions.esquive.energie.porteur}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.AlliesPorteur"}}</span>
                <span class="score">{{this.impulsions.esquive.energie.prolonger}}</span>
            </div>
            <div class="shortspan separation">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score">{{getActivation this.impulsions.esquive.activation}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score">{{this.impulsions.esquive.duree}}</span>
            </div>
        </div>
        {{/if}}

        {{#if @root/systemData/equipements/armure/capacites/warlord/modes/guerre}}
        <div class="data">
            <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.GUERRE.Label"}}</h4>
            <div class="longspan noSeparation">
                <span class="header">{{localize "KNIGHT.BONUS.Degats"}}</span>
                <span class="score">{{this.impulsions.guerre.bonus.degats}}{{localize "KNIGHT.JETS.Des-short"}}6</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.BONUS.Violence"}}</span>
                <span class="score">{{this.impulsions.guerre.bonus.violence}}{{localize "KNIGHT.JETS.Des-short"}}6</span>
            </div>
            <h4 class="separation">{{localize "KNIGHT.LATERAL.Energie"}}</h4>
            <div class="longspan noSeparation">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.Allie"}}</span>
                <span class="score">{{this.impulsions.guerre.energie.allie}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.Porteur"}}</span>
                <span class="score">{{this.impulsions.guerre.energie.porteur}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.WARLORD.IMPULSIONS.AlliesPorteur"}}</span>
                <span class="score">{{this.impulsions.guerre.energie.prolonger}}</span>
            </div>
            <div class="shortspan separation">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score">{{getActivation this.impulsions.guerre.activation}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score">{{this.impulsions.guerre.duree}}</span>
            </div>
        </div>
        {{/if}}
    </div>
</div>
