<div class="wpn item" data-item-id="{{this._id}}">
    <header class="summary header js-toggler" data-item-id="{{this._id}}">
        <i class="far fa-plus-square extendButton"></i>
        {{#unless this.system.noRack}}
            <div class="gestionButton {{#if this.system.rack}}large{{/if}}">
                {{#unless this.system.tourelle.has}}
                    {{#if this.system.rack}}
                        {{#if this.system.rack}}
                        <a class="item-unrack" title="{{localize "KNIGHT.COMBAT.ARMES.Poser"}}"><img src="systems/knight/assets/icons/weaponsArmoury.svg"/></a>
                        {{/if}}
                        {{#unless this.system.equipped}}
                        <a class="item-equip" title="{{localize "KNIGHT.COMBAT.ARMES.Equiper"}}"><img src="systems/knight/assets/icons/weaponsRack.svg"/></a>
                        {{else}}
                        <a class="item-unequip" title="{{localize "KNIGHT.COMBAT.ARMES.Desequiper"}}"><img src="systems/knight/assets/icons/weaponsUnwear.svg"/></a>
                        {{/unless}}
                    {{else}}
                        <a class="item-rack" title="{{localize "KNIGHT.COMBAT.ARMES.Prendre"}}"><img src="systems/knight/assets/icons/weaponsWear.svg"/></a>
                    {{/if}}
                {{/unless}}
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        {{else}}
            {{#if this.system.pnj}}
                <div class="gestionButton">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            {{/if}}
        {{/unless}}
        <span class="name">{{this.name}}</span>
        {{#if this.equipped}}
            {{#unless (isWpnDistance this.system.type)}}
                {{#if this.system.options2mains.has}}
                    <div class="line">
                        <select class="wpnMainChange" data-id="{{this._id}}">
                            {{#select this.system.options2mains.actuel}}
                            <option value="1main">{{localize "KNIGHT.ITEMS.ARME.DEUXMAINS.Unemain"}}</option>
                            <option value="2main">{{localize "KNIGHT.ITEMS.ARME.DEUXMAINS.Deuxmains"}}</option>
                            {{/select}}
                        </select>
                    </div>
                {{/if}}
            {{/unless}}
            {{#if (isWpnDistance this.system.type)}}
                {{#if this.system.optionsmunitions.has}}
                    <div class="line">
                        <select class="wpnMunitionChange" data-id="{{this._id}}" data-niveau="{{this.system.niveau}}">
                            {{#select this.system.optionsmunitions.actuel}}
                                {{#each this.system.optionsmunitions.liste as | key munition|}}
                                    <option value="{{munition}}">{{key.nom}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                {{/if}}
            {{/if}}
        {{/if}}
        <div class="line {{#if system.tourelle.has}}lineTourelle{{/if}}">
            <div class="doubleLine">
                <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                <span>
                    {{#unless this.system.capacite}}
                        {{getPortee this.system.portee}}
                        {{else}}
                        {{this.system.portee}}
                    {{/unless}}
                </span>
            </div>
            {{#if system.tourelle.has}}
            <div class="doubleLine">
                <span class="header">{{localize "KNIGHT.AUTRE.Attaque"}}</span>
                <span>{{this.system.tourelle.attaque.dice}}{{localize "KNIGHT.JETS.Des-short"}}6+{{this.system.tourelle.attaque.fixe}}</span>
            </div>
            {{/if}}
            <div class="doubleLine">
                <span class="header">{{localize "KNIGHT.AUTRE.Degats"}}</span>
                <span>{{this.system.degats.dice}}{{localize "KNIGHT.JETS.Des-short"}}6+{{this.system.degats.fixe}}</span>
            </div>
            <div class="doubleLine">
                <span class="header">{{localize "KNIGHT.AUTRE.Violence"}}</span>
                <span>{{this.system.violence.dice}}{{localize "KNIGHT.JETS.Des-short"}}6+{{this.system.violence.fixe}}</span>
            </div>
            {{#if this.equipped}}
                <img src="systems/knight/assets/icons/D6Black.svg" class="jetWpn dice" data-name="{{this.name}}" data-id="{{this._id}}" data-isDistance="{{#if this.system.tourelle.has}}tourelle{{else}}{{this.system.type}}{{/if}}" data-num="{{num}}" />
            {{/if}}
        </div>
        {{#if this.system.pnj}}
            {{#unless (isWpnDistance this.system.type)}}
            <button type="action" class="addbasechair {{#if this.system.degats.addchair}}selected{{/if}}" data-value="{{this.system.degats.addchair}}" data-id="{{this._id}}">
                {{#if this.system.degats.addchair}}
                    {{localize "KNIGHT.JETS.CHAIRD2.Has"}}
                {{else}}
                    {{localize "KNIGHT.JETS.CHAIRD2.Hasnt"}}
                {{/if}}
            </button>
            {{/unless}}
        {{/if}}
    </header>

    <div class="effets" style="display:none;">
        {{#if (wpnHasDeuxMains (isWpnDistance this.system.type) this.system.options2mains.has)}}
        <h3>{{localize "KNIGHT.ITEMS.ARME.DEUXMAINS.Unemain"}}</h3>
        <div class="line">
            <div class="doubleLine">
                <span class="header">{{localize "KNIGHT.AUTRE.Degats"}}</span>
                <span>{{this.system.options2mains.1main.degats.dice}}{{localize "KNIGHT.JETS.Des-short"}}6+{{this.system.options2mains.1main.degats.fixe}}</span>
            </div>
            <div class="doubleLine">
                <span class="header">{{localize "KNIGHT.AUTRE.Violence"}}</span>
                <span>{{this.system.options2mains.1main.violence.dice}}{{localize "KNIGHT.JETS.Des-short"}}6+{{this.system.options2mains.1main.violence.fixe}}</span>
            </div>
        </div>
        {{/if}}
        <div class="blockEffets">
            {{#each this.system.effets.liste as | key effet|}}
                <div>
                    <span class="label">{{key.name}}</span>
                    <img class="info" src="systems/knight/assets/icons/info.svg" />
                    <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                </div>
            {{/each}}
        </div>
    </div>

    {{#if (wpnHasDeuxMains (isWpnDistance this.system.type) this.system.options2mains.has)}}
    <div class="effets" style="display:none;">
        <h3>{{localize "KNIGHT.ITEMS.ARME.DEUXMAINS.Deuxmains"}}</h3>
        <div class="line">
            <div class="doubleLine">
                <span class="header">{{localize "KNIGHT.AUTRE.Degats"}}</span>
                <span>{{this.system.options2mains.2main.degats.dice}}{{localize "KNIGHT.JETS.Des-short"}}6+{{this.system.options2mains.2main.degats.fixe}}</span>
            </div>
            <div class="doubleLine">
                <span class="header">{{localize "KNIGHT.AUTRE.Violence"}}</span>
                <span>{{this.system.options2mains.2main.violence.dice}}{{localize "KNIGHT.JETS.Des-short"}}6+{{this.system.options2mains.2main.violence.fixe}}</span>
            </div>
        </div>
        <div class="blockEffets">
            {{#each this.system.effets2mains.liste as | key effet|}}
                <div>
                    <span class="label">{{key.name}}</span>
                    <img class="info" src="systems/knight/assets/icons/info.svg" />
                    <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                </div>
            {{/each}}
        </div>
    </div>
    {{/if}}

    {{#if (wpnHasMunitions (isWpnDistance this.system.type) this.system.optionsmunitions.has)}}
        {{#each this.system.optionsmunitions.liste as | key munition|}}
            <div class="effets" style="display:none;">
                <h3>{{key.nom}}</h3>
                <div class="line">
                    <div class="doubleLine">
                        <span class="header">{{localize "KNIGHT.AUTRE.Degats"}}</span>
                        <span>{{key.degats.dice}}{{localize "KNIGHT.JETS.Des-short"}}6+{{key.degats.fixe}}</span>
                    </div>
                    <div class="doubleLine">
                        <span class="header">{{localize "KNIGHT.AUTRE.Violence"}}</span>
                        <span>{{key.violence.dice}}{{localize "KNIGHT.JETS.Des-short"}}6+{{key.violence.fixe}}</span>
                    </div>
                </div>
                <div class="blockEffets">
                    {{#each key.liste as | kE effet|}}
                        <div>
                            <span class="label">{{kE.name}}</span>
                            <img class="info" src="systems/knight/assets/icons/info.svg" />
                            <span class="hideInfo">{{{getEffetsDescription kE.description}}}</span>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    {{/if}}

    {{#if (isWpnDistance this.system.type)}}
    <div class="effets" style="display:none;">
        <div class="blockEffets">
            {{#each this.system.distance.liste as | key effet|}}
                <div>
                    <span class="label">{{key.name}}</span>
                    <img class="info" src="systems/knight/assets/icons/info.svg" />
                    <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                </div>
            {{/each}}
        </div>
    </div>
    {{else}}
    <div class="effets" style="display:none;">
        <div class="blockEffets">
            {{#each this.system.structurelles.liste as | key effet|}}
                <div>
                    <span class="label">{{key.name}}</span>
                    <img class="info" src="systems/knight/assets/icons/info.svg" />
                    <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="effets" style="display:none;">
        <div class="blockEffets">
            {{#each this.system.ornementales.liste as | key effet|}}
                <div>
                    <span class="label">{{key.name}}</span>
                    <img class="info" src="systems/knight/assets/icons/info.svg" />
                    <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                </div>
            {{/each}}
        </div>
    </div>
    {{/if}}
</div>
