<div class="grenades">
    <h2 class="header js-toggler">
        <i class="far fa-minus-square"></i>
        {{localize "KNIGHT.COMBAT.GRENADES.Label"}}
        <div class="headerQuantity">
            <input type="number" class="value" name="system.combat.grenades.quantity.value" value="{{systemData.combat.grenades.quantity.value}}" min="0" max="{{systemData.combat.grenades.quantity.max}}" />
            <span>/</span>
            <input type="number" name="system.combat.grenades.quantity.max" value="{{systemData.combat.grenades.quantity.max}}" min="0"  />
        </div>
    </h2>

    <button type="action" class="recover" data-type="grenades" data-max="{{systemData.combat.grenades.quantity.max}}">{{localize "KNIGHT.RECUPERER.Grenades"}}</button>

    {{#each systemData.combat.grenades.liste as | key grenades|}}
    <div class="line
        {{ifThen key.custom 'custom draggable' ''}} {{ifThen key.unlocked 'unlocked' ''}}"
        data-type="grenade"
        data-what="{{grenades}}"
        data-label="{{ifThen key.custom key.label (getGrenadeName grenades)}}">
        {{#if (and key.custom key.unlocked)}}
            <input type="text" name="system.combat.grenades.liste.{{grenades}}.label" value="{{key.label}}"/>
        {{else}}
            <span class="label">{{ifThen key.custom (ifThen key.label key.label (localize "KNIGHT.Nom")) (getGrenadeName grenades)}}</span>
        {{/if}}
        {{#if key.custom}}
            <a class="unlocked" data-type="grenade" data-id="{{grenades}}"><i class="fa-solid {{ifThen key.unlocked 'fa-lock' 'fa-lock-open'}}"></i></a>
        {{/if}}
        {{#if (and key.custom key.unlocked)}}
            <a class="delete" data-type="grenade" data-id="{{grenades}}"><i class="fas fa-trash"></i></a>
        {{/if}}
        <div class="effets {{ifThen key.custom 'draggable' ''}}"
        {{#if key.custom}}
            data-type="grenade"
            data-what="{{grenades}}"
            data-label="{{key.label}}"
        {{/if}}
        >
            {{#each key.effets.liste as | keyEffet effet|}}
            <div class="effetNormal">
                <span class="label">{{keyEffet.name}}</span>
                <img class="info" src="systems/knight/assets/icons/info.svg" />
                <span class="hideInfo">{{{getEffetsDescription keyEffet.description}}}</span>
            </div>
            {{/each}}
            {{#if (and key.custom key.unlocked)}}
            <a class="edit" data-path="system.combat.grenades.liste.{{grenades}}.effets">
                <span>{{localize "KNIGHT.EFFETS.Edit"}}</span>
            </a>
            {{/if}}
        </div>

        <div class="blockRoll {{#if key.custom}}draggable{{/if}}"
        {{#if key.custom}}
        data-type="grenade"
        data-what="{{grenades}}"
        data-label="{{key.label}}"
        {{/if}}>
            <img src="systems/knight/assets/icons/D6Black.svg" class="dice jetWpn draggable" data-name="{{grenades}}" data-id="" data-what="{{grenades}}" data-label="{{#if key.custom}}{{key.label}}{{else}}{{getGrenadeName grenades}}{{/if}}" data-isdistance="grenades" data-num="" />
        </div>
    </div>
    {{/each}}

    <a class="add" data-type="grenade">{{localize "KNIGHT.COMBAT.GRENADES.Add"}}</a>
</div>