<span>{{what}}</span>
{{#if select.has}}
    <select class="whatSelect">
        <option value=""></option>
        {{#each select.liste as | key effet|}}
            <option value="{{effet}}">{{key}}</option>
        {{/each}}
    </select>
{{/if}}
{{#each list}}
    {{#if (eq key 'check')}}
        <label class="{{class}} {{ifThen checked 'checked' ''}}">
            {{#if img}}<img src="{{img}}" />{{/if}}
            <button type="action" class="{{btn}}" data-id="{{id}}">{{label}} <i></i></button>
        </label>
    {{/if}}
{{/each}}