<input type="text" class="label" value="{{label}}" placeholder="{{localize "KNIGHT.JETS.Nom"}}"/>

{{#if aspects}}
    <div class="aspects">
        {{#each aspects}}
            <div class="aspect">
                {{#if caracteristiques}}
                    <h2 class="header">{{label}}</h2>
                    {{#each caracteristiques}}
                    <button type="action" class="{{classes}}" data-value="{{data}}">
                        <i></i>
                        <span class='label'>{{label}}</span>
                        <span class='value'>{{value}}</span>
                    </button>
                    {{/each}}
                {{else}}
                    <button type="action" class="{{classes}}" data-value="{{data}}"
                        <i></i>>
                        <span class='label'>{{label}}</span>
                        <span class='value'>{{value}}</span>
                    </button>
                {{/if}}
            </div>
        {{/each}}
    </div>
{{/if}}

{{#each mods}}
    {{#if (eq key 'score')}}
        <label class="{{classes}}">
            <span>{{label}}</span>
            <input type="number" class="value" value="{{value}}" min="{{min}}" max="{{max}}" />
        </label>
    {{/if}}
{{/each}}