
<div class="apeiron">
    <h3 class="header js-toggler">
        <i class="far fa-plus-square"></i>
        {{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.APEIRON.Label"}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="data">
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.BONUS.Espoir"}}</span>
                <span class="score">{{{this.espoir.bonus}}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.REDUCTION.Espoir"}}</span>
                <span class="score">{{{this.espoir.reduction.value}}}</span>
            </div>
        </div>
    </div>
</div>
