<div class="plusespoir">
    <h3 class="header">
        <i class="far fa-plus-square"></i>
        {{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.PLUSESPOIR.Label"}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="data">
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.SPECIAL.PLUSESPOIR.ESPOIR.Label"}}</span>
                <span class="score">{{{this.espoir.base}}}</span>
            </div>
        </div>

        <div class="data">
            <span class="button">{{{this.espoir.recuperation.label}}}</span>
        </div>

        <div class="data">
            <span class="button">{{{this.espoir.perte.label}}}</span>
        </div>
    </div>
</div>