<div class="personnalise">
    <h3 class="header js-toggler">
        <i class="far fa-plus-square"></i>
        {{this.label}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>
</div>

