<div class="blockModule">
    <h3 class="header js-toggler">
        <i class="far fa-plus-square"></i>
        {{{getMAModule this.key}}}

        {{#if this.config}}
        <div>
            <a class="delete supprimerModule" data-type="{{this.type}}" data-value="{{this.key}}">
                {{localize "KNIGHT.AUTRE.Supprimer"}}
            </a>
        </div>
        {{else}}
        <div class="blockMultiline">
            <button class="activation" data-key="{{key}}" data-main="{{type}}" data-type="multi/degats">
                    {{localize "KNIGHT.AUTRE.Activer"}} : {{localize "KNIGHT.BONUS.Degats"}} / {{localize "KNIGHT.AUTRE.Violence"}}
            </button>

            <button class="activation" data-key="{{key}}" data-main="{{type}}" data-type="multi/caracteristique">
                    {{localize "KNIGHT.AUTRE.Activer"}} : {{localize "KNIGHT.BONUS.BonusCaracteristique"}}
            </button>

            <button class="activation" data-key="{{key}}" data-main="{{type}}" data-type="multi/action">
                    {{localize "KNIGHT.AUTRE.Activer"}} : {{localize "KNIGHT.BONUS.Action"}}
            </button>

            <button class="activation" data-key="{{key}}" data-main="{{type}}" data-type="multi/cdf">
                    {{localize "KNIGHT.AUTRE.Activer"}} : {{localize "KNIGHT.BONUS.ChampDeForce"}}
            </button>

            <button class="activation" data-key="{{key}}" data-main="{{type}}" data-type="multi/noyaux">
                    {{localize "KNIGHT.AUTRE.Activer"}} : {{localize "KNIGHT.BONUS.Noyau"}}
            </button>

            <select name="system.configurations.liste.{{this.type}}.modules.{{this.key}}.noyaux.actuel">
                {{selectOptions (getNoyaux this.noyaux.min this.noyaux.max) selected=this.noyaux.actuel}}
            </select>
        </div>
        {{/if}}
    </h3>

    <span class="description" style="display:none;">
        {{{getMAModuleDescription this.key}}}
    </span>

    {{#unless this.config}}
    <div class="block" style="display:none;">
        <div class="longspan">
            <span class="label">{{localize "KNIGHT.LATERAL.Noyaux"}}</span>
            <span class="value">{{noyaux.min}} / {{noyaux.max}}</span>
        </div>
        <div class="longspan">
            <span class="label">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
            <span class="value">{{getActivation this.activation}}</span>
        </div>
        <div class="longspan">
            <span class="label">{{localize "KNIGHT.DUREE.Label"}}</span>
            <span class="value">{{this.duree}}{{localize "KNIGHT.JETS.Des-short"}}3 {{localize "KNIGHT.AUTRE.Tours"}}</span>
        </div>
        <div class="longspan">
            <span class="label">{{localize "KNIGHT.PORTEE.Label"}}</span>
            <span class="value">{{getPortee this.portee}}</span>
        </div>
    </div>
    {{/unless}}
</div>
