<div class="blockModule">
    <h3 class="header js-toggler">
        <i class="far fa-plus-square"></i>
        {{{getMAModule this.key}}}

        {{#if this.config}}
        <div>
            <a class="delete supprimerModule" data-type="{{this.type}}" data-value="{{this.key}}">
                {{localize "KNIGHT.AUTRE.Supprimer"}}
            </a>
        </div>
        {{else}}
        <div class="blockMultiline">
            <button class="activation" data-key="{{key}}" data-main="{{type}}" data-type="special">
                {{#unless this.active}}
                    {{localize "KNIGHT.AUTRE.Activer"}}
                {{else}}
                    {{localize "KNIGHT.AUTRE.Desactiver"}}
                {{/unless}}
            </button>
        </div>
        {{/if}}
    </h3>

    <span class="description" style="display:none;">
        {{{getMAModuleDescription this.key}}}
    </span>

    {{#unless this.config}}
    <div class="block" style="display:none;">
        <div class="longspan">
            <span class="label">{{localize "KNIGHT.LATERAL.Noyaux"}}</span>
            <span class="value">{{this.noyaux}}</span>
        </div>
        <div class="longspan">
            <span class="label">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
            <span class="value">{{getActivation this.activation}}</span>
        </div>
        <div class="longspan">
            <span class="label">{{localize "KNIGHT.DUREE.Label"}}</span>
            <span class="value">{{getDuree this.duree}}</span>
        </div>
        <div class="longspan">
            <span class="label">{{localize "KNIGHT.PORTEE.Label"}}</span>
            <span class="value">{{getPortee this.portee}}</span>
        </div>
    </div>
    {{/unless}}
</div>
