nav {
    width:100%;
    border-color:$white;

    a {
        font-variant: small-caps;
        padding-left: 5px;
        padding-right: 5px;

        &.active {
            background-color: $lightBlue;
        }
    }
}