.knight,
.ia,
.pnj,
.creature,
.bande,
.vehicule,
.mechaarmure,
.avantage,
.desavantage,
.motivationMineure,
.module,
.compendium {
  .window-content {
    background:none;
    background-color:$black;
    color:$white;

    --color-shadow-primary:$blue;

    .mainFlex {
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
    }

    input {
      color:inherit;
    }

    .item.active {
      background-color:$lightBlue;
    }

    a:hover {
      text-shadow:0 0 10px $blue;
    }

    nav.tabs {
      justify-content: space-between;
    }

    nav.tabs [data-tab] {
      color: $white;
    }
  }
}

.companionsDialog {
  @include header();

  div.dialog-content {
    display: flex;
    position:relative;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom:5px;

    div {
      &.line,
      &.longspan {
        display:flex;
        width:100%;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
      }

      &.longspan {
        line-height: 26px;

        span {
          &.label {
            display:inline-block;
            width:calc(100% - 50px);
            background:$lightBlack;
            padding-left:5px;
            padding-right:5px;
          }

          &.value {
            display:inline-block;
            width:50px;
            background:$black;
            text-align: center;
          }
        }
      }

      &.aspects {
        display:flex;
        width:100%;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: flex-start;

        div {
          &.block {
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            align-content: flex-start;
            width:calc((100% / 2) - 5px);
            border:1px solid $lightBlue;
            margin-top:5px;

            label {
              &.longspan {
                display:flex;
                width:100%;
                justify-content: space-between;
                align-items: flex-start;
                align-content: flex-start;
              }

              &.longspan {
                line-height: 26px;

                span {
                  &.label {
                    display:inline-block;
                    width:calc(100% - 50px);
                    background:$lightBlack;
                    padding-left:5px;
                    padding-right:5px;
                  }
                }

                input {
                  display:inline-block;
                  width:50px;
                  background:$black;
                  text-align: center;
                  padding:0px;
                  border:0px;
                  border-radius:0px;
                }
              }

              &:not(:first-of-type) {
                span {
                  border-top:1px solid $black;
                }

                input {
                  border-top:1px solid $lightBlack;
                }
              }
            }

            &:nth-of-type(odd),
            &:last-of-type {
              margin-right:auto;
            }

            &:nth-of-type(even),
            &:last-of-type {
              margin-left:auto;
            }
          }

          &.longspan {
            position:relative;
            width:calc((100% / 2) - 5px);
            margin-top:5px;
            border:1px solid black;

            input {
                display:flex;
                width:50px;
                position:absolute;
                right:0px;
                text-align: center;
                justify-content: center;
                align-items: center;
                align-content: center;
                height:100%;
                padding:0px;
            }

            &:nth-of-type(odd) {
              margin-right:auto;
            }

            &:nth-of-type(even) {
              margin-left:auto;
            }
          }

          &.aspectDistribuer,
          &.ae {
            cursor:pointer;
          }
        }
      }

      &.configuration {
        display:flex;
        width:100%;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;

        div {
          &.longspan {
            position:relative;
            width:calc((100% / 2) - 5px);
            margin-top:5px;
            border:1px solid black;

            input {
                display:flex;
                width:50px;
                position:absolute;
                right:0px;
                text-align: center;
                justify-content: center;
                align-items: center;
                align-content: center;
                height:100%;
                padding:0px;
            }

            &:nth-of-type(odd) {
              margin-right:auto;
            }

            &:nth-of-type(even) {
              margin-left:auto;
            }
          }
        }

        label {
          &.longspan {
            display:flex;
            width:calc((100% / 2) - 5px);
            justify-content: space-between;
            align-items: flex-start;
            align-content: flex-start;
            border-left:1px solid black;
            border-right:1px solid black;

            &:nth-of-type(1),
            &:nth-of-type(2) {
              margin-top:5px;
              border-top:1px solid black;
            }

            &:nth-last-of-type(1),
            &:nth-last-of-type(2) {
              border-bottom:1px solid black;

              span.label {
                border-bottom:0px;
              }

              input {
                border-bottom:0px;
              }
            }
          }

          &.longspan {
            line-height: 26px;

            span {
              &.label {
                display:inline-block;
                width:calc(100% - 50px);
                background:$lightBlack;
                padding-left:5px;
                padding-right:5px;
                border-bottom:1px solid $black;
              }
            }

            input {
              display:inline-block;
              width:50px;
              background:$black;
              text-align: center;
              padding:0px;
              border:0px;
              border-radius:0px;
              border-bottom:1px solid $lightBlack;
            }
          }
        }
      }

      &.minContent {
        width:min-content;
        white-space: nowrap;
      }

      &.borderBlack {
        border:1px solid black;
      }

      &.marginTop {
        margin-top:5px;
      }

      &.lion,
      &.wolf,
      &.crow {
        border:1px solid $lightBlue;
      }
    }

    .button {
      display:inline-block;
      width:100%;
      color:$white;
      cursor:pointer;
      border:2px solid $lightBlack;
      position:relative;
      background:$black;
      border-color:$lightBlack;
      line-height: 30px;
      text-align: center;
      cursor:pointer;

      &.selected {
        background:$lightBlack;
        border-color:$black;
      }

      &.p33 {
        width:calc((100% / 3) - 10px);
      }

      &:hover {
        outline: none;
        box-shadow: 0 0 5px var(--color-shadow-primary);
      }
    }
  }

  div.dialog-buttons {
    button {
      cursor:pointer;
      background:$lightBlack;
      color:$white;

      &:disabled {
        cursor:not-allowed;
      }
    }
  }
}

.gmTool {
  display:flex;
  width:300px;
  height:135px;
  opacity: 0.7;

  form {
    max-height:171px;
    overflow: auto;
  }

  div {
    @include header();

    &.main {
      display:flex;
      position:relative;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      width:100%;

      button {
        width:100%;
        background:$lightBlack;
        color:$white;
        border:1px solid $black;
        font-size: 12px;
        padding-left: 2px;
        padding-right: 2px;
        line-height: 25px;
      }
    }

    &.initiative {
      display:flex;
      position:relative;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      width:100%;
      border:1px solid $lightBlue;

      div {
        &.pj,
        &.pnj {
          display:flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: flex-start;
          align-content: flex-start;
          width:50%;
          overflow-y:auto;
          max-height:130px;

          span {
            display:block;
            width:100%;
            line-height: 16px;
            text-align: center;
            font-size:13px;
            cursor:pointer;
            border-bottom:1px solid black;

            &.selected {
              background:$lightBlack
            }
          }

          &:not(:first-of-type) {
            border-left:1px solid black;
          }
        }
      }

      &:not(:first-of-type) {
        border-top:1px solid black;
      }
    }
  }

}

.gmInitiative {
  display:flex;
  width:800px;
  height:200px;
  opacity: 0.7;

  form {
    max-height:171px;
    overflow: auto;
  }

  div {
    @include header();

    &.main {
      display:flex;
      position:relative;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      width:100%;

      h2.header {
        font-size: 16px;
        padding-left: 3px;

        .far {
          cursor:pointer;
        }
      }

      h3 {
        display: block;
        position:relative;
        width: 100%;
        text-transform: uppercase;
        color: $white;
        background: $lightBlack;
        margin: 0px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px solid $black;
        line-height: 21px;
        padding-top: 2px;
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }

    &.initiative {
      display:flex;
      position:relative;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      width:calc(50% - 5px);
      border:1px solid $lightBlue;

      div {
        &.pj,
        &.pnj {
          display:flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: flex-start;
          align-content: flex-start;
          width:50%;
          overflow-y:auto;
          max-height:130px;

          span {
            display:block;
            width:100%;
            line-height: 16px;
            text-align: center;
            font-size:13px;
            cursor:pointer;
            border-bottom:1px solid black;

            &.selected {
              background:$lightBlack
            }
          }

          &:not(:first-of-type) {
            border-left:1px solid black;
          }
        }
      }

      &:not(:first-of-type) {
        border-top:1px solid black;
      }
    }
  }
}

.gmMonitor {

  form {
    display: grid;
    opacity: 0.9;
    overflow: auto;
    grid-template-rows: max-content;
    row-gap: 5px;
  }

  div {
    @include header();

    &.main {
      width:100%;
      height:100%;

      >div {
        display: grid;
        grid-template-columns: 120px repeat(5, 1fr) 120px;
        grid-template-rows: auto;
        grid-gap: 1px;
        font-variant: small-caps;
        line-height: 20px;
        border-top: 1px solid $lightBlack;

        div {
          &.name {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;

            span {
              display: flex;
              width: 100%;

              &:nth-of-type(2) {
                border-top: 1px solid $lightBlack;
              }
            }

            i {
              margin-right: 5px;
              margin-top: auto;
              margin-bottom: auto;
              cursor: pointer;

              &:hover {
                text-shadow: 0 0 10px $blue;
              }
            }
          }

          &.aspect {
            display: flex;
            border-left: 1px solid $lightBlack;
            flex-wrap: wrap;
            align-content: flex-start;

            span {
              display: flex;
              width:100%;
              justify-content: left;
              text-align: left;
              padding-left: 5px;

              &.label {
                font-size: 14px;
                font-weight: bold;
                justify-content: center;
                text-align: center;
                padding: 0px;
              }
            }
          }

          &.data {
            display: flex;
            border-left: 1px solid $lightBlack;
            flex-wrap: wrap;
            align-content: flex-start;

            span {
              display: flex;
              width:100%;
              justify-content: left;
              text-align: left;
              padding-left: 5px;
            }
          }
        }

        &:nth-of-type(even) {
          background: $lightBlack;

          div {
            &.name,
            &.aspect,
            &.data {
              border-color: $black;

              span {
                border-color: $black;
              }
            }
          }
        }
      }
    }
  }
}

li.chat-message {
  &.whisper {
    background:
        linear-gradient(rgba(232, 232, 239, 0.8), rgba(232, 232, 239, 0.8)),
        url('../../../ui/parchment.jpg') repeat;
  }

  &.blind {
      background:
          linear-gradient(rgba(245, 234, 245, 0.8), rgba(245, 234, 245, 0.8)),
          url('../../../ui/parchment.jpg') repeat;
  }

  &.emote {
      background:
          linear-gradient(rgba(243, 237, 222, 0.8), rgba(243, 237, 222, 0.8)),
          url('../../../ui/parchment.jpg') repeat;
  }
}

#pause img {
  content: url("../assets/icons/logoCircle.webp");
  min-height: 200px;
  min-width: 200px;
  left: calc(50% - 100px);
  top: -50px;
}