.bande,
.creature,
.pnj {
    div {
        &.personnage{
            @include header();

            div {
                &.tactique,
                &.pointsfaibles,
                &.description {
                    div.editor {
                        min-height:130px;
                        border-bottom: 1px solid $lightBlue;
                        border-left: 1px solid $lightBlue;
                        border-right: 1px solid $lightBlue;
                        background:$lightBlack;

                        div.editor-content {
                        padding-left:5px;
                        padding-right:5px;
                        }
                    }

                    &:not(:last-of-type) {
                        margin-bottom:10px;
                    }
                }

                &.pointsfaibles {
                    display:grid;
                    grid-template-columns: 1fr 200px 200px;

                    h2,
                    div.editor {
                        grid-column-start: 1;
                        grid-column-end: 4;
                    }

                   > span {
                        display:block;
                        padding-left: 5px;
                        border-left:1px solid $lightBlue;
                        border-bottom:1px solid $lightBlue;
                        line-height: 25px;
                    }

                    >select {
                        border: 0px;
                        background: $black;
                        border-top: 0px;
                        border-bottom: 1px solid $lightBlue;
                        border-left: 1px solid $lightBlack;
                        border-right: 1px solid $lightBlack;
                        text-align: center;
                        line-height: 26px;
                        color: $white;
                        border-radius: 0px;

                        optgroup,
                        option {
                            background:$black;
                            color:$white;
                        }
                    }

                    >button {
                        width: 100%;
                        font-size: 13px;
                        line-height: 20px;
                        background: $black;
                        border-top: 0px;
                        border-left: 0px;
                        border-right: 1px solid $lightBlue;
                        border-bottom: 1px solid $lightBlue;
                        border-radius: 0px;
                        font-variant: small-caps;
                        color: $white;
                        cursor: pointer;
                        margin: 0px;
                    }
                }
            }
        }

        &.data {
            select {
                &.origin {
                    border:0px;
                    width:100%;
                    text-align: center;
                    color:$white;
                    font-variant: small-caps;
                    background: transparent;
                    border-bottom: 1px solid $white;
                    border-radius: 0px;

                    option {
                        background:$black;
                    }
                }
            }
        }
    }
}