.creature {
  header.sheet-header {
    div {
      &.headerData {
        button {
          &.setbtn {
            display: grid;
            grid-column: 2;
            grid-template-columns: 16px 1fr;
            grid-gap: 5px;
            color: $white;;
            font-variant: small-caps;
            text-align: left;
            font-size: 16px;
            border: 1px solid $lightBlack;
            align-items: center;

            &.unselected {
              i {
                color: $red;
              }
            }

            &.selected {
              i {
                color: $lightGreen;
              }

              background: $lightBlue;
            }
          }
        }
      }
    }
  }

    section.menu {
      padding-bottom:1px;

      div.resilience {
        div.line {
          display:flex;
          width:100%;
          line-height:29px;
          justify-content: space-between;

          span.label {
            display:inline-block;
            width:calc(100% - 80px);
            height:30px;
            font-variant: small-caps;
            font-size:14px;
            letter-spacing: 1px;
            padding-left:5px;
          }

          input {
            display: inline-block;
            width:36px;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border:0px;
            border-radius:0px;
            padding:0px;
            margin:0px;
            padding-bottom:1px;
            z-index:10;
          }

          span.separation {
            display: inline-block;
            width:8px;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
          }
        }
      }

      div.sante,
      div.armure,
      div.energie {
        div.line {
          display:grid;
          width:100%;
          line-height:29px;
          grid-template-columns: 30px 1fr 36px 8px 36px;

          span.option {
            display: inline-block;
            width:100%;
            height:30px;
            text-align:center;

            img {
              height:29px;
              width:29px;
              border:0px;
              cursor:pointer;

              &:hover {
                filter: drop-shadow(0px 0px 5px $blue);
              }
            }
          }

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:14px;
            letter-spacing: 1px;
            padding-left:1px;
          }

          input {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border:0px;
            border-radius:0px;
            padding:0px;
            margin:0px;
            padding-bottom:1px;
            z-index:10;
          }

          span.separation {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
          }

          span.score {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
          }
        }

        div.subLine {
          display: grid;
          grid-template-columns: 1fr 80px;
          width:100%;
          line-height:30px;

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:16px;
            letter-spacing: 1px;
            padding-left:1px;
            border-bottom: 1px solid $black;
          }

          input {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border:0px;
            border-radius:0px;
            padding:0px;
            margin:0px;
            border-bottom: 1px solid $lightBlack;
          }
        }
      }

      div.sante {
        div.subLine {
          &:nth-of-type(2) {
            span.label {
              border-top: 1px solid $black;
            }

            input {
              border-top: 1px solid $lightBlack;
            }
          }

          &:last-of-type {
            span.label {
              border: 0px;
            }

            input {
              border: 0px;
            }
          }
        }
      }

      div.armure,
      div.energie {
        div.line {
          span {
            &.option,
            &.label {
              border-bottom: 1px solid $black;
            }

            &.separation,
            &.score {
              border-bottom: 1px solid $lightBlack;
            }
          }

          input {
            border-bottom: 1px solid $lightBlack;
          }
        }

        div.subline {
          span.label {
            border-bottom: 1px solid $black;
          }

          input {
            border-bottom: 1px solid $lightBlack;
          }
        }
      }

      div.resilience {
        button {
          width: 100%;
          font-size:11px;
          line-height: 20px;
          background:$black;
          border-top: 1px solid $lightBlack;
          border-left: 0px;
          border-right: 0px;
          border-bottom: 1px solid $lightBlack;
          border-radius: 0px;
          font-variant: small-caps;
          color:$white;
          cursor:pointer;
          margin:0px;
        }
      }

      div.bouclier {
        div.line {
          display:grid;
          width:100%;
          line-height:29px;
          justify-content: space-between;
          grid-template-columns: 30px 1fr 60px;

          span.option {
            display: inline-block;
            width:100%;
            height:30px;
            text-align:center;

            img {
              height:29px;
              width:29px;
              border:0px;
              cursor:pointer;

              &:hover {
                filter: drop-shadow(0px 0px 5px $blue);
              }
            }

            &.withoutBorder {
              img {
                filter: drop-shadow(0px 0px 5px $blue);
              }
            }
          }

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:14px;
            letter-spacing: 1px;
            padding-left:1px;
          }

          span.score {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
          }
        }

        div.subLine {
          display: grid;
          width:100%;
          line-height:30px;
          justify-content: space-between;
          grid-template-columns: 1fr 60px;

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:16px;
            letter-spacing: 1px;
            padding-left:5px;
            border-bottom: 1px solid $black;
          }

          input {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border:0px;
            border-radius:0px;
            padding:0px;
            margin:0px;
            border-bottom: 1px solid $lightBlack;
          }
        }
      }

      div.reaction,
      div.defense {
        div.line {
          display:grid;
          width:100%;
          line-height:29px;
          grid-template-columns: 30px 1fr 45px;

          span.option {
            display: inline-block;
            width:100%;
            height:30px;
            text-align:center;
            border-bottom: 1px solid $black;

            img {
              height:29px;
              width:29px;
              border:0px;
              cursor:pointer;

              &:hover {
                filter: drop-shadow(0px 0px 5px $blue);
              }
            }
          }

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:14px;
            letter-spacing: 1px;
            padding-left:1px;
            border-bottom: 1px solid $black;
          }

          span.score {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border-bottom: 1px solid $lightBlack;
          }
        }

        div.subLine {
          display: grid;
          width:100%;
          line-height:30px;
          grid-template-columns: 1fr 45px;

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:14px;
            letter-spacing: 1px;
            padding-left:5px;
            border-bottom: 1px solid $black;
          }

          input {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border:0px;
            border-radius:0px;
            padding:0px;
            margin:0px;
            border-bottom: 1px solid $lightBlack;
          }
        }
      }

      div.initiative {
        div.line {
          display:grid;
          width:100%;
          line-height:29px;
          grid-template-columns: 30px 1fr 45px;

          span.option {
            display: inline-block;
            width:100%;
            height:30px;
            text-align:center;
            border-top: 0px !important;
            border-bottom: 1px solid $black !important;

            img {
              height:29px;
              width:29px;
              border:0px;
              cursor:pointer;

              &:hover {
                filter: drop-shadow(0px 0px 5px $blue);
              }
            }
          }

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:14px;
            letter-spacing: 1px;
            padding-left:1px;
            border-top: 0px !important;
            border-bottom: 1px solid $black !important;
          }

          span.score {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:12px;
            border-top: 0px !important;
            border-bottom: 1px solid $lightBlack !important;
          }
        }

        div.subLine {
          display: grid;
          width:100%;
          line-height:30px;
          grid-template-columns: 1fr 45px;

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:14px;
            letter-spacing: 1px;
            padding-left:5px;
            border-top: 0px !important;
            border-bottom: 1px solid $black !important;
          }

          input {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border:0px;
            border-radius:0px;
            padding:0px;
            margin:0px;
            border-top: 0px !important;
            border-bottom: 1px solid $lightBlack !important;
          }
        }
      }

      section.mainBlock {
        display:block;

        >div {
          display:block;

          &.espoir {
            div.line {
              span {
                &.label,
                &.separation {
                  border-bottom:0px;
                }
              }

              input {
                border-bottom:0px;
              }
            }
          }

          &:last-of-type {
            div.line {
              span,
              input {
                border-bottom: 0px;
              }
            }

            div.subLine {
              &:nth-of-type(2) {
                span {
                  border-top: 1px solid $black;
                }

                input {
                  border-top: 1px solid $lightBlack;
                }
              }

              &:last-of-type {
                span,
                input {
                  border-bottom: 0px;
                }
              }
            }
          }
        }

        &:not(:first-of-type) {
          >div {
            &:first-of-type {
              border-top:1px solid black;
            }
          }
        }

        &:not(:last-of-type) {
          padding-bottom:5px;
          margin-bottom:5px;
          border-bottom:5px double $black;

          >div:last-of-type {
            border-bottom:1px solid black;
          }
        }
      }

      section.hidden {
        display:none;
      }
    }

    section.body {
      width:calc(100% - 180px);
      padding-left:10px;
      padding-top:40px;
      padding-right:0px;
      padding-bottom:0px;
      position:relative;

      nav {
        position:absolute;
        width:100%;
        border-color:$white;
        flex:none;
        margin:0px;
        top:-1px;
        left:0px;

        a {
          font-variant: small-caps;
        }
      }

      div.aspects {
        @include header();

        div.listeAspects {
          display:flex;
          width:100%;
          flex:none;
          justify-content: center;
          align-items:flex-start;
          align-content: flex-start;
          flex-wrap:wrap;

          div.aspect {
            display:flex;
            width:calc(50% - 5px);
            flex:none;
            align-items:flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            background:$lightBlack;
            border:1px solid $lightBlue;

            h2.header {
              position:relative;

              img {
                position:absolute;
                top:-1px;
                right:0px;
                height:24px;
                width:24px;
                background:$white;
                border:0px;
                border-radius:0px;
                cursor:pointer;
              }
            }

            input[type="number"] {
              display:inline-block;
              width:25%;
              height:81px;
              border-top:0px;
              border-bottom:0px;
              border-left:0px;
              border-right:1px solid $lightBlack;
              border-radius:0px;
              text-align: center;
              background:$black;
              font-size:50px;
              line-height: 81px;
            }

            div.aspectsExceptionnels {
              display:flex;
              width:75%;
              justify-content: space-between;
              flex-wrap: wrap;

              span {
                display:block;
                width:100%;
                font-variant: small-caps;
                font-size:16px;
                text-align: center;
                background:$lightBlack;
                line-height:26px;
              }

              select {
                width:100%;
                border:0px;
                background:$black;
                border-top:1px solid $lightBlack;
                border-bottom:0px;
                border-left:0px;
                border-right:0px;
                text-align: center;
                line-height:26px;
                color:$white;
                border-radius:0px;

                option {
                  background:$black;
                  color:$white,
                }
              }
            }

            &:not(:last-of-type) {
              margin-bottom:5px;

              &:nth-of-type(odd) {
                margin-right:auto;
              }

              &:nth-of-type(even) {
                margin-left:auto;
              }
            }
          }
        }
      }

      div.capacites {
        @include header();

        button.buttonPhase2 {
          position:relative;
          width: 205px;
          min-height:23px;
          margin-bottom:0px;
          margin-top:5px;
          margin-left:calc(50% - (205px/2));
          line-height: 100%;
          background:$lightBlack;
          border: 1px solid $lightBlack;
          border-radius: 0px;
          font-variant: small-caps;
          color:$white;
          cursor:pointer;
          top:0px;

          &.choisi {
            background:$lightBlack;
          }
        }

        div.capacite {
          display:flex;
          flex-wrap: wrap;
          justify-content: space-between;
          border:1px solid $lightBlue;
          width:100%;
          margin-top:5px;

          h2.header {
            .item-create {
              position: absolute;
              right: 5px;
              line-height: 22px;
            }
          }

          img.profile-img {
            box-sizing: border-box;
            border-top:0px;
            border-left:0px;
            border-bottom: 1px solid var(--color-border-dark);
            border-right: 1px solid var(--color-border-dark);
            border-radius: 0px;
            width: 153px;
            object-fit: contain;
          }

          span.description {
            display:block;
            width:calc(100% - 155px);
            padding-left:0.5em;
            padding-right:0.5em;
          }

          div {
            &.bCapacite {
              display:flex;
              width:100%;
              flex-wrap: wrap;

              header {
                display: block;
                position:relative;
                width: 100%;
                text-transform: uppercase;
                color: $white;
                background: $lightBlack;
                margin: 0px;
                border-top: 0px;
                border-left: 0px;
                border-right: 0px;
                border-bottom: 1px solid $black;
                line-height: 21px;
                padding-top: 2px;
                font-size: 20px;
                padding-left: 20px;
                font-weight: bold;
                letter-spacing: 1px;

                .far {
                  cursor:pointer;
                }

                div.blockMultiline {
                  position:relative;
                  width: 210px;
                  margin-right: 40px;
                  display: flex;
                  top: 0px;
                  margin-left: auto;
                  flex-wrap: wrap;
                  min-height:22px;
                  margin-top:-22px;

                  button {
                    position:relative;
                    width: 205px;
                    min-height:23px;
                    margin:0px;
                    line-height: 100%;
                    background:$black;
                    border-top: 1px solid $black;
                    border-left: 1px solid $lightBlack;
                    border-right: 1px solid $black;
                    border-bottom: 1px solid $lightBlack;
                    border-radius: 0px;
                    font-variant: small-caps;
                    color:$white;
                    cursor:pointer;
                    top:0px;

                    &.choisi {
                      background:$lightBlack;
                    }
                  }
                }

                div.gestionButton {
                  display: flex;
                  height: 26px;
                  justify-content: space-between;
                  position: absolute;
                  right: 5px;
                  width: 33px;
                  align-items: center;
                  z-index: 90;
                  top: 0px;
                  font-size: 15px;
                }
              }
            }

            &.mainBlock {
              display:flex;
              justify-content: space-between;
              align-items: flex-start;
              align-content: flex-start;
              flex-wrap: wrap;

              width:100%;
              margin-top:5px;
              padding:5px;

              div {
                &.allData {
                  display:flex;
                  justify-content: space-between;
                  align-items: flex-start;
                  align-content: flex-start;
                  flex-wrap: wrap;

                  width:100%;
                }

                &.data {
                  width:calc(50% - 5px);
                  border:1px solid black;
                  margin-bottom:5px;

                  h4 {
                      width:100%;
                      background:$lightBlack;
                      margin:0px;
                      padding-left:5px;
                      line-height: 26px;
                      border-bottom:1px solid black;

                      &.separation {
                        border-top:5px double black;
                      }

                      &.title {
                        font-variant: small-caps;
                        font-size: 17px;
                        border-bottom: 2px solid black;
                      }

                      &.simpleSeparationBottom {
                        border-bottom:1px solid black;
                      }
                  }

                  span {
                    &.header {
                      display:inline-block;
                      width: 100%;
                      padding: 0px;
                      text-align: center;
                      line-height: 26px;
                      background:$black;
                    }

                    &.lightBlack {
                      background:$lightBlack;
                    }
                  }

                  div {
                      display:flex;
                      width:100%;
                      justify-content: space-between;
                      flex:none;

                      span {
                        &.label {
                          line-height: 26px;
                          padding-left:5px;
                          background:$lightBlack;
                        }

                        &.value {
                          display: flex;
                          line-height: 26px;
                          text-align: center;
                          justify-content: center;
                          align-items: center;
                          align-content: center;
                        }
                      }

                      &.doubleLine {
                        display:flex;
                        flex-wrap: wrap;
                        width:100%;

                        span {
                          &.label {
                            width:100%;
                            line-height: 30px;
                            width: 100%;
                            font-variant: small-caps;
                            background: $lightBlack;
                            justify-content: center;
                            text-align: center;
                          }

                          &.value {
                            width:100%;
                            line-height: 30px;
                            width: 100%;
                            font-variant: small-caps;
                            background: $black;
                            justify-content: center;
                            text-align: center;
                          }
                        }
                      }

                      &.roll {
                        display:flex;
                        justify-content: space-between;
                        width:100%;
                        background:$black;

                        span {
                          &.value {
                            display:flex;
                            width:calc(100% - 13px);
                            color:$white;
                            border:0px;
                            padding:0px;
                            background:$black;
                            border-radius:0px;
                            line-height: 24px;

                            &:first-of-type {
                              text-align: right;
                              justify-content: right;
                            }

                            &:last-of-type {
                                text-align: left;
                                justify-content: left;
                            }
                          }

                          &.separateur {
                            display:flex;
                            width:26px;
                            color:$white;
                            border:0px;
                            padding:0px;
                            background:$black;
                            border-radius:0px;
                            line-height: 26px;
                            text-align: center;
                            justify-content: center;
                          }
                        }
                      }

                      &.longspan {
                        line-height: 26px;

                          span {
                            &.label {
                              width:calc(100% - 50px);
                              border-top:1px solid $black;
                            }

                            &.value {
                              width:50px;
                              border-top:1px solid $lightBlack;
                            }
                          }
                      }

                      &.effets {
                        display: flex;
                        position:relative;
                        width: 100%;
                        justify-content: space-evenly;
                        flex-wrap: wrap;
                        padding-right: 5px;
                        padding-bottom: 5px;
                        padding-left: 5px;
                        border-top: 1px solid black;

                        @include effets();
                      }

                      &.noBorderTop {
                        span {
                          &.label,
                          &.value {
                            border-top:0px;
                          }
                        }
                      }
                  }
                }
              }
            }
          }
        }

        div.aspectsexceptionnels {
          display:flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-start;
          align-content: flex-start;
          border:1px solid $lightBlue;
          width:100%;
          margin-top:5px;

          h3 {
            display: block;
            position:relative;
            width: 100%;
            text-transform: uppercase;
            color: $white;
            background: $lightBlack;
            margin: 0px;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-bottom: 0px;
            line-height: 21px;
            padding-top: 2px;
            font-size: 20px;
            padding-left: 20px;
            font-weight: bold;
            letter-spacing: 1px;

            .far {
              cursor:pointer;
            }
          }

          div.data {
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width:calc(50% - 5px);
            border:1px solid $lightBlack;
            margin-bottom:5px;

            div.line {
              display: flex;
              justify-content: space-between;
              width:100%;

              span {
                &.description {
                  display:flex;
                  text-align: justify;
                  width:100%;
                  border-left:1px solid $lightBlack;
                  padding:5px;
                }
              }

              &:not(:first-of-type) {
                border-top:1px solid $lightBlack;
              }
            }
          }
        }
      }

      div.combat {
        @include header();

        div.main {
          display:flex;
          width:100%;
          justify-content: space-between;
          align-items: flex-start;
          align-content: flex-start;
          flex-wrap: wrap;

          div.armesContact,
          div.armesDistance {
            display:flex;
            width:calc(50% - 5px);
            margin-bottom:10px;
            flex-wrap: wrap;
            border:1px solid $lightBlue;

            div.gestionButton {
              width:30px !important;
            }

            div.block {
              display:flex;
              width:100%;
              flex-wrap: wrap;

              &:not(:first-of-type) {
                border-top:1px solid $black;
              }
            }

            h2.header {
              a {
                position:absolute;
                right:5px;
                line-height:22px;
              }
            }

            h3.header {
              display: block;
              position: relative;
              width: 100%;
              text-transform: uppercase;
              color: white;
              background: RGB(87 110 178);
              border-left: 1px solid RGB(87 110 178);
              border-right: 1px solid RGB(87 110 178);
              margin: 0px;
              border: 0px;
              line-height: 21px;
              padding-top: 2px;
              font-size: 16px;
              padding-left: 16px;
              font-weight: bold;
              letter-spacing: 1px;
            }

            @include wpnAffichage();

            div.longbow {
              display:flex;
              width:100%;
              flex-wrap: wrap;

              header {
                display:flex;
                width:100%;
                justify-content: space-between;
                position:relative;
                flex-wrap: wrap;

                span {
                  &.name {
                    width:100%;
                    text-align: center;
                    font-variant: small-caps;
                    line-height: 34px;
                  }
                }

                img {
                  position:absolute;
                  height:34px;
                  width:34px;
                  background:$white;
                  border:0px;
                  border-radius:0px;
                  cursor:pointer;
                  right:0px;
                }
              }
            }
          }

          div.armesImprovisees {
            display:flex;
            width:calc(50% - 5px);
            margin-bottom:10px;
            flex-wrap: wrap;
            border:1px solid $lightBlue;

            h2.header {
              font-size:16px;
            }

            h3 {
              display: block;
              position: relative;
              width: 100%;
              text-transform: uppercase;
              color: $white;
              background: $lightBlack;
              margin: 0px;
              border-top: 0px;
              border-left: 0px;
              border-right: 0px;
              border-bottom: 1px solid $black;
              line-height: 21px;
              padding-top: 2px;
              font-size: 16px;
              padding-left: 20px;
              font-weight: bold;
              letter-spacing: 1px;

              i {
                cursor:pointer;
              }
            }

            div.block {
              display:flex;
              width:100%;
              flex-wrap: wrap;

              &:not(:first-of-type) {
                border-top:1px solid $black;
              }
            }

            div.wpn {
              display:flex;
              width:100%;
              flex-wrap: wrap;

              span {
                &.name {
                  display:inline-block;
                  width: 100%;
                  text-align: center;
                  font-variant: small-caps;
                  line-height: 26px;
                }
              }

              div {
                &.line {
                  display: flex;
                  width: 100%;
                  justify-content: space-between;
                  border-top: 1px solid $lightBlack;
                }

                &.doubleLine {
                  display: flex;
                  flex-wrap: wrap;
                  width: calc((100% / 2) - (34px / 2));

                  span {
                    display: block;
                    width: 100%;
                    text-align: center;

                    &.header {
                      font-weight: bold;
                      font-variant: small-caps;
                    }
                  }

                  &:not(:first-of-type) {
                    border-left: 1px solid $lightBlack;
                  }
                }

                &.effets {
                  display: flex;
                  text-align: justify;
                  height: 34px;
                  justify-content: left;
                  padding-bottom: 5px;
                  flex-wrap: wrap;
                  margin-left: auto;
                  margin-right: auto;
                  align-items: flex-end;

                  div {
                    position: relative;
                    width: max-content;
                    background: $lightBlack;
                    border: 1px solid black;
                    border-radius: 5px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 15px;
                    padding-right: 15px;

                    span.label {
                        font-variant: small-caps;
                        color: $white;
                        line-height: 20px;
                    }

                    &:not(:last-of-type) {
                      margin-right:5px;
                    }
                  }
                }
              }

              img {
                height:34px;
                width:34px;
                background:$white;
                border:0px;
                border-radius:0px;
                cursor:pointer;
              }

              &:not(:first-of-type) {
                border-top:2px solid $lightBlue;
              }
            }
          }

          div.col {
            display:flex;
            flex-wrap: wrap;
            width:calc(50% - 5px);

            >div {
              &.armesDistance {
                width:100%;

                div.gestionButton {
                  width:30px !important;
                }
              }

              &:not(:first-of-type) {
                margin-top:5px;
              }
            }
          }
        }
      }

      div.historique {
        @include header();

        div.main {
          display:flex;
          width:100%;
          justify-content: space-between;
          align-items: flex-start;
          align-content: flex-start;
          flex-wrap: wrap;

          div.langues {
            display:flex;
            flex-wrap: wrap;
            width:calc(50% - 5px);
            flex:none;
            align-items:flex-start;
            align-content:flex-start;

            h2.header {
              a.item-create {
                position: absolute;
                right: 5px;
                line-height: 22px;
              }
            }

            div.block {
              display:flex;
              width:100%;
              flex-wrap: wrap;
              border:1px solid $lightBlue;

              header {
                display:flex;
                width:100%;
                justify-content: space-between;
                position:relative;

                i.extendButton {
                  line-height: 26px;
                  position:absolute;
                  font-size:26px;
                  color:$white;
                  cursor:pointer;

                  &:hover {
                    text-shadow:0 0 10px $blue;
                  }
                }

                span {
                  width:100%;
                  text-align: center;
                  font-variant: small-caps;
                  line-height: 26px;;
                }

                div.gestionButton {
                  display:flex;
                  height:26px;
                  justify-content: space-between;
                  position:absolute;
                  right:5px;
                  width: 30px;
                  align-items: center;
                }
              }
            }
          }
        }

        div.histoire {
          margin-top:10px;

          div.editor {
            min-height:130px;
            border-bottom: 1px solid $lightBlue;
            border-left: 1px solid $lightBlue;
            border-right: 1px solid $lightBlue;
            background:$lightBlack;

            div.editor-content {
              padding-left:5px;
              padding-right:5px;
            }
          }
        }
      }

      div.options {
        @include header();

        div.main {
          display:flex;
          width:100%;
          justify-content: space-between;
          align-items: flex-start;
          align-content: flex-start;
          flex-wrap: wrap;

          button {
            width:calc(50% - 10px);
            color:$white;
            cursor:pointer;
            border:2px solid;
            border-left:0px;
            border-right:0px;
            position:relative;
            border-radius:0px;

            &.unselected {
              background:$black;
              border-color:$lightBlack;
              border-left:2px solid $lightBlack;
              border-right:2px solid $lightBlack;
            }

            &.selected {
              background:$lightBlack;
              border-color:$black;
            }
          }
        }

        div.phase2 {
          display:flex;
          width:100%;
          justify-content: space-between;
          align-items: flex-start;
          align-content: flex-start;
          flex-wrap: wrap;
          border:1px solid $lightBlue;
          margin-top:5px;

          label {
            &.longspan {
              display:flex;
              width:calc((100% / 3) - 5px);
              line-height: 26px;;
              justify-content: space-between;
              flex:none;
              margin-top:5px;
              border:1px solid black;

              span.label {
                width:calc(100% - 50px);
                background:$lightBlack;
                padding-left:5px;
              }

              input {
                width:50px;
                color:$white;
                border:0px;
                padding:0px;
                background:$black;
                border-radius:0px;
                text-align: center;
              }

              &:first-of-type {
                border-left:0px;
              }

              &:last-of-type {
                border-right:0px;
              }
            }
          }

          div.aspects {
            display:flex;
            width:100%;
            justify-content: space-between;
            align-items: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            margin-top:5px;

            div.block {
              display:flex;
              width:calc(50% - 5px);
              justify-content: space-between;
              align-items: flex-start;
              align-content: flex-start;
              flex-wrap: wrap;
              margin-bottom:5px;
              border:1px solid $lightBlue;

              h3.header {
                display: block;
                position:relative;
                width: 100%;
                text-transform: uppercase;
                color: $white;
                background: $lightBlack;
                margin: 0px;
                border-top: 0px;
                border-left: 0px;
                border-right: 0px;
                border-bottom: 1px solid $black;
                line-height: 21px;
                padding-top: 2px;
                font-size: 20px;
                padding-left: 20px;
                font-weight: bold;
                letter-spacing: 1px;

                input {
                  position:absolute;
                  right:0px;
                  width:50px;
                  color:$white;
                  border:0px;
                  padding:0px;
                  background:$black;
                  border-radius:0px;
                  top: 0px;
                  text-align: center;
                  height: 22px;
                  font-size: 14px;
                }
              }

              select {
                width:100%;
                border:0px;
                background:$black;
                border-top:1px solid $lightBlack;
                border-bottom:0px;
                border-left:0px;
                border-right:0px;
                text-align: center;
                line-height:26px;
                color:$white;
                border-radius:0px;

                option {
                  background:$black;
                  color:$white,
                }

                &:first-of-type {
                  border-top:0px;
                }
              }

              &:last-of-type {
                margin-left:auto;
                margin-right:auto;
              }

              &:nth-of-type(even):not(:last-of-type) {
                border-right:0px;
              }

              &:nth-of-type(odd):not(:last-of-type) {
                border-left:0px;
              }
            }
          }
        }
      }
    }

    @include limited();
}