$white: white;
$black: RGB(043 042 051);
$lightBlack: RGB(076 074 090);
$veryLightBlack: RGB(98 97 111);
$blue: RGB(037 085 228);
$lightBlue: RGB(087 110 178);
$green:#18520b;
$lightGreen:#59d13e;
$red:#AF0000;
$lightGrey:RGB(193, 193, 193);

@mixin header(){
    h2.header {
        display: block;
        position:relative;
        width: 100%;
        text-transform: uppercase;
        color: $white;
        background: $lightBlue;
        border-left:1px solid $lightBlue;
        border-right:1px solid $lightBlue;
        margin: 0px;
        border: 0px;
        line-height: 21px;
        padding-top: 2px;
        font-size: 20px;
        padding-left: 20px;
        font-weight: bold;
        letter-spacing: 1px;

        .headerScore {
            position: absolute;
            width: 40px;
            background: $lightBlack;
            line-height: 21px;
            text-align: center;
            right: 1px;
            font-size: 14px;
            font-weight: normal;
            top: 1px;
        }

        .headerQuantity {
            position: absolute;
            display:flex;
            justify-content: space-between;
            width: 48px;
            background: $lightBlack;
            line-height: 22px;
            height:22px;
            text-align: center;
            right: 0px;
            font-size: 14px;
            font-weight: normal;
            top: 0px;

            input {
                text-align: center;
                width:20px;
                height:22px;
                border:0px;
                margin:0px;
                padding:0px;
                background:transparent;
            }

            span {
                width: 8px;
                line-height: 22px;
                color:$white;
            }
        }

        a.verrouillage {
            position:absolute;
            right:5px;
            width:max-content;
            line-height: 21px;
            color:$white;
            font-variant: small-caps;
            font-size:12px;

            &:hover {
                text-shadow:0 0 10px $white;
            }
        }

        .far {
            cursor:pointer;
        }
    }
}

@mixin effets($background:$lightBlack){
    div {
        position: relative;
        width: max-content;
        padding-left: 15px;
        padding-right: 25px;
        background: $background;
        border-radius: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-top: 5px;
        border:1px solid black;

        span.label {
            font-variant: small-caps;
            color: $white;
            line-height: 20px;

            input {
              width: 15px;
              min-width: 0px;
              padding: 0px;
              line-height: 15px;
              text-align: right;
              border: 0px;
              background: transparent;
              height: 15px;
            }
        }

        img.info {
            display: inline-block;
            position: absolute;
            width: 15px;
            height: 15px;
            border: 0px;
            background: $lightBlack;
            top: 4px;
            right: 2px;
            cursor: pointer;

            &.clicked,
            &:hover {
                filter: drop-shadow(0px 0px 5px RGB(37 85 228));
            }
        }

        span.hideInfo {
            display:none;
            position: absolute;
            background: $lightBlack;
            border: 1px solid black;
            padding: 5px;
            z-index: 90;
            margin-top: -2px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            right: 0;
            top: 100%;
            text-align: justify;
            word-break: break-word;
        }
    }

    a.edit {
        position:absolute;
        bottom:0px;
        right:5px;
        color:$white;
        font-variant:small-caps;
    }
}

@mixin headerItemWImg() {
    header.header {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 48px 1fr;
        column-gap: 10px;

        div {
            &.blockImg {
                grid-column: 1;
                grid-row: 1 / 3;

                height: 262px;
                width: 212px;
                background: $lightBlack;
                border: 1px solid $white;
                display: flex;
                align-items: center;

                img.profile-img {
                    border:0px;
                    object-fit: contain;
                }
            }

            &.description {
                grid-column: 2;
                grid-row: 2;

                div.editor {
                    height: 100%;

                    div.tox {
                        height:100%;
                    }
                }
            }
        }

        h1.charname {
            grid-column: 2;
            grid-row: 1;

            display:flex;
            justify-content: space-between;
            width:100%;
            border:0px;
            margin:0px;
            padding:0px;

            input[type="text"] {
              margin: 0px;
              width: 100%;
              height:100%;
              text-align: center;
              border-top: 0px;
              border-right: 0px;
              border-left: 0px;
              border-radius: 0px;
              border-width: unset;
              border-color: $white;
              background:transparent;
            }
        }
    }
}

@mixin grenades() {
    div.grenades {
        display:flex;
        width:calc(50% - 5px);
        flex-wrap: wrap;
        border:1px solid $lightBlue;

        >button {
          width: 100%;
          font-size:11px;
          line-height: 20px;
          background:$black;
          border-top: 1px solid $lightBlack;
          border-left: 0px;
          border-right: 0px;
          border-bottom: 1px solid $lightBlack;
          border-radius: 0px;
          font-variant: small-caps;
          color:$white;
          cursor:pointer;
          margin:0px;
        }

        div.line {
          display:grid;
          grid-template-columns: 100px 1fr 30px;
          grid-template-rows: auto;
          grid-gap: 5px;
          width:100%;
          background:$lightBlack;
          align-items:center;
          align-content:center;

          input {
            width:100%;
            background:$black;
            color:$white;
            border:0px;
            border-radius: 0px;
            padding: 0px;
            margin: 0px;
          }

          >span.label {
            margin-right:5px;
          }

          div.effets {
            display: flex;
            width: 100%;
            text-align: justify;
            height: 100%;
            justify-content: left;
            padding-bottom: 5px;
            flex-wrap: wrap;
            margin-left:auto;
            position:relative;

            &.paddingBottom {
              padding-bottom: 20px;
            }

            &.paddingLeft {
              padding-left: 20px;
            }

            div {
              position: relative;
              width: max-content;
              background: $black;
              border:1px solid black;
              border-radius: 5px;
              padding-top: 2px;
              padding-bottom: 2px;
              margin-top:5px;

              span.label {
                  font-variant: small-caps;
                  color: $white;
                  line-height: 20px;
              }

              img.info {
                display: inline-block;
                position: absolute;
                width: 15px;
                height: 15px;
                border: 0px;
                background: $black;
                top: 4px;
                right: 2px;
                cursor: pointer;

                  &.clicked,
                  &:hover {
                      filter: drop-shadow(0px 0px 5px RGB(37 85 228));
                  }
              }

              span.hideInfo {
                  display:none;
                  position: absolute;
                  background: $lightBlack;
                  border: 1px solid black;
                  padding: 5px;
                  z-index: 90;
                  margin-top: -2px;
                  border-top-right-radius: 10px;
                  border-bottom-left-radius: 10px;
                  border-bottom-right-radius: 10px;
                  left: 0;
                  top: 100%;
                  text-align: justify;
                  word-break: break-word;
              }

              &.effetNormal {
                padding-left: 15px;
                padding-right: 25px;
              }

              &.effetSpecial {
                padding-left: 15px;
                padding-right: 15px;
              }

              &:not(:last-of-type) {
                margin-right:5px;
              }
            }

            a {
              &.edit {
                position: absolute;
                bottom: 0px;
                right: 5px;
                color: white;
                font-variant: small-caps;
              }

              &.delete {
                position: absolute;
                left: 0px;
                top: calc(50% - 8.5px);
              }
            }
          }

          div.blockRoll {
            display:flex;
            align-items: center;
            align-content: center;
            height:100%;

            img {
              width: 30px;
              height: 30px;
              border-radius: 0px;
              border: 0px;
              background: white;
              cursor: pointer;
            }
          }

          &:not(:first-of-type) {
            border-top:1px solid $black;
          }
        }

        a.add {
          width: 100%;
          font-size: 11px;
          line-height: 20px;
          background: $black;
          border-top: 1px solid $lightBlack;
          border-left: 0px;
          border-right: 0px;
          border-bottom: 1px solid $lightBlack;
          border-radius: 0px;
          font-variant: small-caps;
          color: $white;
          cursor: pointer;
          margin: 0px;
          text-align: center;
        }
      }
}

@mixin limited() {
  form {
    &.limited {
      section {
        &.body {
          width:100%;
          padding-left: 0px;
        }
      }
    }
  }
}

@mixin wpnAffichage() {
  div.wpn {
    display:flex;
    width:100%;
    flex-wrap: wrap;

    header {
      display:flex;
      width:100%;
      justify-content: space-between;
      position:relative;
      flex-wrap: wrap;

      i.extendButton {
        line-height: 26px;
        position:absolute;
        font-size:26px;
        color:$white;
        cursor:pointer;

        &:hover {
          text-shadow:0 0 10px $blue;
        }
      }

      span {
        &.name {
          width:100%;
          text-align: center;
          font-variant: small-caps;
          line-height: 26px;
        }
      }

      div.line {
        display:grid;
        grid-template-columns: 1fr 100px 100px;
        width:100%;
        border-top:1px solid $lightBlack;

        div.doubleLine {
          display:flex;
          flex-wrap: wrap;
          width:100%;

          span {
            display:block;
            width:100%;
            text-align: center;

            &.header {
              font-weight:bold;
              font-variant: small-caps;
            }
          }

          &:not(:first-of-type) {
            border-left:1px solid $lightBlack;
          }
        }

        img {
          height:34px;
          width:34px;
          background:$white;
          border:0px;
          border-radius:0px;
          cursor:pointer;
        }

        &.lineTourelle {
          grid-template-columns: 1fr 1fr 34px;

          div.doubleLine {
            &:nth-of-type(3),
            &:nth-of-type(4) {
              border-top: 1px solid $lightBlack;
            }
          }

          img {
            grid-column: 3;
            grid-row: 1;
            grid-row-start: 1;
            grid-row-end: 3;
            margin-bottom: auto;
          }
        }
      }

      div.gestionButton {
        display:flex;
        height:26px;
        justify-content: space-between;
        position:absolute;
        right:5px;
        width: 30px;
        align-items: center;

        &.large {
          width:70px !important;
        }
      }
    }

    select {
      border:0px;
      width:100%;
      text-align: center;
      color:$white;
      font-variant: small-caps;

      option {
        background:$black;
      }

      &.wpnMainChange {
        grid-column: 1 / 5;
      }
    }

    div.effets {
      width:100%;

      h3 {
        width:100%;
        font-size:13px;
        font-variant: small-caps;
        border:0px;
        text-align: center;
        border-top:1px solid $lightBlack;
      }

      div.line {
        display:flex;
        width:100%;
        justify-content: space-between;

        div.doubleLine {
          display:flex;
          flex-wrap: wrap;
          width:calc(100% / 2);

          span {
            display:block;
            width:100%;
            text-align: center;

            &.header {
              font-weight:bold;
              font-variant: small-caps;
            }
          }

          &:not(:first-of-type) {
            border-left:1px solid $lightBlack;
          }
        }
      }

      div.blockEffets {
        display:flex;
        position:relative;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;

        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        flex:none;

        @include effets();

        &.hidden {
            display:none;
        }
      }
    }

    &.wpnEquipped {
      div.line {
        grid-template-columns: 1fr 100px 100px 34px;
      }

      div.lineFull {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        border-top: 1px solid $lightBlack;
      }
    }

    button {
      &.addbasechair {
        display:flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width:100%;
        border-top: 1px solid $lightBlack;
        font-variant: small-caps;
        border-radius: 0px;
        color: white;
        margin: 0px;
        line-height: 20px;
        min-height:32px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;

        &.selected {
          background:$lightBlack;
        }
      }
    }

    &:not(:first-of-type) {
      border-top:2px solid $lightBlue;
    }
  }
}