.ia {
    header.sheet-header {
      .headerData {
        min-height:200px;
        height:auto;

        .data {
          min-height:160px;
          height:auto;
          align-items: flex-start;

          div.caractere {
            @include header();

            min-height: 120px;
            border-bottom: 1px solid $white;
            border-left: 1px solid $white;
            border-right: 1px solid $white;
            width: 100%;

            div.editor {
              min-height: 120px;

              div.tox-tinymce {
                min-height:200px;
              }
            }
          }
        }
      }
    }

    div {
      &.iaTab {
        @include header();

        display:flex;
        width:100%;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;

        div.editor {
          min-height: 55px;
          width:100%;

          &.tinymce {
            min-height:150px;
          }

          div.tox-tinymce {
            border-radius:0px;
          }
        }

        div.avantages,
        div.inconvenients {
          display:flex;
          width:calc(50% - 5px);
          align-items:flex-start;
          align-content: flex-start;
          flex-wrap:wrap;
          margin-top:5px;

          h2.header {
            a {
              position:absolute;
              right:5px;
              line-height:22px;
            }
          }

          div.block {
            display:flex;
            width:100%;
            flex-wrap: wrap;
            border:1px solid $lightBlue;

            header {
              display:flex;
              width:100%;
              justify-content: space-between;
              position:relative;

              i.extendButton {
                line-height: 26px;
                position:absolute;
                font-size:26px;
                color:$white;
                cursor:pointer;

                &:hover {
                  text-shadow:0 0 10px $blue;
                }
              }

              span {
                width:100%;
                text-align: center;
                font-variant: small-caps;
                line-height: 26px;;
              }

              div.gestionButton {
                display:flex;
                height:26px;
                justify-content: space-between;
                position:absolute;
                right:5px;
                width: 30px;
                align-items: center;
              }
            }

            span.description {
              display:none;
              padding-left:2px;
              padding-right:2px;
              width:100%;
              text-align: justify;
              word-break:break-all;
              background:$lightBlack;
            }
          }
        }
      }
    }

    section.body {
      display:flex;
      width:100%;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
    }

    @include limited();
}