.limited {
    .profile-img {
      width:160px;
      height:200px;
      border-color:$white;
      background:$lightBlack;
      margin-right:0px;
      object-fit: contain;
    }

    section.body {
      &.full {
        width:100%;
      }
    }
}