.mechaarmure {
    header.sheet-header {
      .headerData {
        .data {
          height:200px;

          div {
            &.pilote {
              display: flex;
              flex-wrap: wrap;
              width:calc(50% - 5px);
              flex:none;
              margin-top:5px;
              border:1px solid $lightBlack;
              align-items: flex-start;
              align-content: flex-start;

              span {
                line-height: 26px;

                &.label {
                  display:flex;
                  width:100%;
                  white-space: nowrap;
                  justify-content: center;
                  text-align: center;
                  background:$lightBlack;
                }

                &.noData {
                  display:flex;
                  position:relative;
                  width:100%;
                  justify-content: left;
                  text-align: justify;
                  background:$black;
                  padding-left:5px;
                  padding-right:5px;
                }

                &.value {
                  display:flex;
                  position:relative;
                  width:100%;
                  justify-content: center;
                  text-align: center;
                  background:$black;

                  div.gestionButton {
                    position:absolute;
                    right:5px;
                  }
                }
              }
            }
          }
        }
      }
    }

    section.menu {
      div.styleCombat {
        position:relative;

        span.label {
          display:inline-block;
          width:100%;
          text-align: center;
          height:30px;
          font-variant: small-caps;
          font-size:16px;
          letter-spacing: 1px;
          line-height: 30px;
        }

        span.info {
          display:inline-block;
          position:absolute;
          width:21px;
          height:21px;
          line-height: 21px;
          font-size:15px;
          border:1px solid black;
          border-radius:50%;
          text-align: center;
          background:$lightBlack;
          bottom:3px;
          left:5px;
          cursor:pointer;

          &:hover {
            filter: drop-shadow(0px 0px 5px RGB(37 85 228));
          }
        }

        span.clicked {
          filter: drop-shadow(0px 0px 5px RGB(37 85 228));
        }

        span.hideInfo {
          display: none;
          position: absolute;
          width: 400px;
          height: max-content;
          border: 1px solid black;
          background: RGB(43 42 51);
          text-align: justify;
          left: 30px;
          z-index: 90;
          border-radius: 10px;
          color: $white;
          padding:2px;
        }

        span.showInfo {
          display:block;
          position: absolute;
          width: 400px;
          height: max-content;
          border: 1px solid black;
          background: RGB(43 42 51);
          text-align: justify;
          left: 30px;
          z-index: 90;
          border-radius: 10px;
          color: $white;
          padding:2px;
        }

        select {
          width:100%;
          text-align: center;
          padding-left:13px;
          border:0px;
          margin:0px;
          padding-top:0px;
          padding-right:0px;
          padding-bottom:0px;
          text-align: center;
          background:$black;
          color:$white;
          font-variant: small-caps;

          option {
            background:$black;
          }
        }
      }

      div.resilience {
        div.line {
          display:grid;
          width:100%;
          line-height:29px;
          grid-template-columns: 30px 1fr 36px 8px 36px;

          span.option {
            display: inline-block;
            width:100%;
            height:30px;
            text-align:center;
            border-bottom: 1px solid $black;

            img {
              height:29px;
              width:29px;
              border:0px;
              cursor:pointer;

              &:hover {
                filter: drop-shadow(0px 0px 5px $blue);
              }
            }
          }

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:14px;
            letter-spacing: 1px;
            border-bottom: 1px solid $black;
          }

          input {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border:0px;
            border-radius:0px;
            padding:0px;
            margin:0px;
            padding-bottom:1px;
            z-index:10;
            border-bottom: 1px solid $lightBlack;
          }

          span.separation {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border-bottom: 1px solid $lightBlack;
          }

          span.score {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border-bottom: 1px solid $lightBlack;
          }
        }

        div.subLine {
          display: grid;
          width:100%;
          line-height:30px;
          grid-template-columns: 1fr 60px;

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:16px;
            letter-spacing: 1px;
            padding-left:5px;
            border-bottom: 1px solid $black;
          }

          input {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border:0px;
            border-radius:0px;
            padding:0px;
            margin:0px;
            border-bottom: 1px solid $lightBlack;
          }
        }
      }

      div.energie {
        div.line {
          display:grid;
          width:100%;
          line-height:29px;
          grid-template-columns: 1fr 36px 8px 36px;

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:14px;
            letter-spacing: 1px;
            padding-left:5px;
          }

          input {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border:0px;
            border-radius:0px;
            padding:0px;
            margin:0px;
            padding-bottom:1px;
            z-index:10;
          }

          span.separation {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
          }
        }
      }

      div.blindage {
        div.line {
          display:grid;
          width:100%;
          line-height:29px;
          grid-template-columns: 1fr 36px 8px 36px;

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:14px;
            letter-spacing: 1px;
            padding-left:5px;
            border-bottom: 1px solid $black;
          }

          span.score {
            display: inline-block;
            width:45px;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border-bottom: 1px solid $lightBlack;
          }

          input {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border:0px;
            border-radius:0px;
            padding:0px;
            margin:0px;
            padding-bottom:1px;
            z-index:10;
            border-bottom: 1px solid $lightBlack;
          }

          span.separation {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border-bottom: 1px solid $lightBlack;
          }
        }
      }

      div.champDeForce {
        div.line {
          display:grid;
          width:100%;
          line-height:29px;
          grid-template-columns: 30px 1fr 80px;

          span.option {
            display: inline-block;
            width:100%;
            height:30px;
            text-align:center;
            border-bottom: 1px solid $black;

            img {
              height:29px;
              width:29px;
              border:0px;
              cursor:pointer;

              &:hover {
                filter: drop-shadow(0px 0px 5px $blue);
              }
            }
          }

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:14px;
            letter-spacing: 1px;
            border-bottom: 1px solid $black;
          }

          span.score {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border:0px;
            border-radius:0px;
            padding:0px;
            margin:0px;
            border-bottom: 1px solid $lightBlack;
          }
        }

        div.subLine {
          display: grid;
          width:100%;
          line-height:30px;
          grid-template-columns: 1fr 60px;

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:16px;
            letter-spacing: 1px;
            padding-left:5px;
            border-bottom: 1px solid $black;
          }

          input {
            display: inline-block;
            width:60px;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border:0px;
            border-radius:0px;
            padding:0px;
            margin:0px;
            border-bottom: 1px solid $lightBlack;
          }
        }
      }

      div.reaction,
      div.defense {
        div.line {
          display:grid;
          width:100%;
          line-height:29px;
          grid-template-columns: 1fr 45px;

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:14px;
            letter-spacing: 1px;
            padding-left:5px;
            border-bottom: 1px solid $black;
          }

          span.score {
            display: inline-block;
            width:45px;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border-bottom: 1px solid $lightBlack;
          }
        }
      }

      div.initiative {
        div.line {
          display:grid;
          width:100%;
          line-height:29px;
          grid-template-columns: 1fr 45px;

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:14px;
            letter-spacing: 1px;
            padding-left:5px;
            border-top: 0px !important;
            border-bottom: 1px solid $black !important;
          }

          span.score {
            display: inline-block;
            width:45px;
            height:30px;
            background:$black;
            text-align:center;
            font-size:12px;
            border-top: 0px !important;
            border-bottom: 1px solid $black !important;
          }
        }
      }

      section.mainBlock {
        display:block;

        >div {
          display:block;

          &:last-of-type {
            border-bottom:1px solid black;
          }

          &:last-of-type {
            div.line {
              span,
              input {
                border-bottom: 0px;
              }
            }

            div.subLine {
              &:nth-of-type(2) {
                span {
                  border-top: 1px solid $black;
                }

                input {
                  border-top: 1px solid $lightBlack;
                }
              }

              &:last-of-type {
                span,
                input {
                  border-bottom: 0px;
                }
              }
            }
          }
        }

        &:not(:first-of-type) {
          >div {
            &:first-of-type {
              border-top:1px solid black;
            }
          }
        }

        &:not(:last-of-type) {
          padding-bottom:5px;
          margin-bottom:5px;
          border-bottom:5px double $black;
        }

        &:last-of-type {
          >div:last-of-type {
            border-bottom:0px;
            margin-bottom:1px;
          }
        }
      }

      section.hidden {
        display:none;
      }
    }

    section.body {
      width:calc(100% - 180px);
      padding-left:10px;
      padding-top:40px;
      padding-right:0px;
      padding-bottom:0px;
      position:relative;

      nav {
        position:absolute;
        width:100%;
        border-color:$white;
        flex:none;
        margin:0px;
        top:-1px;
        left:0px;

        a {
          font-variant: small-caps;
        }
      }

      div.mech,
      div.personnage {
        @include header();

        div.description {
          margin-bottom: 10px;

          div.editor {
            min-height:130px;
            border-bottom: 1px solid $lightBlue;
            border-left: 1px solid $lightBlue;
            border-right: 1px solid $lightBlue;
            background:$lightBlack;

            div.editor-content {
              padding-left:5px;
              padding-right:5px;
            }
          }
        }
      }

      div.pilote {
        @include header();

        div.listeAspects {
          display:flex;
          width:100%;
          flex:none;
          justify-content: center;
          align-items:flex-start;
          align-content: flex-start;
          flex-wrap:wrap;

          div.aspect {
            display:flex;
            width:calc(50% - 5px);
            flex:none;
            align-items:flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            background:$lightBlack;
            border:1px solid $lightBlue;

            h2.header {
              img {
                position:absolute;
                height: 23px;
                width: 23px;
                border: 0px;
                cursor: pointer;
                right:0px;
                top:0px;

                &:hover {
                  filter: drop-shadow(0px 0px 5px $black);
                }
              }
            }

            span.aspectLabel {
              display:inline-block;
              width:25%;
              height:81px;
              border-bottom:1px solid black;
              border-right:1px solid $lightBlack;
              border-radius:0px;
              text-align: center;
              background:$black;
              font-size:50px;
              line-height: 81px;
            }

            div.caracteristiques {
              display:flex;
              width:75%;
              justify-content: space-between;
              flex-wrap: wrap;
              border-bottom:1px solid black;

              div.line {
                display:flex;
                justify-content: space-between;
                width:100%;
                cursor:pointer;

                img {
                  height:26px;
                  width:26px;
                  background:$white;
                  border:0px;
                  border-radius:0px;
                }

                label.carac {
                  display:flex;
                  justify-content: space-between;
                  width:calc(60% - 26px);
                  line-height:26px;
                  border-top:0px;
                  border-left:0px;
                  border-bottom:0px;
                  border-right:1px solid $lightBlack;

                  span.label {
                    width:calc(100% - 35px);
                    padding-left:5px;
                    cursor:pointer;
                  }

                  span.score {
                    width:35px;
                    text-align: center;
                    background:$black;
                    cursor:pointer;
                  }
                }

                label.overdrive {
                  display:flex;
                  justify-content: space-between;
                  width:40%;
                  line-height:26px;


                  span.label {
                    width:calc(100% - 35px);
                    padding-left:5px;
                    cursor:pointer;
                  }

                  span.score {
                    width:35px;
                    text-align: center;
                    background:$black;
                    cursor:pointer;
                  }
                }

                &:not(:last-of-type) {
                  label {
                    span.label {
                      border-bottom:1px solid $black;
                    }

                    span.score {
                      border-bottom:1px solid $lightBlack;
                    }
                  }
                }

                &:last-of-type {
                  label {
                    span.label {
                      border-bottom:0px;
                    }

                    span.score {
                      border-top:0px;
                      border-left:0px;
                      border-right:0px;
                      border-bottom:0px;
                    }
                  }
                }
              }
            }

            &:not(:last-of-type) {
              margin-bottom:5px;

              &:nth-of-type(odd) {
                margin-right:auto;
              }

              &:nth-of-type(even) {
                margin-left:auto;
              }
            }
          }
        }
      }

      div.caracteristiques {
        div.main {
          display:flex;
          width:100%;
          flex:none;
          justify-content: space-between;
          align-items:flex-start;
          align-content: flex-start;
          flex-wrap:wrap;

          div.mainBlock {
            display:flex;
            width:calc(50% - 5px);
            flex:none;
            align-items:flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            background:$lightBlack;
            border:1px solid $lightBlue;

            div.block {
              display:flex;
              width:100%;
              justify-content: space-between;
              flex-wrap: wrap;

              div.line {
                display:flex;
                position:relative;
                width:100%;
                line-height:29px;
                justify-content: space-between;

                span.option {
                  display: inline-block;
                  width:30px;
                  height:30px;
                  text-align:center;

                  img {
                    height:29px;
                    width:29px;
                    border:0px;
                    cursor:pointer;

                    &:hover {
                      filter: drop-shadow(0px 0px 5px $blue);
                    }
                  }

                  &.withoutBorder {
                    img {
                      filter: drop-shadow(0px 0px 5px $blue);
                    }
                  }
                }

                span.label {
                  display:inline-block;
                  width:calc(100% - 45px - 30px - 29px);
                  height:30px;
                  font-variant: small-caps;
                  font-size:14px;
                  letter-spacing: 1px;
                  padding-left:5px;
                }

                span.score {
                  display: inline-block;
                  width:74px;
                  height:30px;
                  background:$black;
                  text-align:center;
                  font-size:16px;
                  padding-right:29px;
                }

                input {
                  display: inline-block;
                  width:26px;
                  height:30px;
                  background:$black;
                  text-align:center;
                  font-size:16px;
                  border:0px;
                  border-radius:0px;
                  padding:0px;
                  margin:0px;
                  padding-bottom:1px;
                  z-index:10;
                }

                img.roll {
                  position:absolute;
                  right:0px;
                  height: 29px;
                  width: 29px;
                  background: white;
                  border: 0px;
                  border-radius: 0px;
                  cursor:pointer;
                }
              }

              div.subLine {
                display:grid;
                width:100%;
                line-height:30px;
                justify-content: space-between;
                grid-template-columns: 1fr 74px;

                span.label {
                  display:inline-block;
                  width:100%;
                  height:30px;
                  font-variant: small-caps;
                  font-size:16px;
                  letter-spacing: 1px;
                  padding-left:5px;
                }

                input {
                  display: inline-block;
                  width:100%;
                  height:30px;
                  background:$black;
                  text-align:center;
                  font-size:16px;
                  border:0px;
                  border-radius:0px;
                  padding:0px;
                  margin:0px;
                }
              }

              div {
                &:not(:first-of-type) {
                  span {
                    border-top: 1px solid $black;
                  }

                  input {
                    border-top: 1px solid $lightBlack;
                  }
                }
              }

              &:not(:first-of-type) {
                img {
                  border-top: 1px solid $black;
                }

                span {
                  &.option {
                    border-top: 1px solid $black;
                  }

                  &.label {
                    border-top: 1px solid $black;
                  }

                  &.score {
                    border-top: 1px solid $lightBlack;
                  }
                }
              }
            }
          }
        }
      }

      div.configurations {
        @include header();

        div.main {
          display:flex;
          width:100%;
          flex:none;
          justify-content: space-between;
          align-items:flex-start;
          align-content: flex-start;
          flex-wrap:wrap;

          label {
            &.nomConfig {
              display:flex;
              width:calc(50% - 5px);
              flex:none;
              justify-content: space-between;
              align-items:flex-start;
              align-content: flex-start;
              flex-wrap:wrap;
              border:1px solid $lightBlue;

              span {
                display:inline-block;
                width:100%;
                text-align: center;
                font-variant: small-caps;
                font-size:14px;
                line-height: 24px;
                background:$lightBlack;
              }

              input {
                width:100%;
                text-align: center;
                padding:0px;
                margin:0px;
                height:26px;
                border:0px;
                background:$black;
              }
            }
          }
        }

        div.modules {
          display:flex;
          width:100%;
          flex:none;
          justify-content: space-between;
          align-items:flex-start;
          align-content: flex-start;
          flex-wrap:wrap;
          margin-top:5px;
          border:1px solid $lightBlue;

          div.gestionButton {
            display:flex;
            justify-content: flex-end;
            width:100%;

            button {
              width: 205px;
              line-height: 100%;
              background:$lightBlack;
              border: 0px;
              border-radius: 0px;
              font-variant: small-caps;
              color:$white;
              cursor:pointer;
              top:0px;
            }

            select {
              border:0px;
              border-radius:0px;
              background:$lightBlack;
              text-align: center;
              color:$white;
              font-variant: small-caps;

              option {
                background:$black;
                text-align: center;
                color:$white;
              }
            }
          }

          div {
            &.liste,
            &.blockModule {
              display:flex;
              width:100%;
              flex:none;
              justify-content: space-between;
              align-items:flex-start;
              align-content: flex-start;
              flex-wrap:wrap;
              border-top:1px solid $black;

              h3 {
                display: block;
                position:relative;
                width: 100%;
                text-transform: uppercase;
                color: $white;
                background: $lightBlack;
                margin: 0px;
                border-top: 0px;
                border-left: 0px;
                border-right: 0px;
                border-bottom: 1px solid $black;
                line-height: 21px;
                padding-top: 2px;
                font-size: 20px;
                padding-left: 20px;
                font-weight: bold;
                letter-spacing: 1px;

                .far {
                    cursor:pointer;
                }

                div {
                  position:absolute;
                  right:5px;
                  top:0px;

                  a.delete {
                      width:max-content;
                      line-height: 21px;
                      color:$white;
                      font-variant: small-caps;
                      font-size:12px;

                      &:hover {
                          text-shadow:0 0 10px $white;
                      }
                  }
                }
              }

              span.description {
                display:block;
                border-top:1px solid $black;
                width:100%;
                padding:5px;
                background:$lightBlack;
                text-align: justify;
              }
            }
          }
        }
      }

      div.combat {
        @include header();

        div.main {
          display:flex;
          width:100%;
          justify-content: space-between;
          align-items: flex-start;
          align-content: flex-start;
          flex-wrap: wrap;

          button.configuration {
            width: calc(50% - 5px);
            line-height: 30px;
            background:$black;
            border:2px solid $lightBlack;
            border-radius: 0px;
            font-variant: small-caps;
            color:$white;
            cursor:pointer;
            top:0px;
            min-height:30px;

            &.selected {
              background:$lightBlack;
              border:2px solid $black;
            }
          }

          div.modules {
            display:flex;
            width:100%;
            flex:none;
            justify-content: space-between;
            align-items:flex-start;
            align-content: flex-start;
            flex-wrap:wrap;
            margin-top:5px;
            border:1px solid $lightBlue;

            div.gestionButton {
              display:flex;
              justify-content: flex-end;
              width:100%;

              button {
                width: 205px;
                line-height: 100%;
                background:$lightBlack;
                border: 0px;
                border-radius: 0px;
                font-variant: small-caps;
                color:$white;
                cursor:pointer;
                top:0px;
              }

              select {
                border:0px;
                border-radius:0px;
                background:$lightBlack;
                text-align: center;
                color:$white;
                font-variant: small-caps;

                option {
                  background:$black;
                  text-align: center;
                  color:$white;
                }
              }
            }

            div {
              &.liste,
              &.blockModule {
                display:flex;
                width:100%;
                flex:none;
                justify-content: space-between;
                align-items:flex-start;
                align-content: flex-start;
                flex-wrap:wrap;

                h3 {
                  display: block;
                  position:relative;
                  width: 100%;
                  text-transform: uppercase;
                  color: $white;
                  background: $lightBlack;
                  margin: 0px;
                  border-top: 0px;
                  border-left: 0px;
                  border-right: 0px;
                  border-bottom: 1px solid $black;
                  line-height: 21px;
                  padding-top: 2px;
                  font-size: 20px;
                  padding-left: 20px;
                  font-weight: bold;
                  letter-spacing: 1px;

                  .far {
                      cursor:pointer;
                  }

                  div {
                    right:5px;
                    top:0px;

                    &.blockMultiline {
                      width: 205px;
                      right: 0px;
                      display: flex;
                      top: 1px;
                      margin-left: auto;
                      flex-wrap: wrap;
                      min-height:22px;
                      margin-top:-22px;
                      margin-left:auto;

                      button {
                        position:relative;
                        min-height:23px;
                        margin:0px;
                      }

                      &>* {
                        &:not(:first-child) {
                          border-right:0px;
                          border-top:1px solid $lightBlack;
                        }

                        &:first-child {
                          margin-left:auto;
                        }
                      }
                    }
                  }

                  select {
                    position:relative;
                    text-align: center;
                    width:204px;
                    height:22px;
                    line-height:22px;
                    margin:0px;
                    color:$white;
                    border-radius:0px;
                    font-size:14px;
                    font-variant: small-caps;
                    border-top: 1px solid $black;
                    border-left: 1px solid $lightBlack;
                    border-right: 1px solid $black;
                    border-bottom: 1px solid $black;
                    padding-left:15px;
                    background: $black;
                    font-weight:normal;
                    border:0px;
                    letter-spacing: normal;
                    margin-left:1px;

                    option {
                      background:$lightBlack;
                    }
                  }

                  button {
                    width: 205px;
                    line-height: 100%;
                    background:$black;
                    border-top: 1px solid $black;
                    border-left: 1px solid $lightBlack;
                    border-right: 1px solid $black;
                    border-bottom: 1px solid $black;
                    border-radius: 0px;
                    font-variant: small-caps;
                    color:$white;
                    cursor:pointer;
                    top:0px;
                  }
                }

                span.description {
                  display:block;
                  border-top:1px solid $black;
                  width:100%;
                  padding:5px;
                  background:$lightBlack;
                  text-align: justify;
                }

                div {
                  &.block {
                    display:flex;
                    width:calc(50% - 5px);
                    flex:none;
                    justify-content: space-between;
                    align-items:flex-start;
                    align-content: flex-start;
                    flex-wrap:wrap;
                    border-top:1px solid black;

                    &:nth-of-type(odd) {
                      border-right:1px solid $lightBlack
                    }

                    &:nth-of-type(even) {
                      border-left:1px solid $lightBlack
                    }
                  }

                  &.longspan {
                    display:flex;
                    width:100%;
                    line-height: 26px;
                    justify-content: space-between;
                    flex:none;

                    span {
                      &.label {
                        width:50%;
                        background:$lightBlack;
                        padding-left:5px;
                        color:$white;
                      }

                      &.value {
                        width:50%;
                        color:$white;
                        border:0px;
                        padding:0px;
                        background:$black;
                        border-radius:0px;
                        padding-left:5px;
                      }
                    }

                    &:not(:first-of-type) {
                      span {
                        &.label {
                          border-top:1px solid $black;
                        }

                        &.value {
                          border-top:1px solid $lightBlack;
                        }
                      }
                    }
                  }

                  &.effets {
                    display: flex;
                    position:relative;
                    width: 100%;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    padding-right: 5px;
                    padding-bottom: 5px;
                    padding-left: 5px;
                    border-top: 1px solid black;

                    @include effets();
                  }
                }
              }
            }
          }

          div.armesImprovisees {
            display:flex;
            width:calc(50% - 5px);
            margin-bottom:10px;
            flex-wrap: wrap;
            border:1px solid $lightBlue;
            margin-top:5px;

            h2.header {
              font-size:16px;
            }

            h3 {
              display: block;
              position: relative;
              width: 100%;
              text-transform: uppercase;
              color: $white;
              background: $lightBlack;
              margin: 0px;
              border-top: 0px;
              border-left: 0px;
              border-right: 0px;
              border-bottom: 1px solid $black;
              line-height: 21px;
              padding-top: 2px;
              font-size: 16px;
              padding-left: 20px;
              font-weight: bold;
              letter-spacing: 1px;

              i {
                cursor:pointer;
              }
            }

            div.block {
              display:flex;
              width:100%;
              flex-wrap: wrap;

              &:not(:first-of-type) {
                border-top:1px solid $black;
              }
            }

            div.wpn {
              display:flex;
              width:100%;
              flex-wrap: wrap;

              span {
                &.name {
                  display:inline-block;
                  width: 100%;
                  text-align: center;
                  font-variant: small-caps;
                  line-height: 26px;
                }
              }

              div {
                &.line {
                  display: flex;
                  width: 100%;
                  justify-content: space-between;
                  border-top: 1px solid $lightBlack;
                }

                &.doubleLine {
                  display: flex;
                  flex-wrap: wrap;
                  width: calc((100% / 2) - (34px / 2));

                  span {
                    display: block;
                    width: 100%;
                    text-align: center;

                    &.header {
                      font-weight: bold;
                      font-variant: small-caps;
                    }
                  }

                  &:not(:first-of-type) {
                    border-left: 1px solid $lightBlack;
                  }
                }

                &.effets {
                  display: flex;
                  text-align: justify;
                  height: 34px;
                  justify-content: left;
                  padding-bottom: 5px;
                  flex-wrap: wrap;
                  margin-left: auto;
                  margin-right: auto;
                  align-items: flex-end;

                  div {
                    position: relative;
                    width: max-content;
                    background: $lightBlack;
                    border: 1px solid black;
                    border-radius: 5px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 15px;
                    padding-right: 15px;

                    span.label {
                        font-variant: small-caps;
                        color: $white;
                        line-height: 20px;
                    }

                    &:not(:last-of-type) {
                      margin-right:5px;
                    }
                  }
                }
              }

              img {
                height:34px;
                width:34px;
                background:$white;
                border:0px;
                border-radius:0px;
                cursor:pointer;
              }

              &:not(:first-of-type) {
                border-top:2px solid $lightBlue;
              }
            }
          }
        }
      }
    }

    @include limited();
}