.knight-roll {
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 2px;

  div {
    &.tags {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2px;
      justify-content: space-between;

      span {
        display: inline-block;
        padding:2px;
        font-variant: small-caps;
        font-size: 13px;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 2px $black;
        text-align:center;
        font-weight: bold;
        letter-spacing: 0.5px;
      }
    }

    &.dice-result {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2px;
      cursor: pointer;
    }

    &.dice-flavor {
      text-align: right;
      font-size: var(--font-size-12);
    }

    &.dice-formula {
      border-radius:0px;
      box-shadow: 1px 1px 2px $black;
      margin: 0;
      line-height: 24px;
      text-align: center;
      background: rgba(0, 0, 0, 0.1);
      border: 1px solid var(--color-border-light-2);
    }

    &.dice-tooltip {
      display: none;
    }

    &.important {
      font-variant: small-caps;
      font-weight: bold;
      font-size: 20px;
    }

    &.listTargets {
      display: grid;
      grid-template-columns: 1fr;
      text-align: left;
      font-variant: small-caps;
      font-size: 16px;
      box-shadow: 1px 1px 2px $black;
      background: rgba(0, 0, 0, 0.1);
      border: 1px solid var(--color-border-highlight);
      margin-bottom: 5px;
      margin-top: 5px;

      div {
        &.target {
          display: grid;
          grid-template-columns: 1fr max-content;
          padding-left: 5px;
          padding-right: 5px;

          cursor:help;

          &.sub {
            font-size: 14px;
            line-height: 14px;
          }

          &.withTooltip {
            cursor: pointer;
          }
        }

        &.dice-tooltip {
          padding-left: 5px;
          border-top: 1px solid var(--color-text-light-6);
          border-bottom: 1px solid var(--color-text-light-6);

          span {
            &.part-formula {
              font-size: var(--font-size-14);
            }

            &.part-total {
              font-size: var(--font-size-16);
            }
          }

          .roll.d6 {
            filter:brightness(1.25);
          }
        }
      }

      span {
        &.label {
          font-weight: bold;
        }

        &.hit {
          font-weight: bold;
          color: $green;
        }

        &.dmg {
          font-weight: bold;
          color: $red;
        }

        &.fail {
          font-weight: bold;
          color: $red;
        }

        &.subtitle {
          grid-column: 1 / 3;
        }

        &.defense {
          text-align: right;
          font-size: 14px;
          line-height: 14px;
        }
      }

      &.outer {
        margin-top: 3px;
        margin-bottom: 3px;
      }

      &.notFirst {
        margin-top: 0px;
      }
    }

    &.btn,
    &.tgtBtn {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;

      button {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        background: $lightBlack;
        color: $white;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        align-items: center;
        height: 20px;
        min-height: 20px;
        line-height: 20px;
        padding: 0px;
        font-variant: small-caps;

        &.full {
          grid-column: 1 / 3;
        }

        &:hover {
          background: $white;
          color: $black;
        }
      }

      &.full {
        grid-template-columns: 1fr;
      }

      &.debordement {
        margin-top: 2px;
      }
    }

    &.effets {
      display: flex;
      flex-wrap: wrap;
      text-align: left;
      font-size: 16px;
      box-shadow: 1px 1px 2px $black;
      background: rgba(0, 0, 0, 0.1);
      border: 1px solid var(--color-border-light-2);
      padding-left: 2px;
      padding-right: 2px;
      text-align: justify;

      span {
        display: contents;
        font-variant: small-caps;
        font-size: 14px;
        letter-spacing: 0.5px;
        cursor: help;
      }
    }

    &.details {
      display: grid;
      grid-template-columns: 1fr 50px;
      text-align: left;
      font-size: 16px;
      box-shadow: 1px 1px 2px $black;
      background: rgba(0, 0, 0, 0.1);
      border: 1px solid var(--color-border-light-2);
      padding-left: 2px;
      padding-right: 2px;

      &.withTooltip {
        cursor: pointer;

        div.dice-tooltip {
          grid-column: 1 / 3;
          background: $veryLightBlack;
          padding: 2px;
          margin-left: -2px;
          margin-right: -2px;
          color: $lightGrey;
        }
      }

      span {
        &.label {
          display: grid;
          width: 100%;
          font-weight: bold;
          font-variant: small-caps;
          font-size: 14px;
          height: 20px;
          align-items: flex-end;
        }

        &.value {
          display: grid;
          width: 100%;
          font-weight: bold;
          font-size: 18px;
          height: 20px;
          align-items: flex-end;
          justify-content: right;
        }

        &.description {
          grid-column: 1 / 3;
          display: grid;
          width: 100%;
          text-align: justify;
          font-size: 12px;
        }

        &.merge {
          grid-column: 1 / 3;
        }
      }
    }

    &.success {
      color: $green;
      font-variant: small-caps;
      font-size: 16px;
    }

    &.fail {
      color: $red;
      font-variant: small-caps;
      font-size: 16px;
    }

    &.text {
      &.important {
        font-variant: small-caps;
        font-weight: bold;
      }
    }
  }

  h4 {
    &.dice-total {
      display: grid;
      line-height: 24px;
      text-align: center;
      background: rgba(0, 0, 0, 0.1);
      border: 1px solid var(--color-border-light-2);
      border-radius: 3px;
      box-shadow: 1px 1px 2px $black;
      word-break: break-all;
      margin: 0px;

      font-size: 20px;
      font-weight: bold;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  span {
    &.caracs {
      word-break: break-word;
    }

    &.explode {
      display:block;
      width:100%;
      text-align: center;
      color:$green;
      font-variant: small-caps;
      font-size:18px;
    }

    &.epicFail {
      display:block;
      width:100%;
      text-align: center;
      color:$red;
      font-variant: small-caps;
      font-size:18px;
    }

    &.dice-success {
      display:block;
      width:100%;
      color:$green;
    }

    &.dice-fail {
      display:block;
      width:100%;
      color:$red;
    }
  }

  button {
    &.btn {
      background: rgba(0, 0, 0, 0.1);
      box-shadow: 1px 1px 4px $black;

      &:hover {
        background:$black;
        color:$lightGrey;
      }
    }

    &.degats,
    &.violence {
      margin-top:5px;
    }

    &.btnDgts,
    &.btnViolence {
      order:3;
    }

    &.relancedegats,
    &.full {
      grid-column: 1 / 3;
    }
  }
}