.knight-roll {
    cursor:pointer;

    div {
      &.flavor-wpn {
        font-size:14px;
        font-weight:bold;
      }

      &.dice-formula {
        border-radius:0px;
        box-shadow: 1px 1px 2px $black;
      }

      &.dice-total {
        display:block;
        width:100%;
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid var(--color-border-light-2);
        box-shadow: 1px 1px 2px $black;

        h4.dice-total {
          border:0px;
          background:transparent;
          box-shadow:none;
        }

        span {
          font-size: 13px;
          font-weight: normal;
          text-align: left;
          display: block;
          padding-left: 5px;
          padding-right: 5px;
          line-height: 16px;
        }
      }

      &.dice-explode {
        margin-bottom:-2px;
        border-bottom:0px;
        border-radius:0px;
      }

      &.subResult {
        div {
          &.dice-formula {
            border-top:0px;
            margin-bottom:0px;

            span {
              &.label {
                font-weight:bold;
                font-variant: small-caps;
                padding-left:5px;
                padding-right:5px;
              }

              &.result {
                font-weight:bold;
                padding-left:5px;
                padding-right:5px;
              }

              &.description {
                display:block;
                width:100%;
                text-align: justify;
                line-height: 18px;
                font-size:13px;
                padding-left:5px;
                padding-right:5px;

                p {
                  margin:0px;
                  word-break:break-word;
                }
              }
            }
          }
        }
      }

      &.otherResults {
        div {
          &.dice-formula {
            text-align: justify;
            margin-top:5px;
            padding-left:5px;
            padding-right:5px;
            line-height: 19px;
            word-break: break-word;

            div {
              &.oneLine {
                display:blocK;
                width:100%;
                text-align: center;
                line-height: 24px;

                span {
                  &.label {
                    font-weight:bold;
                    font-variant: small-caps;
                    padding-left:5px;
                    padding-right:5px;
                  }
                }
              }
            }

            >span {
              &.label {
                font-size:13px;
              }
            }
          }


        }
      }

      &.oneLine {
        display:flex;
        width:100%;
        justify-content: space-between;
      }

      &.style {
        margin-bottom:5px;

        div.dice-total {
          font-size:14px;
        }
      }

      &.atkTouche {
        div.dice-formula {
          margin-bottom: 5px;
          margin-top: 5px;
          border-color: $white;

          &::before {
            content: attr(title);
            position: absolute;
            left: 0px;
            top: -5px;
            background: white;
            border-radius: 5px;
            padding-left: 5px;
            padding-right: 5px;
            width: 75px;
            word-break: keep-all;
            line-height: 15px;
          }
        }
      }

      &.toHide {
        border: 1px solid $white;
        border-radius: 0px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

        div.dice-formula {
          padding-top: 30px;
          margin-bottom: 5px;
          margin-top: 5px;
          border-color: $white;

          &::before {
            content: attr(title);
            position: absolute;
            left: 0px;
            top: -5px;
            background: white;
            border-radius: 5px;
            width: 100%;
            height: 30px;
            word-break: keep-all;
            line-height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          span {
            width: 100%;
            display: block;
            text-align: left;
            padding-left: 5px;
          }
        }

        div.dice-total {
          border-color: $white;
        }
      }
    }

    span {
      &.caracs {
        word-break: break-word;
      }

      &.explode {
        display:block;
        width:100%;
        text-align: center;
        color:$green;
        font-variant: small-caps;
        font-size:18px;
      }

      &.epicFail {
        display:block;
        width:100%;
        text-align: center;
        color:$red;
        font-variant: small-caps;
        font-size:18px;
      }

      &.dice-success {
        display:block;
        width:100%;
        color:$green;
      }

      &.dice-fail {
        display:block;
        width:100%;
        color:$red;
      }

      &.fullLine {
        display:block;
        width:100%;
      }
    }

    h4 {
      &.dice-exploit {
        margin-top:5px;
        flex: 0;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        line-height: 24px;
        text-align: center;
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid var(--color-border-light-2);
        border-radius: 3px;
        box-shadow: 0 0 2px #fff inset;
        word-break: break-all;
        font-variant: small-caps;
        color:$green;
      }
    }

    button {
      &.btn {
        background: rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 4px $black;

        &:hover {
          background:$black;
          color:$lightGrey;
        }
      }

      &.btnDgts,
      &.btnViolence {
        order:3;
      }
    }
}