.vehicule {
    section.menu {
      padding-bottom:1px;

      div.energie,
      div.armure {
        div.line {
          display:grid;
          width:100%;
          line-height:29px;
          grid-template-columns: 30px 1fr 26px 8px 26px;

          span.option {
            display: inline-block;
            width:30px;
            height:30px;
            text-align:center;
            border-bottom: 1px solid $black;

            img {
              height:29px;
              width:29px;
              border:0px;
              cursor:pointer;

              &:hover {
                filter: drop-shadow(0px 0px 5px $blue);
              }
            }
          }

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:14px;
            letter-spacing: 1px;
            padding-left:5px;
            border-bottom: 1px solid $black;
          }

          input {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border:0px;
            border-radius:0px;
            padding:0px;
            margin:0px;
            padding-bottom:1px;
            z-index:10;
            border-bottom: 1px solid $lightBlack;
          }

          span.separation {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border-bottom: 1px solid $lightBlack;
          }

          span.score {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border-bottom: 1px solid $lightBlack;
          }
        }

        div.subLine {
          display: grid;
          width:100%;
          line-height:30px;
          grid-template-columns: 1fr 60px;

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:16px;
            letter-spacing: 1px;
            padding-left:5px;
            border-bottom: 1px solid $black;
          }

          input {
            display: inline-block;
            width:60px;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border:0px;
            border-radius:0px;
            padding:0px;
            margin:0px;
            border-bottom: 1px solid $lightBlack;
          }
        }
      }

      div.champDeForce {
        div.line {
          display:grid;
          width:100%;
          line-height:29px;
          grid-template-columns: 30px 1fr 60px;

          span.option {
            display: inline-block;
            width:100%;
            height:30px;
            text-align:center;

            img {
              height:29px;
              width:29px;
              border:0px;
              cursor:pointer;

              &:hover {
                filter: drop-shadow(0px 0px 5px $blue);
              }
            }
          }

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:14px;
            letter-spacing: 1px;
            padding-left:5px;
          }

          span.score {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border:0px;
            border-radius:0px;
            padding:0px;
            margin:0px;
            padding-bottom:1px;
            z-index:10;
          }
        }

        div.subLine {
          display: grid;
          width:100%;
          line-height:30px;
          grid-template-columns: 1fr 60px;

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:16px;
            letter-spacing: 1px;
            padding-left:5px;
            border-top: 1px solid $black;
          }

          input {
            display: inline-block;
            width:60px;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border:0px;
            border-radius:0px;
            padding:0px;
            margin:0px;
            border-top: 1px solid $lightBlack;
          }
        }
      }

      div.passagers,
      div.manoeuvrabilite,
      div.vitesse {
        div.line {
          display:grid;
          grid-template-columns: 1fr 35px;
          width:100%;
          line-height:29px;

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:14px;
            letter-spacing: 1px;
            padding-left:5px;
          }

          input {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border:0px;
            border-radius:0px;
            padding:0px;
            margin:0px;
            padding-bottom:1px;
            z-index:10;
          }
        }
      }

      div.passagers {
        div.line {

          span.label {
            border-bottom: 1px solid $black;
          }

          input {
            border-bottom: 1px solid $lightBlack;
          }
        }
      }

      div.reaction,
      div.defense {
        div.line {
          display:grid;
          width:100%;
          line-height:29px;
          grid-template-columns: 1fr 45px;

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:14px;
            letter-spacing: 1px;
            padding-left:5px;
            border-bottom: 1px solid $black;
          }

          span.score {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:16px;
            border-bottom: 1px solid $lightBlack;
          }
        }
      }

      div.manoeuvrabilite {
        div.line {
          span {
            border-bottom:0px !important;
          }
        }
        button {
          width: 100%;
          font-size:11px;
          line-height: 20px;
          background:$black;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          border-top:1px solid $lightBlack;
          border-bottom: 1px solid $lightBlack;
          border-radius: 0px;
          font-variant: small-caps;
          color:$white;
          cursor:pointer;
          margin:0px;
        }
      }

      div.initiative {
        div.line {
          display:grid;
          width:100%;
          line-height:29px;
          grid-template-columns: 1fr 45px;

          span.label {
            display:inline-block;
            width:100%;
            height:30px;
            font-variant: small-caps;
            font-size:14px;
            letter-spacing: 1px;
            padding-left:5px;
            border-bottom: 1px solid $black;
          }

          span.score {
            display: inline-block;
            width:100%;
            height:30px;
            background:$black;
            text-align:center;
            font-size:12px;
            border-bottom: 1px solid $black;
          }
        }
      }

      section.mainBlock {
        display:block;

        >div {
          display:block;

          &.espoir {
            div.line {
              span {
                &.label,
                &.separation {
                  border-bottom:0px;
                }
              }

              input {
                border-bottom:0px;
              }
            }
          }
        }

        &:not(:first-of-type) {
          >div {
            &:first-of-type {
              border-top:1px solid black;
            }
          }
        }

        &:not(:last-of-type) {
          padding-bottom:5px;
          margin-bottom:5px;
          border-bottom:5px double $black;

          >div:last-of-type {
            border-bottom:1px solid black;
          }
        }
      }

      section.hidden {
        display:none;
      }
    }

    header.sheet-header {
      .headerData {
        .data {
          height: 100%;
          div {
            &.pilote,
            &.passagers {
              display: flex;
              flex-wrap: wrap;
              width:calc(50% - 5px);
              flex:none;
              margin-top:5px;
              border:1px solid $lightBlack;
              align-items: flex-start;
              align-content: flex-start;
              min-height: 54px;

              span {
                line-height: 26px;

                &.label {
                  display:flex;
                  width:100%;
                  white-space: nowrap;
                  justify-content: center;
                  text-align: center;
                  background:$lightBlack;
                }

                &.value {
                  display:flex;
                  position:relative;
                  width:100%;
                  justify-content: center;
                  text-align: center;
                  background:$black;

                  div.gestionButton {
                    position:absolute;
                    right:5px;
                  }
                }
              }
            }
            &.pilote {
              height: 54px;
            }
            &.passagers {
              max-height: calc(100% - 48px - 10px);
              & > .values {
                width: 100%;
                height: calc(100% - 26px);
                overflow-y: auto;
              }
            }
          }

          label {
            input {
              text-align: center;
            }
          }
        }
      }
    }

    section.body {
      @include header();

      width:calc(100% - 160px);
      padding-left:10px;
      padding-top:40px;
      padding-right:0px;
      padding-bottom:0px;
      position:relative;

      nav {
        position:absolute;
        width:100%;
        border-color:$white;
        flex:none;
        margin:0px;
        top:-1px;
        left:0px;
        justify-content: left !important;

        a {
          font-variant: small-caps;
        }
      }

      div.vehicule,
      div.personnage {
        div.description {
          margin-bottom: 10px;

          div.editor {
            min-height:130px;
            border-bottom: 1px solid $lightBlue;
            border-left: 1px solid $lightBlue;
            border-right: 1px solid $lightBlue;
            background:$lightBlack;

            div.editor-content {
              padding-left:5px;
              padding-right:5px;
            }
          }
        }
      }

      div.modules {
        flex-wrap: wrap;
        justify-content: space-between;
        border:1px solid $lightBlue;
        width:100%;
        margin-top:5px;

        h2.header {
          .item-create {
            position: absolute;
            right: 5px;
            line-height: 22px;
          }
        }

        h3 {
          display: block;
          position:relative;
          width: 100%;
          text-transform: uppercase;
          color: $white;
          background: $lightBlack;
          margin: 0px;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
          border-bottom: 1px solid $black;
          line-height: 21px;
          padding-top: 2px;
          font-size: 20px;
          padding-left: 20px;
          font-weight: bold;
          letter-spacing: 1px;

          .far {
              cursor:pointer;
          }
        }

        img.profile-img {
          box-sizing: border-box;
          border-top:0px;
          border-left:0px;
          border-bottom: 1px solid var(--color-border-dark);
          border-right: 1px solid var(--color-border-dark);
          border-radius: 0px;
          width: 153px;
          object-fit: contain;
        }

        span.description {
          display:block;
          width:calc(100% - 155px);
          padding-left:0.5em;
          padding-right:0.5em;
        }

        div {
          &.main {
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border:1px solid $lightBlue;
            width:100%;
            margin-top:5px;
          }


          &.bModule {
            display:flex;
            width:100%;
            flex-wrap: wrap;

            header {
              display: block;
              position:relative;
              width: 100%;
              text-transform: uppercase;
              color: $white;
              background: $lightBlack;
              margin: 0px;
              border-top: 0px;
              border-left: 0px;
              border-right: 0px;
              border-bottom: 1px solid $black;
              line-height: 22px;
              padding-top: 2px;
              font-size: 20px;
              padding-left: 5px;
              font-weight: bold;
              letter-spacing: 1px;
              white-space: nowrap;

              span {
                &.mainSpan {
                  width: calc(100% - 210px - 65px);
                  display: inline-grid;
                  grid-template-columns: calc(100% - 150px) auto 40px;
                  grid-template-rows: auto auto;
                  grid-row-gap: 2px;
                  align-items: baseline;

                  &.fullSpan {
                    grid-template-columns: 100%;
                  }
                }

                &.subSpanLabel {
                  grid-row: 1 / 3;
                  display:inline-block;
                  width:100%;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  vertical-align: middle;
                }

                &.subSpanNiveau {
                  grid-row: 1 / 3;
                  display:inline-block;
                  width:100%;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  vertical-align: middle;
                }

                i {
                  font-size:7px;
                  text-align: center;
                  width:100%;
                  height:10px;
                  background: $black;
                  padding: 2px;
                  cursor:pointer;

                  &:hover {
                    box-shadow: 0px 0px 2px white;
                  }

                  &.hidden {
                    display:none;
                  }

                  &.moduleArrowUp {
                    align-self:end;
                  }

                  &:first-of-type {
                    grid-row: 1;
                    grid-column: 3;
                  }

                  &:last-of-type {
                    grid-row: 2;
                    grid-column: 3;
                  }
                }
              }

              .far {
                cursor:pointer;
              }

              div.blockMultiline {
                position:relative;
                width: 210px;
                margin-right: 40px;
                display: flex;
                top: 0px;
                margin-left: auto;
                flex-wrap: wrap;
                min-height:22px;
                margin-top:-22px;

                button {
                  position:relative;
                  width: 205px;
                  min-height:23px;
                  margin:0px;
                  line-height: 100%;
                  background:$black;
                  border-top: 1px solid $black;
                  border-left: 1px solid $lightBlack;
                  border-right: 1px solid $black;
                  border-bottom: 1px solid $lightBlack;
                  border-radius: 0px;
                  font-variant: small-caps;
                  color:$white;
                  cursor:pointer;
                  top:0px;
                  overflow: hidden;
                  text-overflow: ellipsis;

                  &.choisi {
                    background:$lightBlack;
                  }
                }
              }

              div {
                &.gestionButton {
                  display: flex;
                  height: 26px;
                  justify-content: space-between;
                  position: absolute;
                  right: 5px;
                  width: 33px;
                  align-items: center;
                  z-index: 90;
                  top: 0px;
                  font-size: 15px;
                }
              }
            }
          }

          &.mainBlock {
            display:flex;
            justify-content: space-between;
            align-items: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;

            width:100%;
            margin-top:5px;
            padding:5px;

            div {
              &.mSlots {
                width: 100%;
                display: flex;
                align-items: baseline;
                align-content: baseline;
                flex-wrap: wrap;
                border:1px solid black;
                margin-bottom:5px;

                h4 {
                  width:100%;
                  background:$lightBlack;
                  margin:0px;
                  padding-left:5px;
                  line-height: 26px;
                  border-bottom:1px solid black;

                  &.title {
                    font-variant: small-caps;
                    font-size: 17px;
                    border-bottom: 2px solid black;
                  }
                }

                div {
                  &.block {
                    display: flex;
                    width: calc(100% / 6);
                    flex-wrap: wrap;

                    span {
                      &.title {
                        display: inline-block;
                        width: 100%;
                        font-variant: small-caps;
                        text-align: center;
                        background: $lightBlack;
                        padding-top: 5px;
                        line-height: 22px;
                      }

                      &.score {
                        display: inline-block;
                        width: 100%;
                        font-variant: small-caps;
                        text-align: center;
                        background: $lightBlack;
                        padding-top: 5px;
                        line-height: 22px;
                        border-top:1px solid black;
                      }
                    }

                    &:not(:first-of-type) {
                      border-left:1px solid black;
                    }
                  }
                }
              }

              &.data {
                width:calc(50% - 5px);
                border:1px solid black;
                margin-bottom:5px;

                h4 {
                    width:100%;
                    background:$lightBlack;
                    margin:0px;
                    padding-left:5px;
                    line-height: 26px;
                    border-bottom:1px solid black;

                    &.separation {
                      border-top:5px double black;
                    }

                    &.title {
                      font-variant: small-caps;
                      font-size: 17px;
                      border-bottom: 2px solid black;
                    }

                    &.simpleSeparationBottom {
                      border-bottom:1px solid black;
                    }
                }

                span {
                  &.description {
                    text-align: justify;
                    border-bottom:1px solid $lightBlack;
                  }

                  &.oneLine {
                    display:block;
                    width:100%;
                    text-align: center;
                    font-variant: small-caps;
                    line-height: 30px;
                    border-top:1px solid black;
                  }

                  &.button {
                    display:flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    width:100%;
                    border-top: 1px solid black;
                    border-bottom: 1px solid black;
                    font-variant: small-caps;
                    border-radius: 0px;
                    color: white;
                    margin: 0px;
                    line-height: 20px;
                    min-height:32px;

                    &:not(:last-of-type) {
                      margin-bottom:5px;
                    }

                    &:last-of-type {
                      border-bottom:0px;
                    }

                    &.selected {
                      background:$lightBlack;
                    }

                    &.noMarginBottom {
                      margin-bottom:0px;
                    }
                  }

                  &.black {
                    background:$black;
                  }

                  &.lightBlack {
                    background:$lightBlack;
                  }

                  &.noBorderTop {
                    border-top:0px;
                  }

                  &.noBorderBottom {
                    border-bottom:0px;
                  }

                  &.borderBottom {
                    border-bottom:1px solid black !important;
                  }
                }

                div {
                    display:flex;
                    width:100%;
                    justify-content: space-between;
                    flex:none;

                    span {
                      &.header {
                        line-height: 26px;
                        padding-left:5px;
                        background:$lightBlack;
                      }

                      &.score {
                        display: flex;
                        line-height: 26px;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                      }

                      &.textarea {
                        line-height: 16px;
                        text-align: justify;
                        padding: 5px;
                      }

                      &.alignLeft {
                        text-align: justify;
                        justify-content: left;
                        padding-left:5px;
                      }
                    }

                    &.longspan {
                      line-height: 26px;

                        span {
                          &.header {
                            width:calc(100% - 50px);
                          }

                          &.score {
                            width:50px;
                          }
                        }
                    }

                    &.shortspan {
                      line-height: 26px;

                        span {
                          &.header {
                            width:90px;
                          }

                          &.score {
                            width:calc(100% - 90px);
                          }
                        }
                    }

                    &.middlespan {
                      line-height: 26px;

                        span {
                          &.header,
                          &.score {
                            width:50%;
                          }
                        }
                    }

                    &.multiligne {
                      line-height: 26px;

                      span {
                        &.score {
                          line-height: 19px;
                          text-align: justify;
                          padding-left:0.5em;
                          padding-right:0.5em;
                        }
                      }
                    }

                    &.line {
                      display:flex;
                      justify-content: space-between;

                      div.oneLine {
                        display:flex;
                        flex-wrap: wrap;
                        width:100%;
                        flex:none;
                        border-bottom:1px solid black;

                        span {
                          &.header {
                            width:100%;
                            padding:0px;
                            line-height: 26px;;
                            background:$lightBlack;
                            text-align: center;
                            border-top:0px;
                          }

                          &.score {
                            width:100%;
                            padding:0px;
                            line-height: 26px;;
                            background:$black;
                            text-align: center;
                          }
                        }

                      }

                      div.doubleLine {
                          display:flex;
                          flex-wrap: wrap;
                          width:50%;
                          flex:none;
                          border-bottom:1px solid black;

                          span {
                            &.header {
                              width:100%;
                              padding:0px;
                              line-height: 26px;;
                              background:$lightBlack;
                              text-align: center;
                              border-top:0px;
                            }

                            &.score {
                              width:100%;
                              padding:0px;
                              line-height: 26px;;
                              background:$black;
                              text-align: center;
                            }
                          }

                          &:not(:first-of-type) {
                              >span {
                                &.header {
                                  border-left:1px solid $black;
                                }

                                &.score {
                                  border-left:1px solid $lightBlack;
                                }
                              }
                          }
                      }

                      div.tripleLine {
                          display:flex;
                          flex-wrap: wrap;
                          width:calc(100% / 3);
                          flex:none;
                          border-bottom:1px solid black;

                          span {
                            &.header {
                              width:100%;
                              padding:0px;
                              line-height: 26px;;
                              background:$lightBlack;
                              text-align: center;
                              border-top:0px;
                            }

                            &.score {
                              width:100%;
                              padding:0px;
                              line-height: 26px;;
                              background:$black;
                              text-align: center;
                            }
                          }

                          &:not(:first-of-type) {
                              >span {
                                &.header {
                                  border-left:1px solid $black;
                                }

                                &.score {
                                  border-left:1px solid $lightBlack;
                                }
                              }
                          }

                          &.noSeparation {
                            span {
                              &.score {
                                border-top:0px;
                              }
                            }
                          }
                      }

                      &.noBottomSeparation {
                        div.oneLine,
                        div.doubleLine,
                        div.tripleLine {
                          border-bottom:0px;
                        }
                      }

                    }

                    &.singleLine {
                      display: flex;
                      width: 100%;
                      line-height: 26px;
                      justify-content: space-between;
                      flex: none;

                      span {
                        &.header {
                          width:100%;
                          padding:0px;
                          line-height: 26px;;
                          background:$lightBlack;
                          text-align: center;
                          border-top:0px;
                        }

                        &.score {
                          width:100%;
                          padding:0px;
                          line-height: 26px;;
                          background:$black;
                          text-align: center;
                        }
                      }
                    }

                    &.table5 {
                      flex-wrap: nowrap;

                      div.col1,
                      div.colA {
                        display:flex;
                        flex-wrap: wrap;
                        width:calc(100% / 5);

                        span {
                          display: inline-block;
                          width: 100%;
                          line-height: 26px;
                          border-top:1px solid black;

                          &.header {
                            background:$lightBlack;
                            font-variant: small-caps;
                            text-align: center;
                          }
                        }
                      }

                      div.col1 {
                        span.score {
                          text-align: right;
                          padding-right: 5px;
                        }
                      }

                      div.colA {
                        span {
                          &.header {
                            border-left:1px solid black;
                          }

                          &.score {
                            text-align: center;
                            border-left:1px solid black;
                          }
                        }
                      }
                    }

                    &.table7 {
                      flex-wrap: nowrap;

                      div.col1 {
                        display:flex;
                        flex-wrap: wrap;
                        width:30px;

                        span {
                          display: inline-block;
                          width: 100%;
                          line-height: 26px;
                          border-top:1px solid black;

                          &.header {
                            background:$lightBlack;
                            font-variant: small-caps;
                            text-align: center;
                            height:27px;
                            border-top:0px;
                          }

                          &.score {
                            text-align: center;
                          }
                        }
                      }

                      div.colA {
                        display:flex;
                        flex-wrap: wrap;
                        width:calc((100% / 6) - 5px);

                        span {
                          display: inline-block;
                          width: 100%;
                          line-height: 26px;
                          border-top:1px solid black;

                          &.header {
                            background:$lightBlack;
                            font-variant: small-caps;
                            text-align: center;
                            height:27px;
                            border-top:0px;
                            border-left:1px solid black;
                          }

                          &.score {
                            text-align: center;
                            border-left:1px solid black;
                          }
                        }
                      }
                    }

                    &.aspect {
                      display:flex;
                      flex-wrap: wrap;
                    }

                    &.separation {
                        span {
                          &.header {
                            border-top:5px double $black !important;
                          }

                          &.score {
                            border-top:5px double $lightBlack !important;
                          }

                        }
                    }

                    &.noSeparation {
                        span {
                          &.header {
                            border-top:0px !important;
                          }

                          &.score {
                            border-top:0px !important;
                          }

                        }
                    }

                    &.noSeparationTop {
                      border-top:0px !important;
                    }

                    &.noSeparationLeft {
                      border-left:0px !important;
                    }

                    &.separationRight {
                      border-right:1px solid black !important;
                    }

                    &.demiWidth {
                      width:calc(50% - 5px);
                      margin-bottom:5px;

                      &:nth-of-type(odd) {
                        border-top:1px solid black;
                        border-left:1px solid black;
                        border-bottom:1px solid black;
                      }

                      &:nth-of-type(even) {
                        border-top:1px solid black;
                        border-right:1px solid black;
                        border-bottom:1px solid black;
                      }
                    }

                    &.effets {
                      display: flex;
                      position:relative;
                      width: 100%;
                      justify-content: space-evenly;
                      flex-wrap: wrap;
                      padding-right: 5px;
                      padding-bottom: 5px;
                      padding-left: 5px;
                      border-top: 1px solid black;

                      @include effets();
                    }

                    &.hidden {
                      display:none !important;
                  }

                    &:not(:first-of-type) {
                        span {
                          &.header {
                            border-top:1px solid $black;
                          }

                          &.score {
                            border-top:1px solid $lightBlack;
                          }

                        }
                    }
                }

                &.line {
                  display:flex;
                  justify-content: space-between;

                  div.tripleLine {
                      display:flex;
                      flex-wrap: wrap;
                      width:calc(100% / 3);
                      flex:none;

                      span {
                        &.header {
                          width:100%;
                          padding:0px;
                          line-height: 26px;;
                          background:$lightBlack;
                          text-align: center;
                          border-top:0px;
                        }

                        &.score {
                          width:100%;
                          padding:0px;
                          line-height: 26px;;
                          background:$black;
                          text-align: center;
                        }
                      }

                      &:not(:first-of-type) {
                          >span {
                            &.header {
                              border-left:1px solid $black;
                            }

                            &.score {
                              border-left:1px solid $lightBlack;
                            }
                          }
                      }
                  }
                }

                &.fullWidth {
                  display:flex;
                  width:100%;
                  justify-content: space-between;
                  flex-wrap: wrap;
                }

                &.pnj {
                  div.mainBlock {
                    display:flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width:100%;

                    span {
                      &.pnjName {
                        display:block;
                        width:100%;
                        margin-bottom:5px;
                        font-variant: small-caps;
                        letter-spacing: 1px;
                        font-size:15px;
                      }

                      &.header {
                        line-height: 26px;
                        padding-left:5px;
                        background:$lightBlack;
                      }

                      &.score {
                        display: flex;
                        line-height: 26px;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                      }

                      &.textarea {
                        line-height: 16px;
                        text-align: justify;
                        padding: 5px;
                      }

                      &.alignLeft {
                        text-align: justify;
                        justify-content: left;
                        padding-left:5px;
                      }
                    }

                    div {
                      display:flex;
                      width:100%;
                      justify-content: space-between;
                      flex:none;

                      &.middlespan {
                        line-height: 26px;

                          span {
                            &.header,
                            &.score {
                              width:50%;
                            }
                          }
                      }

                      &.aspects {
                        display:flex;
                        width:100%;
                        align-items: baseline;
                        align-content: baseline;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        >div {
                            width:calc((100% / 3) - 5px);
                            border:1px solid black;
                            flex-wrap: wrap;
                            margin-bottom:5px;
                        }
                      }

                      &.armes {
                        display:flex;
                        width:calc(70% - 5px);
                        align-items: baseline;
                        align-content: baseline;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        border:1px solid black;
                        margin-top:5px;

                        h4 {
                          width: 100%;
                          background: RGB(76 74 90);
                          margin: 0px;
                          padding-left: 5px;
                          line-height: 26px;
                          border-bottom: 1px solid black;
                        }

                        >div {
                            display:flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            width:100%;

                            div {
                              span {
                                line-height: 26px;
                              }

                              &.header {
                                  position:relative;
                                  display:flex;
                                  width:100%;
                                  justify-content: space-between;

                                  span {
                                      display:inline-block;
                                      font-size:13px;
                                      font-variant: small-caps;
                                      text-align: center;
                                      background:$lightBlack;
                                      line-height: 22px;

                                      &.nom {
                                          width:calc(100% - 150px);
                                      }

                                      &.type {
                                          width:150px;
                                      }

                                      &.portee {
                                          width:calc(100% / 3);
                                      }

                                      &.degats,
                                      &.violence {
                                          width:calc(100% / 3);
                                          border-left:1px solid $black;
                                      }

                                      &:not(:first-of-type) {
                                          border-left:1px solid $black;
                                      }
                                  }

                                  a {
                                      position: absolute;
                                      right: 5px;
                                      line-height: 22px;
                                  }
                              }

                              &.line {
                                  display:flex;
                                  width:100%;
                                  justify-content: space-between;

                                  span {
                                      &.nom {
                                          display:flex;
                                          width:calc(100% - 150px);
                                          padding-left:5px;
                                      }

                                      &.type {
                                          display:flex;
                                          width:150px;
                                          border-left:1px solid $lightBlack;
                                          text-align: center;
                                          justify-content: center;
                                      }

                                      &.portee {
                                          display:flex;
                                          width:calc(100% / 3);
                                          text-align: center;
                                          justify-content: center
                                      }

                                      &.degats,
                                      &.violence {
                                          display:flex;
                                          text-align: center;
                                          justify-content: center;
                                          background:$black;
                                          width:calc(100% / 3);
                                          border-left:1px solid $lightBlack;
                                      }
                                  }
                              }

                              &.effets {
                                  display: flex;
                                  position:relative;
                                  width: 100%;
                                  justify-content: space-evenly;
                                  flex-wrap: wrap;
                                  padding-right: 5px;
                                  padding-left: 5px;
                                  margin-top:0px !important;
                                  border-top:1px solid $lightBlack;
                                  border-right:0px !important;
                                  border-left:0px !important;

                                  @include effets();
                              }
                            }

                            &:not(:first-of-type) {
                                border-top:5px double black;
                            }
                        }
                      }

                      &.col3 {
                        width:calc((100% / 3) - 5px);
                        flex-wrap: wrap;
                        border:1px solid black;
                      }

                      &.noSeparation {
                        span {
                          &.header {
                            border-top:0px !important;
                          }

                          &.score {
                            border-top:0px !important;
                          }

                        }
                      }
                    }

                    &:not(:first-of-type) {
                      border-top:5px double black;
                    }
                  }
                }
              }
            }
          }

          &.line {
            display:flex;
            width:100%;
            justify-content: space-between;
            flex-wrap: wrap;
          }
        }
      }

      div.combat {
        div.main {
          display:flex;
          width:100%;
          justify-content: space-between;
          align-items: flex-start;
          align-content: flex-start;
          flex-wrap: wrap;

          div.armesDistance {
            display:flex;
            width:calc(50% - 5px);
            margin-bottom:10px;
            flex-wrap: wrap;
            border:1px solid $lightBlue;

            div.gestionButton {
              width:30px !important;
            }

            div.block {
              display:flex;
              width:100%;
              flex-wrap: wrap;

              &:not(:first-of-type) {
                border-top:1px solid $black;
              }
            }

            h2.header {
              a {
                position:absolute;
                right:5px;
                line-height:22px;
              }
            }

            h3.header {
              display: block;
              position: relative;
              width: 100%;
              text-transform: uppercase;
              color: white;
              background: RGB(87 110 178);
              border-left: 1px solid RGB(87 110 178);
              border-right: 1px solid RGB(87 110 178);
              margin: 0px;
              border: 0px;
              line-height: 21px;
              padding-top: 2px;
              font-size: 16px;
              padding-left: 16px;
              font-weight: bold;
              letter-spacing: 1px;
            }

            @include wpnAffichage();

            div.longbow {
              display:flex;
              width:100%;
              flex-wrap: wrap;

              header {
                display:flex;
                width:100%;
                justify-content: space-between;
                position:relative;
                flex-wrap: wrap;

                span {
                  &.name {
                    width:100%;
                    text-align: center;
                    font-variant: small-caps;
                    line-height: 34px;
                  }
                }

                img {
                  position:absolute;
                  height:34px;
                  width:34px;
                  background:$white;
                  border:0px;
                  border-radius:0px;
                  cursor:pointer;
                  right:0px;
                }
              }
            }
          }

          div.col {
            display:flex;
            flex-wrap: wrap;
            width:calc(50% - 5px);

            >div {
              &.armesDistance {
                width:100%;

                div.gestionButton {
                  width:30px !important;
                }
              }

              &:not(:first-of-type) {
                margin-top:5px;
              }
            }
          }
        }
      }
    }

    @include limited();
}