
{{#unless onlyInner}}<div class="gestionButton">{{/unless}}
    <a
    class="item-edit"
    data-action="itemEdit"
    data-tooltip="{{localize "KNIGHT.AUTRE.EditItem"}}"><i class="fas fa-edit"></i></a>
    <a
    class="item-delete"
    data-action="itemDelete"
    data-tooltip="{{localize "KNIGHT.AUTRE.DeleteItem"}}"><i class="fas fa-trash"></i></a>
{{#unless onlyInner}}</div>{{/unless}}