
<div class="ascension">
    <h3 class="header">
        <i class="far fa-plus-square"></i>
        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ASCENSION.Label"}}

        {{#if ("armure" @root/systemData/wear)}}
        <div class="blockMultiline">
            <label class="energie">
                <input type="number" name="system.equipements.armure.capacites.ascension.energie" value="{{@root/systemData/equipements/armure/capacites/ascension/energie}}"
                min="{{this.energie.min}}" max="{{this.energie.max}}" />
                <span>{{localize "KNIGHT.AUTRE.PointEnergie-short"}}</span>
            </label>

            <button class="
                {{#unless this.active}}
                activation
                {{else}}
                desactivation
                {{/unless}}
                " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" 
                data-cout="{{@root/systemData/equipements/armure/capacites/ascension/energie}}"
                data-id="{{this.ascensionId}}" data-depense="{{this.depense}}">
                {{#unless this.active}}
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ASCENSION.Label"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                {{else}}
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ASCENSION.Label"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                {{/unless}}
            </button>
        </div>
        {{else}}
            {{#if this.sansarmure.acces}}
            <div class="blockMultiline"></div>
                <label class="energie">
                    <input type="number" name="system.equipements.armure.capacites.ascension.energie" value="{{@root/systemData/equipements/armure/capacites/ascension/energie}}"
                    min="{{this.energie.min}}" max="{{this.energie.max}}" />
                    <span>{{localize "KNIGHT.AUTRE.PointEnergie-short"}}</span>
                </label>

                <button class="
                    {{#unless this.active}}
                    activation
                    {{else}}
                    desactivation
                    {{/unless}}
                    " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" 
                    data-cout="{{@root/systemData/equipements/armure/capacites/ascension/energie}}"
                    data-id="{{this.ascensionId}}" data-depense="{{this.depense}}">
                    {{#unless this.active}}
                    {{localize "KNIGHT.AUTRE.Activer"}}
                    {{else}}
                    {{localize "KNIGHT.AUTRE.Desactiver"}}
                    {{/unless}}
                </button>
            </div>
            {{/if}}
        {{/if}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="data">
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.LATERAL.Energie"}}</span>
                <span class="score">
                    {{{this.energie.min}}} 
                    - 
                    {{{this.energie.max}}} 
                </span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.AUTRE.GainImpregnation"}}</span>
                <span class="score">{{{this.impregnation}}}</span>
            </div>
        </div>

        <div class="data">
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score">{{{getActivation this.activation}}}</span>
            </div>
            <div class="shortspan multiligne">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score">{{{this.duree}}}</span>
            </div>
        </div>
    </div>
</div>