<div class="changeling">
    <h3 class="header js-toggler">
        <i class="far fa-plus-square"></i>
        {{label}}

        {{#if ("armure" @root/systemData/wear)}}
        <div class="blockMultiline">
            <button class="activation "
                data-type="capacites" data-capacite="{{key}}" data-name="{{label}}"
                data-toupdate="capacites.selected.changeling.active.personnel"
                data-cout="{{energie.personnel}}"
                data-value="{{active.personnel}}">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.TransformationPersonnelle"}} : {{localizeactivate active.personnel}}
            </button>

            <button class="activation"
                data-type="capacites" data-capacite="{{key}}" data-name="{{label}}"
                data-toupdate="capacites.selected.changeling.active.etendue"
                data-cout="{{energie.etendue}}"
                data-value="{{active.etendue}}">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.TransformationEtendue"}} : {{localizeactivate active.etendue}}
            </button>
            {{#if active.fauxEtre}}
            <button class="buttonSupp prolonger" data-type="capacites" data-capacite="{{key}}" data-name="{{label}}"
                data-cout="
                {{#if active.fauxEtre}}({{data.changeling.fauxetres}}*{{energie.fauxEtre.value}}){{else}}0{{/if}}
                {{#if active.personnel}}+{{energie.personnel}}{{else}}+0{{/if}}
                {{#if active.etendue}}+{{energie.etendue}}{{else}}+0{{/if}}">
                {{localize "KNIGHT.AUTRE.Prolonger"}}
            </button>
            {{else}}
                {{#if active.personnel}}
                <button class="buttonSupp prolonger" data-type="capacites" data-capacite="{{key}}" data-name="{{label}}"
                    data-cout="
                    {{#if active.fauxEtre}}({{data.changeling.fauxetres}}*{{energie.fauxEtre.value}}){{else}}0{{/if}}
                    {{#if active.personnel}}+{{energie.personnel}}{{else}}+0{{/if}}
                    {{#if active.etendue}}+{{energie.etendue}}{{else}}+0{{/if}}">
                    {{localize "KNIGHT.AUTRE.Prolonger"}}
                </button>
                {{else}}
                    {{#if active.etendue}}
                    <button class="buttonSupp prolonger" data-type="capacites" data-capacite="{{key}}" data-name="{{label}}"
                        data-cout="
                        {{#if active.fauxEtre}}({{data.changeling.fauxetres}}*{{energie.fauxEtre.value}}){{else}}0{{/if}}
                        {{#if active.personnel}}+{{energie.personnel}}{{else}}+0{{/if}}
                        {{#if active.etendue}}+{{energie.etendue}}{{else}}+0{{/if}}">
                        {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}
            {{/if}}

            <label class="allies">
                <input type="number" name="system.equipements.armure.capacites.changeling.fauxetres"
                value="{{data.changeling.fauxetres}}"
                min="0" max="{{energie.fauxEtre.max}}" />
                <span>{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.FauxEtres"}}</span>
            </label>

            <button class="activation"
                data-type="capacites" data-capacite="{{key}}" data-name="{{label}}"
                data-toupdate="capacites.selected.changeling.active.fauxEtre"
                data-cout="{{data.changeling.fauxetres}}*{{energie.fauxEtre.value}}"
                data-value="{{active.fauxEtre}}">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.FauxEtres"}} : {{localizeactivate active.fauxEtre}}
            </button>


            {{#if desactivationexplosive.acces}}
                {{#if active.personnel}}
                <button class="activation"
                    data-type="capacites" data-capacite="{{key}}" data-name="{{label}}"
                    data-toupdate="capacites.selected.changeling.active.personnel/capacites.selected.changeling.active.etendue/capacites.selected.changeling.active.fauxEtre"
                    data-cout="0"
                    data-dgtsDice="{{desactivationexplosive.degats.dice}}",
                    data-dgtsFixe="{{desactivationexplosive.degats.fixe}}",
                    data-violenceDice="{{desactivationexplosive.violence.dice}}",
                    data-violenceFixe="{{desactivationexplosive.violence.fixe}}",
                    data-explosive="true">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.DesactivationExplosive"}}
                </button>
                {{else}}
                    {{#if active.etendue}}
                    <button class="activation"
                        data-type="capacites" data-capacite="{{key}}" data-name="{{label}}"
                        data-toupdate="capacites.selected.changeling.active.personnel/capacites.selected.changeling.active.etendue/capacites.selected.changeling.active.fauxEtre"
                        data-cout="0"
                        data-dgtsDice="{{desactivationexplosive.degats.dice}}",
                        data-dgtsFixe="{{desactivationexplosive.degats.fixe}}",
                    data-violenceDice="{{desactivationexplosive.violence.dice}}",
                    data-violenceFixe="{{desactivationexplosive.violence.fixe}}",
                        data-explosive="true">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.DesactivationExplosive"}}
                    </button>
                    {{else}}
                        {{#if active.fauxEtre}}
                        <button class="activation"
                            data-type="capacites" data-capacite="{{key}}" data-name="{{label}}"
                            data-toupdate="capacites.selected.changeling.active.personnel/capacites.selected.changeling.active.etendue/capacites.selected.changeling.active.fauxEtre"
                            data-cout="0"
                            data-dgtsDice="{{desactivationexplosive.degats.dice}}",
                            data-dgtsFixe="{{desactivationexplosive.degats.fixe}}",
                            data-violenceDice="{{desactivationexplosive.violence.dice}}",
                            data-violenceFixe="{{desactivationexplosive.violence.fixe}}",
                            data-explosive="true">
                            {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.DesactivationExplosive"}}
                        </button>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
        {{/if}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="data">
            <h4>{{localize "KNIGHT.LATERAL.Energie"}}</h4>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.ENERGIE.Personnelle"}}</span>
                <span class="score">{{this.energie.personnel}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.ENERGIE.Etendue"}}</span>
                <span class="score">{{this.energie.etendue}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.ENERGIE.ParFauxEtres"}}</span>
                <span class="score">{{this.energie.fauxEtre.value}}</span>
            </div>
            <div class="longspan separation">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.FauxEtresMax"}}</span>
                <span class="score">{{this.energie.fauxEtre.max}}</span>
            </div>
        </div>

        <div class="data">
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score">{{getActivation this.activation}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score">{{this.duree}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                <span class="score">{{this.portee}}</span>
            </div>
        </div>

        {{#if desactivationexplosive.acces}}
            <div class="data">
                <h4>{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.CHANGELING.DesactivationExplosive"}}</h4>
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                    <span class="score">{{getPortee this.desactivationexplosive.portee}}</span>
                </div>
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.AUTRE.Degats"}}</span>
                    <span class="score">{{this.desactivationexplosive.degats.dice}}{{localize "KNIGHT.JETS.Des-short"}}6+{{this.desactivationexplosive.degats.fixe}}</span>
                </div>
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.AUTRE.Violence"}}</span>
                    <span class="score">{{this.desactivationexplosive.violence.dice}}{{localize "KNIGHT.JETS.Des-short"}}6+{{this.desactivationexplosive.violence.fixe}}</span>
                </div>
                <div class="effets">
                {{#each this.desactivationexplosive.effets.liste as | key effet|}}
                    {{~> systems/knight/templates/parts/effets.html type='changeling'}}
                {{/each}}
            </div>
            </div>
        {{/if}}
    </div>
</div>
