
<div class="goliath">
    <h3 class="header js-toggler">
        <i class="far fa-plus-square"></i>
        {{label}}

        {{#if ("armure" @root/systemData/wear)}}
        <div class="blockMultiline">
            <label class="metre">
                <input type="number" class="{{#if active}}update{{/if}}"
                name="system.equipements.armure.capacites.goliath.metre"
                data-capacite="{{key}}"
                data-old="{{data.goliath.metre}}"
                data-cout="{{energie}}"
                value="{{data.goliath.metre}}"
                min="0"
                max="{{taille.max}}" />
                <span>{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GOLIATH.MetreBonus"}}</span>
            </label>
            <button class="activation"
                data-type="capacites" data-capacite="{{key}}" data-name="{{label}}"
                data-toupdate="capacites.selected.goliath.active"
                data-cout="{{energie}}*{{data.goliath.metre}}"
                data-value="{{active}}">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GOLIATH.Label"}} : {{localizeactivate active}}
            </button>
        </div>
        {{/if}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="col">
            <div class="data">
                <h4>{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GOLIATH.TailleBonus"}}</h4>
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.AUTRE.Maximum-short"}}</span>
                    <span class="score">{{this.taille.max}}</span>
                </div>
                <div class="longspan separation">
                    <span class="header">{{localize "KNIGHT.LATERAL.Energie"}} / {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GOLIATH.MBonus"}}</span>
                    <span class="score">{{this.energie}}</span>
                </div>
                <div class="shortspan separation">
                    <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                    <span class="score">{{getActivation this.activation}}</span>
                </div>
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                    <span class="score">{{this.duree}}</span>
                </div>
            </div>

            <div class="data">
                <h4>{{localize "KNIGHT.BONUS.Succes"}} / {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GOLIATH.Metre"}}</h4>
                <div class="line noBottomSeparation">
                    <div class="doubleLine">
                        <span class="header">{{localize "KNIGHT.ASPECTS.CHAIR.CARACTERISTIQUES.FORCE.Label"}}</span>
                        <span class="score">{{this.bonus.force.value}}</span>
                    </div>
                    <div class="doubleLine">
                        <span class="header">{{localize "KNIGHT.ASPECTS.CHAIR.CARACTERISTIQUES.ENDURANCE.Label"}}</span>
                        <span class="score">{{this.bonus.endurance.value}}</span>
                    </div>
                </div>
            </div>

            <div class="data">
                <div class="line noBottomSeparation">
                    <div class="oneLine">
                        <span class="header">{{localize "KNIGHT.BONUS.ChampDeForce"}} / {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GOLIATH.Metre"}}</span>
                        <span class="score">{{this.bonus.cdf.value}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="data">
                <h4>{{localize "KNIGHT.BONUS.DegatsViolence"}} / {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GOLIATH.Metre"}}</h4>
                <div class="line noBottomSeparation">
                    <div class="doubleLine">
                        <span class="header">{{localize "KNIGHT.AUTRE.Degats"}}</span>
                        <span class="score">{{this.bonus.degats.dice}}{{localize "KNIGHT.JETS.Des-short"}}6</span>
                    </div>
                    <div class="doubleLine">
                        <span class="header">{{localize "KNIGHT.AUTRE.Violence"}}</span>
                        <span class="score">{{this.bonus.violence.dice}}{{localize "KNIGHT.JETS.Des-short"}}6</span>
                    </div>
                </div>
            </div>

            <div class="data">
                <h4>{{localize "KNIGHT.MALUS.DefenseReaction"}} / {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GOLIATH.Metre"}}</h4>
                <div class="line noBottomSeparation">
                    <div class="doubleLine">
                        <span class="header">{{localize "KNIGHT.LATERAL.Defense"}}</span>
                        <span class="score">{{this.malus.defense.value}}</span>
                    </div>
                    <div class="doubleLine">
                        <span class="header">{{localize "KNIGHT.LATERAL.Reaction"}}</span>
                        <span class="score">{{this.malus.reaction.value}}</span>
                    </div>
                </div>
            </div>

            <div class="data">
                <span class="oneLine noBorderTop lightBlack">
                {{#if this.armesRack.active}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GOLIATH.ArmesRack"}} {{this.armesRack.value}} {{toLowerCase (localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GOLIATH.MetreBonus")}}
                {{else}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.GOLIATH.ArmesNoRack"}}
                {{/if}}
                </span>
            </div>
        </div>
    </div>
</div>
