
<div class="illumination">
    <h3 class="header js-toggler">
        <i class="far fa-plus-square"></i>
        {{label}}

        {{#if ("armure" @root/systemData/wear)}}
            {{#if this.choixFaits}}
            <div class="blockMultiline">
                {{#if beacon.selectionne}}
                    <button class="activation"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-special="beacon"
                        data-value="{{active.beacon}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BEACON.Label"}} : {{localizeactivate active.beacon}}
                    </button>

                    {{#if active.beacon}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="beacon"
                        data-cout="0" data-espoir="{{this.beacon.espoir.prolonger}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BEACON.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}

                {{#if blaze.selectionne}}
                    <button class="activation"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-special="blaze"
                        data-value="{{active.blaze}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BLAZE.Label"}} : {{localizeactivate active.blaze}}
                    </button>

                    {{#if active.blaze}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{key}}" data-name="{{label}}" data-special="blaze"
                        data-cout="0" data-espoir="{{blaze.espoir.prolonger}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BLAZE.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>

                    <button class="degatsViolence" data-type="capacites" data-capacite="{{key}}" data-name="{{label}}" data-special="blaze"
                        data-label="{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BLAZE.Label"}}"
                        data-degats="{{blaze.degats}}" data-violence="{{blaze.violence}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BLAZE.Label"}} : {{localize "KNIGHT.AUTRE.Degats"}} / {{localize "KNIGHT.AUTRE.Violence"}}
                    </button>
                    {{/if}}
                {{/if}}

                {{#if candle.selectionne}}
                    <button class="activation"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-special="candle"
                        data-value="{{active.beacon}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.CANDLE.Label"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                    </button>
                {{/if}}

                {{#if lantern.selectionne}}
                    <button class="activation"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-special="lantern"
                        data-value="{{active.lantern}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LANTERN.Label"}} : {{localizeactivate active.lantern}}
                    </button>

                    {{#if active.lantern}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{key}}" data-name="{{label}}" data-special="lantern"
                        data-cout="0" data-espoir="{{lantern.espoir.prolonger}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LANTERN.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>

                    <button class="degats" data-type="capacites" data-capacite="{{key}}" data-name="{{label}}" data-special="lantern"
                        data-label="{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LANTERN.Label"}}" data-degats="{{lantern.degats}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LANTERN.Label"}} : {{localize "KNIGHT.AUTRE.Degats"}}
                    </button>
                    {{/if}}
                {{/if}}

                {{#if lighthouse.selectionne}}
                    <button class="activation"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-special="lighthouse"
                        data-value="{{active.lighthouse}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LIGHTHOUSE.Label"}} : {{localizeactivate active.lighthouse}}
                    </button>

                    {{#if active.lighthouse}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{key}}" data-name="{{label}}" data-special="lighthouse"
                        data-cout="0" data-espoir="{{lighthouse.espoir.prolonger}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LIGHTHOUSE.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}

                {{#if projector.selectionne}}
                    <button class="activation"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-special="projector"
                        data-value="{{active.projector}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.PROJECTOR.Label"}} : {{localizeactivate active.projector}}
                    </button>

                    {{#if active.projector}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{key}}" data-name="{{label}}" data-special="projector"
                        data-cout="0" data-espoir="{{projector.espoir.prolonger}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.PROJECTOR.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}

                {{#if torch.selectionne}}
                    <button class="activation"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-special="torch"
                        data-value="{{active.torch}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.TORCH.Label"}} : {{localizeactivate active.torch}}
                    </button>

                    {{#if active.torch}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{key}}" data-name="{{label}}" data-special="torch"
                        data-cout="0" data-espoir="{{torch.espoir.prolonger}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.TORCH.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}
            </div>
            {{else}}
            <div class="blockMultiline">
                <button class="
                    aChoisir
                    {{#if blaze.selectionne}}
                    choisi
                    {{/if}}
                    "
                    data-type="capacites" data-capacite="{{key}}" data-special="blaze"
                    data-value="{{blaze.selectionne}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BLAZE.Label"}} : {{localizechoix blaze.selectionne}}
                </button>

                <button class="
                    aChoisir
                    {{#if candle.selectionne}}
                    choisi
                    {{/if}}
                    "
                    data-type="capacites" data-capacite="{{key}}" data-special="candle"
                    data-value="{{candle.selectionne}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.CANDLE.Label"}} : {{localizechoix candle.selectionne}}
                </button>

                <button class="
                    aChoisir
                    {{#if beacon.selectionne}}
                    choisi
                    {{/if}}
                    "
                    data-type="capacites" data-capacite="{{key}}" data-special="beacon"
                    data-value="{{beacon.selectionne}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BEACON.Label"}} : {{localizechoix beacon.selectionne}}
                </button>

                <button class="
                    aChoisir
                    {{#if torch.selectionne}}
                    choisi
                    {{/if}}
                    "
                    data-type="capacites" data-capacite="{{key}}" data-special="torch"
                    data-value="{{torch.selectionne}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.TORCH.Label"}} : {{localizechoix torch.selectionne}}
                </button>

                <button class="
                    aChoisir
                    {{#if projector.selectionne}}
                    choisi
                    {{/if}}
                    "
                    data-type="capacites" data-capacite="{{key}}" data-special="projector"
                    data-value="{{projector.selectionne}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.PROJECTOR.Label"}} : {{localizechoix projector.selectionne}}
                </button>

                <button class="
                    aChoisir
                    {{#if lighthouse.selectionne}}
                    choisi
                    {{/if}}
                    "
                    data-type="capacites" data-capacite="{{key}}" data-special="lighthouse"
                    data-value="{{lighthouse.selectionnee}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LIGHTHOUSE.Label"}} : {{localizechoix lighthouse.selectionne}}
                </button>

                <button class="
                    aChoisir
                    {{#if lantern.selectionne}}
                    choisi
                    {{/if}}
                    "
                    data-type="capacites" data-capacite="{{key}}" data-special="lantern"
                    data-value="{{lantern.selectionne}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LANTERN.Label"}} : {{localizechoix lantern.selectionne}}
                </button>
            </div>
            {{/if}}
        {{/if}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="col">
            <div class="data">
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                    <span class="score">{{getActivation this.activation}}</span>
                </div>
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                    <span class="score">{{this.duree}}</span>
                </div>
            </div>

            <div class="data">
                <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.CANDLE.Label"}}</h4>
                <span class="description">{{this.candle.description}}</span>
                <div class="shortspan separation">
                    <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                    <span class="score">{{getPortee this.candle.portee}}</span>
                </div>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.LATERAL.Espoir"}}</span>
                    <span class="score">{{this.candle.espoir.dice}}{{localize "KNIGHT.JETS.Des-short"}}{{this.candle.espoir.face}}</span>
                </div>
            </div>

            <div class="data">
                <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.TORCH.Label"}}</h4>
                <span class="description">{{this.torch.description}}</span>
                <div class="longspan separation">
                    <span class="header">{{localize "KNIGHT.BONUS.Egide"}}</span>
                    <span class="score">{{this.torch.bonus}}</span>
                </div>
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                    <span class="score">{{getPortee this.torch.portee}}</span>
                </div>
                <h4 class="separation">{{localize "KNIGHT.AUTRE.CoutEspoir"}}</h4>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Utiliser"}}</span>
                    <span class="score">{{this.torch.espoir.base}}</span>
                </div>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Prolonger"}}</span>
                    <span class="score">{{this.torch.espoir.prolonger}}</span>
                </div>
            </div>

            <div class="data">
                <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LIGHTHOUSE.Label"}}</h4>
                <span class="description">{{this.lighthouse.description}}</span>
                <div class="shortspan separation">
                    <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                    <span class="score">{{getPortee this.lighthouse.portee}}</span>
                </div>
                <h4 class="separation">{{localize "KNIGHT.AUTRE.CoutEspoir"}}</h4>
                <div class="longspan noSeparation">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Utiliser"}}</span>
                    <span class="score">{{this.lighthouse.espoir.base}}</span>
                </div>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Prolonger"}}</span>
                    <span class="score">{{this.lighthouse.espoir.prolonger}}</span>
                </div>
            </div>

            <div class="data">
                <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LANTERN.Label"}}</h4>
                <span class="description">{{this.lantern.description}}</span>
                <div class="longspan separation">
                    <span class="header">{{localize "KNIGHT.AUTRE.Degats"}}</span>
                    <span class="score">{{this.lantern.degats}}{{localize "KNIGHT.JETS.Des-short"}}6</span>
                </div>
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                    <span class="score">{{getPortee this.lantern.portee}}</span>
                </div>
                <h4 class="separation">{{localize "KNIGHT.AUTRE.CoutEspoir"}}</h4>
                <div class="longspan noSeparation">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Utiliser"}}</span>
                    <span class="score">{{this.lantern.espoir.base}}</span>
                </div>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Prolonger"}}</span>
                    <span class="score">{{this.lantern.espoir.prolonger}}</span>
                </div>
                <div class="effets">
                    {{#each this.lantern.effets.liste as | key effet|}}
                        {{~> systems/knight/templates/parts/effets.html type='illumination_lantern'}}
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="data">
                <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BLAZE.Label"}}</h4>
                <span class="description">{{this.blaze.description}}</span>
                <div class="longspan separation">
                    <span class="header">{{localize "KNIGHT.AUTRE.Degats"}}</span>
                    <span class="score">{{this.blaze.degats}}{{localize "KNIGHT.JETS.Des-short"}}6</span>
                </div>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.AUTRE.Violence"}}</span>
                    <span class="score">{{this.blaze.violence}}{{localize "KNIGHT.JETS.Des-short"}}6</span>
                </div>
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                    <span class="score">{{getPortee this.blaze.portee}}</span>
                </div>
                <h4 class="separation">{{localize "KNIGHT.AUTRE.CoutEspoir"}}</h4>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Utiliser"}}</span>
                    <span class="score">{{this.blaze.espoir.base}}</span>
                </div>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Prolonger"}}</span>
                    <span class="score">{{this.blaze.espoir.prolonger}}</span>
                </div>
            </div>

            <div class="data">
                <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BEACON.Label"}}</h4>
                <span class="description">{{this.beacon.description}}</span>
                <div class="longspan separation">
                    <span class="header">{{localize "KNIGHT.BONUS.Reussites"}}</span>
                    <span class="score">{{this.beacon.bonus}}</span>
                </div>
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                    <span class="score">{{this.beacon.labelPortee}}</span>
                </div>
                <h4 class="separation">{{localize "KNIGHT.AUTRE.CoutEspoir"}}</h4>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Utiliser"}}</span>
                    <span class="score">{{this.beacon.espoir.base}}</span>
                </div>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Prolonger"}}</span>
                    <span class="score">{{this.beacon.espoir.prolonger}}</span>
                </div>
            </div>

            <div class="data">
                <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.PROJECTOR.Label"}}</h4>
                <span class="description">{{this.projector.description}}</span>
                <div class="shortspan separation">
                    <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                    <span class="score">{{this.projector.labelPortee}}</span>
                </div>
                <h4 class="separation">{{localize "KNIGHT.AUTRE.CoutEspoir"}}</h4>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Utiliser"}}</span>
                    <span class="score">{{this.projector.espoir.base}}</span>
                </div>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Prolonger"}}</span>
                    <span class="score">{{this.projector.espoir.prolonger}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
