
<div class="illumination">
    <h3 class="header js-toggler">
        <i class="far fa-plus-square"></i>
        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Label"}}

        {{#if ("armure" @root/systemData/wear)}}
            {{#if this.choixFaits}}
            <div class="blockMultiline">
                {{#if this.beacon.selectionne}}
                    <button class="
                        {{#unless this.active.beacon}}
                        activation
                        {{else}}
                        desactivation
                        {{/unless}}
                        " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="beacon"
                        data-cout="0" data-espoir="{{this.beacon.espoir.base}}">
                        {{#unless this.active.beacon}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BEACON.Label"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                        {{else}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BEACON.Label"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                        {{/unless}}
                    </button>

                    {{#if this.active.beacon}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="beacon"
                        data-cout="0" data-espoir="{{this.beacon.espoir.prolonger}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BEACON.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}

                {{#if this.blaze.selectionne}}
                    <button class="
                        {{#unless this.active.blaze}}
                        activation
                        {{else}}
                        desactivation
                        {{/unless}}
                        " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="blaze"
                        data-cout="0" data-espoir="{{this.blaze.espoir.base}}">
                        {{#unless this.active.blaze}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BLAZE.Label"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                        {{else}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BLAZE.Label"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                        {{/unless}}
                    </button>

                    {{#if this.active.blaze}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="blaze"
                        data-cout="0" data-espoir="{{this.blaze.espoir.prolonger}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BLAZE.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>

                    <button class="degats violence" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="blaze"
                        data-label="{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BLAZE.Label"}}" data-degats="{{this.blaze.degats}}" data-violence="{{this.blaze.violence}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BLAZE.Label"}} : {{localize "KNIGHT.AUTRE.Degats"}} / {{localize "KNIGHT.AUTRE.Violence"}}
                    </button>
                    {{/if}}
                {{/if}}

                {{#if this.candle.selectionne}}
                    <button class="activation" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="candle"
                        data-cout="0" data-despoir="{{this.candle.espoir.dice}}D{{this.candle.espoir.face}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.CANDLE.Label"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                    </button>
                {{/if}}

                {{#if this.lantern.selectionne}}
                    <button class="
                        {{#unless this.active.lantern}}
                        activation
                        {{else}}
                        desactivation
                        {{/unless}}
                        " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="lantern"
                        data-cout="0" data-espoir="{{this.lantern.espoir.base}}">
                        {{#unless this.active.lantern}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LANTERN.Label"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                        {{else}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LANTERN.Label"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                        {{/unless}}
                    </button>

                    {{#if this.active.lantern}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="lantern"
                        data-cout="0" data-espoir="{{this.lantern.espoir.prolonger}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LANTERN.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>

                    <button class="degats" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="lantern"
                        data-label="{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LANTERN.Label"}}" data-degats="{{this.lantern.degats}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LANTERN.Label"}} : {{localize "KNIGHT.AUTRE.Degats"}}
                    </button>
                    {{/if}}
                {{/if}}

                {{#if this.lighthouse.selectionne}}
                    <button class="
                        {{#unless this.active.lighthouse}}
                        activation
                        {{else}}
                        desactivation
                        {{/unless}}
                        " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="lighthouse"
                        data-cout="0" data-espoir="{{this.lighthouse.espoir.base}}">
                        {{#unless this.active.lighthouse}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LIGHTHOUSE.Label"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                        {{else}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LIGHTHOUSE.Label"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                        {{/unless}}
                    </button>

                    {{#if this.active.lighthouse}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="lighthouse"
                        data-cout="0" data-espoir="{{this.lighthouse.espoir.prolonger}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LIGHTHOUSE.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}

                {{#if this.projector.selectionne}}
                    <button class="
                        {{#unless this.active.projector}}
                        activation
                        {{else}}
                        desactivation
                        {{/unless}}
                        " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="projector"
                        data-cout="0" data-espoir="{{this.projector.espoir.base}}">
                        {{#unless this.active.projector}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.PROJECTOR.Label"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                        {{else}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.PROJECTOR.Label"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                        {{/unless}}
                    </button>

                    {{#if this.active.projector}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="projector"
                        data-cout="0" data-espoir="{{this.projector.espoir.prolonger}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.PROJECTOR.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}

                {{#if this.torch.selectionne}}
                    <button class="
                        {{#unless this.active.torch}}
                        activation
                        {{else}}
                        desactivation
                        {{/unless}}
                        " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="torch"
                        data-cout="0" data-espoir="{{this.torch.espoir.base}}">
                        {{#unless this.active.torch}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.TORCH.Label"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                        {{else}}
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.TORCH.Label"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                        {{/unless}}
                    </button>

                    {{#if this.active.torch}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="torch"
                        data-cout="0" data-espoir="{{this.torch.espoir.prolonger}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.TORCH.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}
            </div>
            {{else}}
            <div class="blockMultiline">
                <button class="
                    aChoisir
                    {{#if this.blaze.selectionne}}
                    choisi
                    {{/if}}
                    " data-type="capacites" data-capacite="{{this.key}}" data-special="blaze" data-value="{{@root/systemData/equipements/armure/capacites/illumination/choix/blaze}}">
                    {{#unless this.blaze.selectionne}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BLAZE.Label"}} : {{localize "KNIGHT.AUTRE.Choisir"}}
                    {{else}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BLAZE.Label"}} : {{localize "KNIGHT.AUTRE.Choisi"}}
                    {{/unless}}
                </button>

                <button class="
                    aChoisir
                    {{#if this.candle.selectionne}}
                    choisi
                    {{/if}}
                    " data-type="capacites" data-capacite="{{this.key}}" data-special="candle" data-value="{{@root/systemData/equipements/armure/capacites/illumination/choix/candle}}">
                    {{#unless this.candle.selectionne}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.CANDLE.Label"}} : {{localize "KNIGHT.AUTRE.Choisir"}}
                    {{else}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.CANDLE.Label"}} : {{localize "KNIGHT.AUTRE.Choisi"}}
                    {{/unless}}
                </button>

                <button class="
                    aChoisir
                    {{#if this.beacon.selectionne}}
                    choisi
                    {{/if}}
                    " data-type="capacites" data-capacite="{{this.key}}" data-special="beacon" data-value="{{@root/systemData/equipements/armure/capacites/illumination/choix/beacon}}">
                    {{#unless this.beacon.selectionne}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BEACON.Label"}} : {{localize "KNIGHT.AUTRE.Choisir"}}
                    {{else}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BEACON.Label"}} : {{localize "KNIGHT.AUTRE.Choisi"}}
                    {{/unless}}
                </button>

                <button class="
                    aChoisir
                    {{#if this.torch.selectionne}}
                    choisi
                    {{/if}}
                    " data-type="capacites" data-capacite="{{this.key}}" data-special="torch" data-value="{{@root/systemData/equipements/armure/capacites/illumination/choix/torch}}">
                    {{#unless this.torch.selectionne}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.TORCH.Label"}} : {{localize "KNIGHT.AUTRE.Choisir"}}
                    {{else}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.TORCH.Label"}} : {{localize "KNIGHT.AUTRE.Choisi"}}
                    {{/unless}}
                </button>

                <button class="
                    aChoisir
                    {{#if this.projector.selectionne}}
                    choisi
                    {{/if}}
                    " data-type="capacites" data-capacite="{{this.key}}" data-special="projector" data-value="{{@root/systemData/equipements/armure/capacites/illumination/choix/projector}}">
                    {{#unless this.projector.selectionne}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.PROJECTOR.Label"}} : {{localize "KNIGHT.AUTRE.Choisir"}}
                    {{else}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.PROJECTOR.Label"}} : {{localize "KNIGHT.AUTRE.Choisi"}}
                    {{/unless}}
                </button>

                <button class="
                    aChoisir
                    {{#if this.lighthouse.selectionne}}
                    choisi
                    {{/if}}
                    " data-type="capacites" data-capacite="{{this.key}}" data-special="lighthouse" data-value="{{@root/systemData/equipements/armure/capacites/illumination/choix/lighthouse}}">
                    {{#unless this.lighthouse.selectionne}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LIGHTHOUSE.Label"}} : {{localize "KNIGHT.AUTRE.Choisir"}}
                    {{else}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LIGHTHOUSE.Label"}} : {{localize "KNIGHT.AUTRE.Choisi"}}
                    {{/unless}}
                </button>

                <button class="
                    aChoisir
                    {{#if this.lantern.selectionne}}
                    choisi
                    {{/if}}
                    " data-type="capacites" data-capacite="{{this.key}}" data-special="lantern" data-value="{{@root/systemData/equipements/armure/capacites/illumination/choix/lantern}}">
                    {{#unless this.lantern.selectionne}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LANTERN.Label"}} : {{localize "KNIGHT.AUTRE.Choisir"}}
                    {{else}}
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LANTERN.Label"}} : {{localize "KNIGHT.AUTRE.Choisi"}}
                    {{/unless}}
                </button>
            </div>
            {{/if}}
        {{/if}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="col">
            <div class="data">
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                    <span class="score">{{getActivation this.activation}}</span>
                </div>
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                    <span class="score">{{this.duree}}</span>
                </div>
            </div>

            <div class="data">
                <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.CANDLE.Label"}}</h4>
                <span class="description">{{this.candle.description}}</span>
                <div class="shortspan separation">
                    <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                    <span class="score">{{getPortee this.candle.portee}}</span>
                </div>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.LATERAL.Espoir"}}</span>
                    <span class="score">{{this.candle.espoir.dice}}{{localize "KNIGHT.JETS.Des-short"}}{{this.candle.espoir.face}}</span>
                </div>
            </div>

            <div class="data">
                <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.TORCH.Label"}}</h4>
                <span class="description">{{this.torch.description}}</span>
                <div class="longspan separation">
                    <span class="header">{{localize "KNIGHT.BONUS.Egide"}}</span>
                    <span class="score">{{this.torch.bonus}}</span>
                </div>
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                    <span class="score">{{getPortee this.torch.portee}}</span>
                </div>
                <h4 class="separation">{{localize "KNIGHT.AUTRE.CoutEspoir"}}</h4>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Utiliser"}}</span>
                    <span class="score">{{this.torch.espoir.base}}</span>
                </div>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Prolonger"}}</span>
                    <span class="score">{{this.torch.espoir.prolonger}}</span>
                </div>
            </div>

            <div class="data">
                <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LIGHTHOUSE.Label"}}</h4>
                <span class="description">{{this.lighthouse.description}}</span>
                <div class="shortspan separation">
                    <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                    <span class="score">{{getPortee this.lighthouse.portee}}</span>
                </div>
                <h4 class="separation">{{localize "KNIGHT.AUTRE.CoutEspoir"}}</h4>
                <div class="longspan noSeparation">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Utiliser"}}</span>
                    <span class="score">{{this.lighthouse.espoir.base}}</span>
                </div>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Prolonger"}}</span>
                    <span class="score">{{this.lighthouse.espoir.prolonger}}</span>
                </div>
            </div>

            <div class="data">
                <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.LANTERN.Label"}}</h4>
                <span class="description">{{this.lantern.description}}</span>
                <div class="longspan separation">
                    <span class="header">{{localize "KNIGHT.AUTRE.Degats"}}</span>
                    <span class="score">{{this.lantern.degats}}{{localize "KNIGHT.JETS.Des-short"}}6</span>
                </div>
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                    <span class="score">{{getPortee this.lantern.portee}}</span>
                </div>
                <h4 class="separation">{{localize "KNIGHT.AUTRE.CoutEspoir"}}</h4>
                <div class="longspan noSeparation">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Utiliser"}}</span>
                    <span class="score">{{this.lantern.espoir.base}}</span>
                </div>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Prolonger"}}</span>
                    <span class="score">{{this.lantern.espoir.prolonger}}</span>
                </div>
                <div class="effets">
                    {{#each this.lantern.effets.liste as | key effet|}}
                        <div>
                            <span class="label">{{key.name}}</span>
                            <img class="info" src="systems/knight/assets/icons/info.svg" />
                            <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="data">
                <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BLAZE.Label"}}</h4>
                <span class="description">{{this.blaze.description}}</span>
                <div class="longspan separation">
                    <span class="header">{{localize "KNIGHT.AUTRE.Degats"}}</span>
                    <span class="score">{{this.blaze.degats}}{{localize "KNIGHT.JETS.Des-short"}}6</span>
                </div>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.AUTRE.Violence"}}</span>
                    <span class="score">{{this.blaze.violence}}{{localize "KNIGHT.JETS.Des-short"}}6</span>
                </div>
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                    <span class="score">{{getPortee this.blaze.portee}}</span>
                </div>
                <h4 class="separation">{{localize "KNIGHT.AUTRE.CoutEspoir"}}</h4>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Utiliser"}}</span>
                    <span class="score">{{this.blaze.espoir.base}}</span>
                </div>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Prolonger"}}</span>
                    <span class="score">{{this.blaze.espoir.prolonger}}</span>
                </div>
            </div>

            <div class="data">
                <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.BEACON.Label"}}</h4>
                <span class="description">{{this.beacon.description}}</span>
                <div class="longspan separation">
                    <span class="header">{{localize "KNIGHT.BONUS.Reussites"}}</span>
                    <span class="score">{{this.beacon.bonus}}</span>
                </div>
                <div class="shortspan">
                    <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                    <span class="score">{{this.beacon.labelPortee}}</span>
                </div>
                <h4 class="separation">{{localize "KNIGHT.AUTRE.CoutEspoir"}}</h4>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Utiliser"}}</span>
                    <span class="score">{{this.beacon.espoir.base}}</span>
                </div>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Prolonger"}}</span>
                    <span class="score">{{this.beacon.espoir.prolonger}}</span>
                </div>
            </div>

            <div class="data">
                <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.PROJECTOR.Label"}}</h4>
                <span class="description">{{this.projector.description}}</span>
                <div class="shortspan separation">
                    <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                    <span class="score">{{this.projector.labelPortee}}</span>
                </div>
                <h4 class="separation">{{localize "KNIGHT.AUTRE.CoutEspoir"}}</h4>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Utiliser"}}</span>
                    <span class="score">{{this.projector.espoir.base}}</span>
                </div>
                <div class="longspan">
                    <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.ILLUMINATION.Prolonger"}}</span>
                    <span class="score">{{this.projector.espoir.prolonger}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
