
<div class="morph">
    <h3 class="header js-toggler">
        <i class="far fa-plus-square"></i>
        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.Label"}}

        {{#if ("armure" @root/systemData/wear)}}
        <div class="blockMultiline">
            <button class="activation"
                data-type="capacites" data-capacite="{{key}}" data-name="{{label}}" data-special="morph"
                data-toupdate="capacites.selected.morph.active"
                data-cout="{{energie}}"
                data-value="{{active.morph}}">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.Label"}} : {{localizeactivate active.morph}}
            </button>

            {{#if active.morph}}
                {{#unless choisi.fait}}
                    <button class="activation"
                        data-type="capacites" data-capacite="{{key}}" data-name="{{label}}" data-special="vol"
                        data-toupdate="capacites.selected.morph.choisi"
                        data-cout="0" data-nbreC="{{capacites}}"
                        data-value="{{choisi.vol}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.VOL.Label"}} : {{localizechoix choisi.vol}}
                    </button>

                    <button class="activation"
                        data-type="capacites" data-capacite="{{key}}" data-name="{{label}}" data-special="phase"
                        data-toupdate="capacites.selected.morph.choisi"
                        data-cout="0" data-nbreC="{{capacites}}"
                        data-value="{{choisi.phase}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.PHASE.Label"}} : {{localizechoix choisi.phase}}
                    </button>

                    <button class="activation"
                        data-type="capacites" data-capacite="{{key}}" data-name="{{label}}" data-special="etirement"
                        data-toupdate="capacites.selected.morph.choisi"
                        data-cout="0" data-nbreC="{{capacites}}"
                        data-value="{{choisi.etirement}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.ETIREMENT.Label"}} : {{localizechoix choisi.etirement}}
                    </button>

                    <button class="activation"
                        data-type="capacites" data-capacite="{{key}}" data-name="{{label}}" data-special="metal"
                        data-toupdate="capacites.selected.morph.choisi"
                        data-cout="0" data-nbreC="{{capacites}}"
                        data-value="{{choisi.metal}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.METAL.Label"}} : {{localizechoix choisi.metal}}
                    </button>

                    <button class="activation"
                        data-type="capacites" data-capacite="{{key}}" data-name="{{label}}" data-special="fluide"
                        data-toupdate="capacites.selected.morph.choisi"
                        data-cout="0" data-nbreC="{{capacites}}"
                        data-value="{{choisi.fluide}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.FLUIDE.Label"}} : {{localizechoix choisi.fluide}}
                    </button>

                    <button class="activation"
                        data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="polymorphie"
                        data-toupdate="capacites.selected.morph.choisi"
                        data-cout="0" data-nbreC="{{this.capacites}}"
                        data-value="{{choisi.polymorphie}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.POLYMORPHIE.Label"}} : {{localizechoix choisi.polymorphie}}
                    </button>
                {{else}}
                    {{#if choisi.vol}}
                    <span class="button">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.VOL.Label"}} : {{localize "KNIGHT.AUTRE.Choisi"}}</span>
                    {{/if}}

                    {{#if choisi.phase}}
                    <span class="button">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.PHASE.Label"}} : {{localize "KNIGHT.AUTRE.Choisi"}}</span>
                    {{/if}}

                    {{#if choisi.etirement}}
                    <span class="button">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.ETIREMENT.Label"}} : {{localize "KNIGHT.AUTRE.Choisi"}}</span>

                    <button class="roll" data-label="{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.ETIREMENT.Label"}} : {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.ETIREMENT.Immobilisation"}}" data-reussiteBonus="{{this.etirement.bonus}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.ETIREMENT.JetImmobilisation"}}
                    </button>
                    {{/if}}

                    {{#if choisi.metal}}
                    <span class="button">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.METAL.Label"}} : {{localize "KNIGHT.AUTRE.Choisi"}}</span>
                    {{/if}}

                    {{#if choisi.fluide}}
                    <span class="button">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.FLUIDE.Label"}} : {{localize "KNIGHT.AUTRE.Choisi"}}</span>
                    {{/if}}

                    {{#if choisi.polymorphie}}
                        {{#unless poly.fait}}
                            <button class="activation"
                                data-type="capacites" data-capacite="{{key}}" data-name="{{label}}" data-special="polymorphieLame"
                                data-toupdate="capacites.selected.morph.active"
                                data-cout="0">
                                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.POLYMORPHIE.Label"}} ({{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.POLYMORPHIE.Lame"}}) : {{localizeactivate active.polymorphieLame}}
                            </button>

                            <button class="activation"
                                data-type="capacites" data-capacite="{{key}}" data-name="{{label}}" data-special="polymorphieGriffe"
                                data-toupdate="capacites.selected.morph.active"
                                data-cout="0">
                                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.POLYMORPHIE.Label"}} ({{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.POLYMORPHIE.Griffe"}}) : {{localizeactivate active.polymorphieGriffe}}
                            </button>

                            <button class="activation"
                                data-type="capacites" data-capacite="{{key}}" data-name="{{label}}" data-special="polymorphieCanon"
                                data-toupdate="capacites.selected.morph.active"
                                data-cout="0">
                                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.POLYMORPHIE.Label"}} ({{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.POLYMORPHIE.Canon"}}) : {{localizeactivate active.polymorphieCanon}}
                            </button>
                        {{else}}
                            {{#if active.polymorphieLame}}
                                <span class="button">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.POLYMORPHIE.Lame"}} : {{localize "KNIGHT.AUTRE.Choisi"}}</span>
                            {{/if}}
                            {{#if active.polymorphieGriffe}}
                                <span class="button">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.POLYMORPHIE.Griffe"}} : {{localize "KNIGHT.AUTRE.Choisi"}}</span>
                            {{/if}}
                            {{#if active.polymorphieCanon}}
                                <span class="button">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.POLYMORPHIE.Canon"}} : {{localize "KNIGHT.AUTRE.Choisi"}}</span>
                            {{/if}}
                        {{/unless}}
                    {{/if}}
                {{/unless}}
            {{/if}}
        </div>
        {{/if}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="data">
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.LATERAL.Energie"}}</span>
                <span class="score">{{this.energie}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.LATERAL.Espoir"}}</span>
                <span class="score">{{this.espoir}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score">{{getActivation this.activation}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score">{{this.duree}}</span>
            </div>
            <div class="longspan separation">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.NbreCapacites"}}</span>
                <span class="score">{{this.capacites}}</span>
            </div>
        </div>

        <div class="data">
            <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.VOL.Label"}}</h4>
            <span class="description">{{this.vol.description}}</span>
        </div>

        <div class="data">
            <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.PHASE.Label"}}</h4>
            <span class="description">{{this.phase.description}}</span>
            <div class="shortspan simpleSeparation">
                <span class="header">{{localize "KNIGHT.LATERAL.Energie"}}</span>
                <span class="score">{{this.phase.energie}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score">{{getActivation this.phase.activation}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score">{{this.phase.duree}}</span>
            </div>
        </div>

        <div class="data">
            <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.ETIREMENT.Label"}}</h4>
            <span class="description">{{this.etirement.description}}</span>
            <div class="shortspan simpleSeparation">
                <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                <span class="score">{{this.etirement.portee}}</span>
            </div>
            <div class="longspan separation">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.ETIREMENT.Bonus"}}</span>
                <span class="score">{{this.etirement.bonus}}</span>
            </div>
        </div>

        <div class="data">
            <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.METAL.Label"}}</h4>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.BONUS.ChampDeForce"}}</span>
                <span class="score">{{this.metal.bonus.champDeForce}}</span>
            </div>
        </div>

        <div class="data double">
            <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.FLUIDE.Label"}}</h4>
            <div class="line">
                 <div class="doubleLine">
                    <span class="header">{{localize "KNIGHT.BONUS.Defense"}}</span>
                    <span class="score">{{this.fluide.bonus.defense}}</span>
                </div>
                <div class="doubleLine">
                    <span class="header">{{localize "KNIGHT.BONUS.Reaction"}}</span>
                    <span class="score">{{this.fluide.bonus.reaction}}</span>
                </div>
            </div>
        </div>

        <div class="data">
            <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.POLYMORPHIE.Label"}}</h4>
            <span class="description">{{this.polymorphie.description}}</span>
            <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.POLYMORPHIE.Griffe"}}</h4>
            <div class="shortspan noSeparation">
                <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                <span class="score">{{getPortee this.polymorphie.griffe.portee}}</span>
            </div>
            <div class="line separationTop">
                <div class="doubleLine">
                    <span class="header">{{localize "KNIGHT.AUTRE.Degats"}}</span>
                    <span class="score">{{this.polymorphie.griffe.degats.dice}}{{localize "KNIGHT.JETS.Des-short"}}6</span>
                </div>
                <div class="doubleLine">
                    <span class="header">{{localize "KNIGHT.AUTRE.Violence"}}</span>
                    <span class="score">{{this.polymorphie.griffe.violence.dice}}{{localize "KNIGHT.JETS.Des-short"}}6</span>
                </div>
            </div>
            <div class="effets noSeparationTop">
                {{#each this.polymorphie.griffe.effets.liste as | key effet|}}
                    <div>
                        <span class="label">{{key.name}}</span>
                        <img class="info" src="systems/knight/assets/icons/info.svg" />
                        <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                    </div>
                {{/each}}
            </div>

            <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.POLYMORPHIE.Lame"}}</h4>
            <div class="shortspan noSeparation">
                <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                <span class="score">{{getPortee this.polymorphie.lame.portee}}</span>
            </div>
            <div class="line separationTop">
                <div class="doubleLine">
                    <span class="header">{{localize "KNIGHT.AUTRE.Degats"}}</span>
                    <span class="score">{{this.polymorphie.lame.degats.dice}}{{localize "KNIGHT.JETS.Des-short"}}6</span>
                </div>
                <div class="doubleLine">
                    <span class="header">{{localize "KNIGHT.AUTRE.Violence"}}</span>
                    <span class="score">{{this.polymorphie.lame.violence.dice}}{{localize "KNIGHT.JETS.Des-short"}}6</span>
                </div>
            </div>
            <div class="effets noSeparationTop">
                {{#each this.polymorphie.lame.effets.liste as | key effet|}}
                    <div>
                        <span class="label">{{key.name}}</span>
                        <img class="info" src="systems/knight/assets/icons/info.svg" />
                        <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                    </div>
                {{/each}}
            </div>

            <h4 class="title">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.MORPH.CAPACITES.POLYMORPHIE.Canon"}}</h4>
            <div class="shortspan noSeparation">
                <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                <span class="score">{{getPortee this.polymorphie.canon.portee}}</span>
            </div>
            <div class="line separationTop">
                <div class="doubleLine">
                    <span class="header">{{localize "KNIGHT.AUTRE.Degats"}}</span>
                    <span class="score">{{this.polymorphie.canon.degats.dice}}{{localize "KNIGHT.JETS.Des-short"}}6</span>
                </div>
                <div class="doubleLine">
                    <span class="header">{{localize "KNIGHT.AUTRE.Violence"}}</span>
                    <span class="score">{{this.polymorphie.canon.violence.dice}}{{localize "KNIGHT.JETS.Des-short"}}6</span>
                </div>
            </div>
            <div class="effets noSeparationTop">
                {{#each this.polymorphie.canon.effets.liste as | key effet|}}
                    <div>
                        <span class="label">{{key.name}}</span>
                        <img class="info" src="systems/knight/assets/icons/info.svg" />
                        <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
