<div class="nanoc">
    <h3 class="header js-toggler">
        <i class="far fa-plus-square"></i>
        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.Label"}}

        {{#if ("armure" @root/systemData/wear)}}
        <div class="blockMultiline">
            {{#unless this.active.detaille}}
            {{#unless this.active.mecanique}}
            <button class="
                {{#unless this.active.base}}
                activation
                {{else}}
                desactivation
                {{/unless}}
                " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="base"
                data-cout="{{this.energie.base}}">
                {{#unless this.active.base}}
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetBase"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                {{else}}
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetBase"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                {{/unless}}
            </button>
            {{/unless}}
            {{/unless}}

            {{#unless this.active.base}}
            {{#unless this.active.mecanique}}
            <button class="
                {{#unless this.active.detaille}}
                activation
                {{else}}
                desactivation
                {{/unless}}
                " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="detaille"
                data-cout="{{this.energie.detaille}}">
                {{#unless this.active.detaille}}
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetDetaille"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                {{else}}
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetDetaille"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                {{/unless}}
            </button>
            {{/unless}}
            {{/unless}}

            {{#unless this.active.base}}
            {{#unless this.active.detaille}}
            <button class="
                {{#unless this.active.mecanique}}
                activation
                {{else}}
                desactivation
                {{/unless}}
                " data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" data-special="mecanique"
                data-cout="{{this.energie.mecanique}}">
                {{#unless this.active.mecanique}}
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetMecanique"}} : {{localize "KNIGHT.AUTRE.Activer"}}
                {{else}}
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetMecanique"}} : {{localize "KNIGHT.AUTRE.Desactiver"}}
                {{/unless}}
            </button>
            {{/unless}}
            {{/unless}}

            {{#if this.active.base}}
            <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}"
                data-cout="{{this.energie.prolonger}}">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetBase"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
            </button>
            {{else}}
                {{#if this.active.detaille}}
                <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}"
                    data-cout="{{this.energie.prolonger}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetDetaille"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                </button>
                {{else}}
                    {{#if this.active.mecanique}}
                    <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}"
                        data-cout="{{this.energie.prolonger}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetMecanique"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
        {{/if}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="data">
            <h4>{{localize "KNIGHT.LATERAL.Energie"}}</h4>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetBase"}}</span>
                <span class="score">{{this.energie.base}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetDetaille"}}</span>
                <span class="score">{{this.energie.detaille}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ObjetMecanique"}}</span>
                <span class="score">{{this.energie.mecanique}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.AUTRE.Prolonger"}} / {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.NANOC.ParMinute"}}</span>
                <span class="score">{{this.energie.prolonger}}</span>
            </div>
            <div class="shortspan separation">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score">{{getActivation this.activation}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score">{{this.duree}}</span>
            </div>
        </div>
    </div>
</div>
