
<div class="puppet">
    <h3 class="header js-toggler">
        <i class="far fa-plus-square"></i>
        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.PUPPET.Label"}}

        {{#if ("armure" @root/systemData/wear)}}
        <div class="blockMultiline">
            <label class="allies">
                <input type="number" class="{{#if data.puppet.active}}update{{/if}}"
                name="system.equipements.armure.capacites.puppet.cible"
                data-capacite="{{key}}"
                data-old="{{data.puppet.cible}}"
                data-cout="{{energie.supplementaire}}"
                value="{{data.puppet.cible}}" data-flux="{{flux.supplementaire}}"
                min="0" max="{{creatures}}" />
                <span>{{localize "KNIGHT.AUTRE.CibleSupplementaire"}}</span>
            </label>
            <button class="activation"
                data-type="capacites" data-capacite="{{key}}" data-name="{{label}}"
                data-toupdate="capacites.selected.puppet.active"
                data-cout="{{energie.ordre}}+({{data.puppet.cible}}*{{energie.supplementaire}})"
                data-flux="{{flux.ordre}}+({{data.puppet.cible}}*{{flux.supplementaire}})"
                data-value="{{active}}">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.PUPPET.Label"}} : {{localizeactivate active}}
            </button>
            {{#if active}}
            <button class="prolonger" data-type="capacites" data-capacite="{{key}}" data-name="{{label}}"
                data-cout="{{data.puppet.cible}}*{{energie.prolonger}}"
                data-flux="{{data.puppet.cible}}*{{flux.prolonger}}">
                {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.PUPPET.Label"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
            </button>
            {{/if}}
        </div>
        {{/if}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="data">
            <h4>{{localize "KNIGHT.LATERAL.Energie"}}</h4>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.PUPPET.Ordre"}}</span>
                <span class="score">{{this.energie.ordre}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.PUPPET.Creature"}}</span>
                <span class="score">{{this.energie.supplementaire}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.PUPPET.Prolonger"}}</span>
                <span class="score">{{this.energie.prolonger}}</span>
            </div>
            <div class="shortspan separation">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score">{{getActivation this.activation}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score">{{this.duree}}</span>
            </div>
        </div>

        <div class="data">
            <h4>{{localize "KNIGHT.LATERAL.Flux"}}</h4>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.PUPPET.Ordre"}}</span>
                <span class="score">{{this.flux.ordre}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.PUPPET.Creature"}}</span>
                <span class="score">{{this.flux.supplementaire}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.PUPPET.Prolonger"}}</span>
                <span class="score">{{this.flux.prolonger}}</span>
            </div>
            <div class="longspan separation">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.PUPPET.Max"}}</span>
                <span class="score">{{this.creatures}}</span>
            </div>
        </div>
    </div>
</div>
