
<div class="shrine">
    <h3 class="header">
        <i class="far fa-plus-square"></i>
        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.SHRINE.Label"}}

        {{#if ("armure" @root/systemData/wear)}}
            <div class="blockMultiline">
            {{#unless this.active.base}}
                <button class="activation" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" 
                    data-cout="{{this.energie.personnel}}"
                    data-special="personnel">
                    {{localize "KNIGHT.AUTRE.Activer"}} : {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.SHRINE.ENERGIE.Personnel"}}
                </button>

                <button class="activation" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" 
                    data-cout="{{this.energie.distance}}"
                    data-special="distance">
                    {{localize "KNIGHT.AUTRE.Activer"}} : {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.SHRINE.ENERGIE.Distance"}}
                </button>

                {{#if this.energie.acces6tours}}
                    <button class="activation" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" 
                        data-cout="{{this.energie.personnel6tours}}"
                        data-special="personnel6">
                        {{localize "KNIGHT.AUTRE.Activer"}} : {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.SHRINE.ENERGIE.Personnel6Tours"}}
                    </button>

                    <button class="activation" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" 
                        data-cout="{{this.energie.distance6tours}}"
                        data-special="distance6">
                        {{localize "KNIGHT.AUTRE.Activer"}} : {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.SHRINE.ENERGIE.Distance6Tours"}}
                    </button>
                {{/if}}
            {{else}}
                {{#if this.active.personnel}}
                    <button class="desactivation" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" 
                    data-id="{{@root/systemData/equipements/armure/capacites/shrine/id}}"
                    data-special="personnel">
                    {{localize "KNIGHT.AUTRE.Desactiver"}} : {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.SHRINE.ENERGIE.Personnel"}}
                    </button>
                {{/if}}

                {{#if this.active.distance}}
                <button class="desactivation" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" 
                    data-id="{{@root/systemData/equipements/armure/capacites/shrine/id}}"
                    data-special="distance">
                    {{localize "KNIGHT.AUTRE.Desactiver"}} : {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.SHRINE.ENERGIE.Distance"}}
                </button>
                {{/if}}

                {{#if this.active.personnel6}}
                <button class="desactivation" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" 
                    data-id="{{@root/systemData/equipements/armure/capacites/shrine/id}}"
                    data-special="personnel6">
                    {{localize "KNIGHT.AUTRE.Desactiver"}} : {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.SHRINE.ENERGIE.Personnel6Tours"}}
                </button>
                {{/if}}

                {{#if this.active.distance6}}
                <button class="desactivation" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" 
                    data-id="{{@root/systemData/equipements/armure/capacites/shrine/id}}"
                    data-special="distance6">
                    {{localize "KNIGHT.AUTRE.Desactiver"}} : {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.SHRINE.ENERGIE.Distance6Tours"}}
                </button>
                {{/if}}

                <button class="prolonger" data-type="capacites" data-capacite="{{this.key}}" data-name="{{this.label}}" 
                data-id="{{@root/systemData/equipements/armure/capacites/shrine/id}}"
                data-cout="
                    {{#if this.active.personnel}} {{this.energie.personnel}} {{/if}}
                    {{#if this.active.distance}} {{this.energie.distance}} {{/if}}
                    {{#if this.active.personnel6}} {{this.energie.personnel6tours}} {{/if}}
                    {{#if this.active.distance6}} {{this.energie.distance6tours}} {{/if}}
                ">
                    {{localize "KNIGHT.AUTRE.Prolonger"}}
                </button>
            {{/unless}}
            </div>
        {{/if}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="data">
            <h4>{{localize "KNIGHT.LATERAL.Energie"}}</h4>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.SHRINE.ENERGIE.Personnel"}}</span>
                <span class="score">{{this.energie.personnel}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.SHRINE.ENERGIE.Distance"}}</span>
                <span class="score">{{this.energie.distance}}</span>
            </div>
            <div class="longspan {{#unless this.energie.acces6tours}}hidden{{/unless}}">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.SHRINE.ENERGIE.Personnel6Tours"}}</span>
                <span class="score">{{this.energie.personnel6tours}}</span>
            </div>
            <div class="longspan {{#unless this.energie.acces6tours}}hidden{{/unless}}">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.SHRINE.ENERGIE.Distance6Tours"}}</span>
                <span class="score">{{this.energie.distance6tours}}</span>
            </div>
        </div>

        <div class="data">
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score">{{{getActivation this.activation}}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score">{{{this.duree}}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
                <span class="score">{{{this.portee}}}</span>
           </div>
            <div class="longspan separation">
                <span class="header">{{localize "KNIGHT.BONUS.ChampDeForce"}}</span>
                <span class="score">{{this.champdeforce}}</span>
           </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.REQUIS.Force"}}</span>
                <span class="score">{{this.requis.force}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.REQUIS.Chair"}}</span>
                <span class="score">{{this.requis.chair}}</span>
           </div>
        </div>
    </div>
</div>