
<div class="type">
    <h3 class="header js-toggler">
        <i class="far fa-plus-square"></i>
        {{label}}

        {{#if ("armure" @root/systemData/wear)}}
            {{#if choixFaits}}
            <div class="blockMultiline">
                {{#if type.soldier.selectionne}}
                    {{#if (typeCanBeActivate this 'soldier' 'conflit' legend)}}
                    <button class="activation"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-special="soldier"
                        data-variant="conflit"
                        data-cout="{{#unless (typeIsFree this)}}{{energie.tour}}{{else}}0{{/unless}}"
                        data-toupdate="capacites.selected.type.type"
                        data-value="{{type.soldier.conflit}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Soldier"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localizeactivate type.soldier.conflit}}
                    </button>
                    {{/if}}

                    {{#if (typeCanBeActivate this 'soldier' 'horsconflit' legend)}}
                    <button class="activation"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-special="soldier"
                        data-variant="horsconflit"
                        data-cout="{{#unless (typeIsFree this)}}{{energie.scene}}{{else}}0{{/unless}}"
                        data-toupdate="capacites.selected.type.type"
                        data-value="{{type.soldier.horsconflit}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Soldier"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localizeactivate type.soldier.horsconflit}}
                    </button>
                    {{/if}}

                    {{#if type.soldier.conflit}}
                    <button class="prolonger"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-cout="{{energie.tour}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Soldier"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}

                    {{#if type.soldier.horsconflit}}
                    <button class="prolonger"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-cout="{{energie.scene}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Soldier"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}

                {{#if type.hunter.selectionne}}
                    {{#if (typeCanBeActivate this 'hunter' 'conflit' legend)}}
                    <button class="activation"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-special="hunter"
                        data-variant="conflit"
                        data-cout="{{#unless (typeIsFree this)}}{{energie.tour}}{{else}}0{{/unless}}"
                        data-toupdate="capacites.selected.type.type"
                        data-value="{{type.hunter.conflit}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Hunter"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localizeactivate type.hunter.conflit}}
                    </button>
                    {{/if}}

                    {{#if (typeCanBeActivate this 'hunter' 'horsconflit' legend)}}
                    <button class="activation"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-special="hunter"
                        data-variant="horsconflit"
                        data-cout="{{#unless (typeIsFree this)}}{{energie.scene}}{{else}}0{{/unless}}"
                        data-toupdate="capacites.selected.type.type"
                        data-value="{{type.hunter.horsconflit}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Hunter"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localizeactivate type.hunter.horsconflit}}
                    </button>
                    {{/if}}

                    {{#if type.hunter.conflit}}
                    <button class="prolonger" data-type="capacites"
                        data-capacite="{{key}}" data-name="{{label}}"
                        data-cout="{{energie.tour}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Hunter"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}

                    {{#if type.hunter.horsconflit}}
                    <button class="prolonger"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-cout="{{energie.scene}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Hunter"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}

                {{#if type.scholar.selectionne}}
                    {{#if (typeCanBeActivate this 'scholar' 'conflit' legend)}}
                    <button class="activation"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-special="scholar"
                        data-variant="conflit"
                        data-cout="{{#unless (typeIsFree this)}}{{energie.tour}}{{else}}0{{/unless}}"
                        data-toupdate="capacites.selected.type.type"
                        data-value="{{type.scholar.conflit}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scholar"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localizeactivate type.scholar.conflit}}
                    </button>
                    {{/if}}

                    {{#if (typeCanBeActivate this 'scholar' 'horsconflit' legend)}}
                    <button class="activation"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-special="scholar"
                        data-variant="horsconflit"
                        data-cout="{{#unless (typeIsFree this)}}{{energie.scene}}{{else}}0{{/unless}}"
                        data-toupdate="capacites.selected.type.type"
                        data-value="{{type.scholar.horsconflit}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scholar"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localizeactivate type.scholar.horsconflit}}
                    </button>
                    {{/if}}

                    {{#if type.scholar.conflit}}
                    <button class="prolonger"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-cout="{{energie.tour}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scholar"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}

                    {{#if type.scholar.horsconflit}}
                    <button class="prolonger"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-cout="{{energie.scene}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scholar"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}

                {{#if type.herald.selectionne}}
                    {{#if (typeCanBeActivate this 'herald' 'conflit' legend)}}
                    <button class="activation"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-special="herald"
                        data-variant="conflit"
                        data-cout="{{#unless (typeIsFree this)}}{{energie.tour}}{{else}}0{{/unless}}"
                        data-toupdate="capacites.selected.type.type"
                        data-value="{{type.herald.conflit}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Herald"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localizeactivate type.herald.conflit}}
                    </button>
                    {{/if}}

                    {{#if (typeCanBeActivate this 'herald' 'horsconflit' legend)}}
                    <button class="activation"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-special="herald" data-variant="horsconflit"
                        data-cout="{{#unless (typeIsFree this)}}{{energie.scene}}{{else}}0{{/unless}}"
                        data-toupdate="capacites.selected.type.type"
                        data-value="{{type.herald.horsconflit}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Herald"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localizeactivate type.herald.horsconflit}}
                    </button>
                    {{/if}}

                    {{#if type.herald.conflit}}
                    <button class="prolonger" data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-cout="{{energie.tour}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Herald"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}

                    {{#if type.herald.horsconflit}}
                    <button class="prolonger"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-cout="{{energie.scene}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Herald"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}

                {{#if type.scout.selectionne}}
                    {{#if (typeCanBeActivate this 'scout' 'conflit' legend)}}
                    <button class="activation"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-special="scout"
                        data-variant="conflit"
                        data-cout="{{#unless (typeIsFree this)}}{{energie.tour}}{{else}}0{{/unless}}"
                        data-toupdate="capacites.selected.type.type"
                        data-value="{{type.scout.conflit}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scout"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localizeactivate type.scout.conflit}}
                    </button>
                    {{/if}}

                    {{#if (typeCanBeActivate this 'scout' 'horsconflit' legend)}}
                    <button class="activation"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-special="scout"
                        data-variant="horsconflit"
                        data-cout="{{#unless (typeIsFree this)}}{{energie.scene}}{{else}}0{{/unless}}"
                        data-toupdate="capacites.selected.type.type"
                        data-value="{{type.scout.horsconflit}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scout"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localizeactivate type.scout.horsconflit}}
                    </button>
                    {{/if}}

                    {{#if type.scout.conflit}}
                    <button class="prolonger"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-cout="{{energie.tour}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scout"}} - {{localize "KNIGHT.AUTRE.EnConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}

                    {{#if type.scout.horsconflit}}
                    <button class="prolonger"
                        data-type="capacites"
                        data-capacite="{{key}}"
                        data-name="{{label}}"
                        data-cout="{{energie.scene}}">
                        {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scout"}} - {{localize "KNIGHT.AUTRE.HorsConflit"}} : {{localize "KNIGHT.AUTRE.Prolonger"}}
                    </button>
                    {{/if}}
                {{/if}}
            </div>
            {{else}}
            <div class="blockMultiline">
                <button class="
                    aChoisir
                    {{#if type.soldier.selectionne}}
                    choisi
                    {{/if}}
                    " data-type="capacites" data-capacite="{{key}}" data-special="soldier"
                    data-value="{{type.soldier.selectionne}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Soldier"}} : {{localizechoix type.soldier.selectionne}}
                </button>

                <button class="
                    aChoisir
                    {{#if type.hunter.selectionne}}
                    choisi
                    {{/if}}
                " data-type="capacites" data-capacite="{{key}}" data-special="hunter"
                    data-value="{{type.hunter.selectionne}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Hunter"}} : {{localizechoix type.hunter.selectionne}}
                </button>

                <button class="
                    aChoisir
                    {{#if type.scholar.selectionne}}
                    choisi
                    {{/if}}
                " data-type="capacites" data-capacite="{{key}}" data-special="scholar"
                    data-value="{{type.scholar.selectionne}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scholar"}} : {{localizechoix type.scholar.selectionne}}
                </button>

                <button class="
                    aChoisir
                    {{#if type.herald.selectionne}}
                    choisi
                    {{/if}}
                " data-type="capacites" data-capacite="{{key}}" data-special="herald"
                    data-value="{{type.herald.selectionne}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Herald"}} : {{localizechoix type.herald.selectionne}}
                </button>

                <button class="
                    aChoisir
                    {{#if type.scout.selectionne}}
                    choisi
                    {{/if}}
                " data-type="capacites" data-capacite="{{key}}" data-special="scout"
                    data-value="{{type.scout.selectionne}}">
                    {{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TYPE.Scout"}} : {{localizechoix type.scout.selectionne}}
                </button>
            </div>
            {{/if}}
        {{/if}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>

    <div class="mainData" style="display:none">
        <div class="data fullWidth">
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.TypesPossedes"}}</span>
                <span class="score">{{this.nbreType}}</span>
            </div>
            <h4>{{localize "KNIGHT.LATERAL.Energie"}}</h4>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.ENERGIE.Tour"}}</span>
                <span class="score">{{this.energie.tour}}</span>
            </div>
            <div class="longspan">
                <span class="header">{{localize "KNIGHT.ITEMS.ARMURE.CAPACITES.TYPE.ENERGIE.Scene"}}</span>
                <span class="score">{{this.energie.scene}}</span>
            </div>
            <div class="shortspan separation">
                <span class="header">{{localize "KNIGHT.ACTIVATION.Label"}}</span>
                <span class="score alignLeft">{{getActivation this.activation}}</span>
            </div>
            <div class="shortspan">
                <span class="header">{{localize "KNIGHT.DUREE.Label"}}</span>
                <span class="score alignLeft">{{this.duree}}</span>
            </div>
        </div>
        {{#each type as | key type|}}
            {{#if key.selectionne}}
            <div class="data">
                <h4 class="title">{{getType type}}</h4>
                <h4>{{localize "KNIGHT.BONUS.Overdrives"}}</h4>
                <div class="line noBottomSeparation">
                    {{#each key.liste as | tKey dType|}}
                        <div class="tripleLine noSeparation">
                            <span class="header">{{getCarac dType}}</span>
                            <span class="score">{{this.value}}</span>
                        </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
        {{/each}}
    </div>
</div>
