.capaciteUltime {
    @include header();
    @include headerItemWImg();

    header.header {
        grid-template-columns: 212px 1fr 1fr;
        grid-template-rows: 48px 1fr 1fr;

        div {
            &.condition {
                grid-row: 2;
                grid-column: 2 / 4;
            }

            &.details {
                grid-row: 3;
                grid-column: 2 / 4;
                margin-top:5px;
            }

            &.blockLeft {
                grid-row: 1 / 4;

                display:grid;
                grid-template-rows: 1fr 34px 34px;
                grid-gap: 5px;
            }

            &.blockImg {
                width:100%;
                height:100%;
                grid-row:1;
            }

            &.editor {
                height:calc(100% - 23px) !important;
            }
        }

        h1.charname {
            grid-row: 1;
            grid-column: 2 / 4;
        }

        button {
            &.clicked {
                background:$lightBlack;
            }

            &.passive {
                grid-row: 2;

                font-variant: small-caps;
                display: block;
                text-align: center;
                width: 100%;
                color: $white;
                cursor: pointer;
                border: 2px solid $lightBlack;
                position: relative;
                line-height: 28px;
                border-radius: 0px;
                grid-column: 1;
            }

            &.active {
                grid-row: 3;

                font-variant: small-caps;
                display: block;
                text-align: center;
                width: 100%;
                color: $white;
                cursor: pointer;
                border: 2px solid $lightBlack;
                position: relative;
                line-height: 28px;
                border-radius: 0px;
                grid-column: 1;
            }
        }
    }

    div {
        &.main {
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
            margin-top:5px;

            button {
                font-variant: small-caps;
                display: block;
                text-align: center;
                width: calc(100% - 2px);
                color: $white;
                cursor: pointer;
                border: 2px solid $lightBlack;
                position: relative;
                line-height: 28px;
                border-radius: 0px;

                &.clicked {
                    background:$lightBlack;
                }

                &.double {
                    grid-column: 1 / 3;
                }

                &.hidden {
                    display:none !important;
                }
            }
        }

        &.passive,
        &.active {
            display:none;
            align-items: flex-start;

            &.show {
                display:grid;
            }

            div {
                &.data {
                    display:grid;
                    grid-template-columns: 1fr;

                    h3.subtitre {
                        font-variant: small-caps;
                        font-size: 17px;
                        width: 100%;
                        background: $lightBlack;
                        margin: 0px;
                        padding-left: 5px;
                        line-height: 26px;
                        border-top: 1px solid black;
                        border-bottom:0px;

                        &.borderDouble {
                            border-top:5px double black;
                        }
                    }

                    h4.subtitre {
                        font-variant: small-caps;
                        font-size: 13px;
                        width: 100%;
                        background: $lightBlack;
                        margin: 0px;
                        padding-left: 5px;
                        line-height: 26px;
                        border-top: 1px solid black;
                        border-bottom:0px;
                    }

                    >label {
                        display:grid;
                        grid-template-columns: 1fr 50px;

                        span {
                            font-variant: small-caps;
                            font-size:14px;
                            line-height: 26px;
                            padding-left:5px;
                            border-top:1px solid $black;
                            background:$lightBlack;
                        }

                        input {
                            border:0px;
                            width:100%;
                            text-align: center;
                            padding:0px;
                            background:$black;
                            border-radius:0px;
                            height:100%;
                            border-top:1px solid $lightBlack;
                        }

                        select {
                            border:0px;
                            width:100%;
                            text-align: center;
                            padding:0px;
                            background:$black;
                            border-radius:0px;
                            height:100%;
                            border-top:1px solid $lightBlack;
                            color:white;

                            option {
                                background:$lightBlack;
                            }
                        }

                        &.select {
                            grid-template-columns: 1fr 200px;
                        }
                    }

                    &.hidden,
                    .hidden {
                        display:none !important;
                    }

                    &.checked {
                        border:1px solid $lightBlue;

                        >span,
                        >input {
                            &:first-of-type {
                                border-top:1px solid $black;
                            }
                        }
                    }

                    div {
                        &.dice {
                            display:grid;
                            grid-template-columns: 1fr 50px;

                            >span {
                                font-variant: small-caps;
                                font-size:14px;
                                line-height: 26px;
                                padding-left:5px;
                                background:$lightBlack;
                                border-top:1px solid $black;
                            }

                            label {
                                display:grid;
                                grid-template-columns: 1fr 1fr;
                                background:$black;
                                border-top:1px solid $lightBlack;

                                input {
                                    border:0px;
                                    width:100%;
                                    text-align: right;
                                    padding:0px;
                                    background:$black;
                                    border-radius:0px;

                                }

                                span {
                                    font-variant: small-caps;
                                    font-size:14px;
                                    line-height: 26px;
                                    background:$black;
                                }
                            }
                        }

                        &.diceWBonus {
                            display:grid;
                            grid-template-columns: 1fr 75px;

                            >span {
                                font-variant: small-caps;
                                font-size:14px;
                                line-height: 26px;
                                padding-left:5px;
                                border-top:1px solid $black;
                                background:$lightBlack;
                            }

                            div {
                                display:grid;
                                grid-template-columns: 1fr min-content 1fr;
                                background:$lightBlack;
                                border-top:1px solid $black;

                                input {
                                    border:0px;
                                    width:100%;

                                    padding:0px;
                                    background:$black;
                                    border-radius:0px;

                                    &:first-of-type {
                                        text-align: right;
                                    }
                                }

                                span {
                                    font-variant: small-caps;
                                    font-size:14px;
                                    line-height: 26px;
                                    background:$black;
                                }
                            }
                        }

                        &.textarea {
                            display:grid;
                            grid-template-columns: 1fr;

                            span {
                                font-variant: small-caps;
                                font-size: 17px;
                                width: 100%;
                                background: $lightBlack;
                                margin: 0px;
                                padding-left: 5px;
                                line-height: 26px;
                                border-bottom: 1px solid black;
                            }

                            textarea {
                                color: $white;
                                width:100%;
                                border: 0px;
                                padding-top: 0px;
                                padding-bottom: 0px;
                                padding-left: 5px;
                                padding-right: 5px;
                                text-align: left;
                                background: $black;
                                font-family: "Signika";
                                height: 26px;
                                border-radius: 0px;
                            }

                            &.border {
                                border-top:1px solid $black;
                            }
                        }

                        &.textareaWButton {
                            display:grid;
                            grid-template-columns: 1fr;

                            span {
                                font-variant: small-caps;
                                font-size: 17px;
                                width: 100%;
                                background: $lightBlack;
                                margin: 0px;
                                padding-left: 5px;
                                line-height: 26px;
                                border-bottom: 1px solid black;
                            }

                            button {
                                border-right:0px;
                                border-left:0px;
                            }

                            textarea {
                                color: $white;
                                width:100%;
                                border: 0px;
                                padding-top: 0px;
                                padding-bottom: 0px;
                                padding-left: 5px;
                                padding-right: 5px;
                                text-align: left;
                                background: $black;
                                font-family: "Signika";
                                height: 26px;
                                border-radius: 0px;
                            }

                            &.border {
                                border-top:1px solid $black;
                            }
                        }

                        &.effets {
                            display: flex;
                            position:relative;
                            width: 100%;
                            justify-content: space-evenly;
                            flex-wrap: wrap;
                            padding-right: 5px;
                            padding-bottom: 19px;
                            padding-left: 5px;
                            border-top: 1px solid black;

                            @include effets();
                        }
                    }

                    button:not(:first-of-type) {
                        border-top:1px solid black;
                        border-left:0px;
                        border-right:0px;
                        border-bottom:0px;
                    }
                }
            }

            >label {
                display:grid;
                grid-template-columns: 1fr 50px;

                span {
                    font-variant: small-caps;
                    font-size:14px;
                    line-height: 26px;
                    padding-left:5px;
                    border-top:1px solid $black;
                    background:$lightBlack;
                }

                input {
                    border:0px;
                    width:100%;
                    text-align: center;
                    padding:0px;
                    background:$black;
                    border-radius:0px;
                    height:100%;
                    border-top:1px solid $lightBlack;
                }

                select {
                    border:0px;
                    width:100%;
                    text-align: center;
                    padding:0px;
                    background:$black;
                    border-radius:0px;
                    height:100%;
                    border-top:1px solid $lightBlack;
                    color:white;

                    option {
                        background:$lightBlack;
                    }
                }

                &.select {
                    grid-template-columns: 1fr 200px;
                }
            }
        }

        &.active {
            grid-template-rows: repeat(8, min-content);

            div {
                &.data {
                    border:1px solid $lightBlue;

                    &.unchecked {
                        border:0px;
                    }
                }

                &.diceWLabel {
                    display:grid;
                    grid-template-columns: 1fr 75px;

                    >span {
                        font-variant: small-caps;
                        font-size:14px;
                        line-height: 26px;
                        background:$black;
                        padding-left:5px;
                    }

                    div {
                        display:grid;
                        grid-template-columns: 1fr min-content 1fr;
                        background:$lightBlack;
                        border-top:1px solid $black;
                        border-left:1px solid $lightBlack;

                        input {
                            border:0px;
                            width:100%;

                            padding:0px;
                            background:$black;
                            border-radius:0px;

                            &:first-of-type {
                                text-align: right;
                            }
                        }

                        span {
                            font-variant: small-caps;
                            font-size:14px;
                            line-height: 26px;
                            background:$black;
                        }
                    }
                }

                &.addCJet {
                    display:grid;
                    grid-template-columns: 1fr;
                    border-top:1px solid $lightBlack;

                    >span {
                        grid-row:1;
                        grid-column: 1 / 4;
                        font-variant: small-caps;
                        text-align: center;
                    }

                    div {
                        &.list {
                            grid-row: 2;

                            display:grid;
                            width:100%;
                            grid-template-columns: 1fr 1fr;
                            grid-gap:2px;
                            padding-left:2px;
                            padding-right:2px;

                            span {
                                position:relative;
                                width:100%;
                                background:$lightBlack;
                                line-height: 24px;
                                text-align: center;
                                border-radius:5px;
                                padding-right:5px;

                                img {
                                    display: inline-block;
                                    position: absolute;
                                    width: 15px;
                                    height: 15px;
                                    border: 0px;
                                    top: 4px;
                                    left: 2px;
                                    cursor: pointer;
                                }
                            }
                        }

                        &.menu {
                            grid-row: 3;

                            display:grid;
                            grid-template-columns: 1fr 1fr;
                            grid-gap: 5px;
                            border-top:1px solid $lightBlack;

                            select {
                                border:0px;
                                border-radius: 0px;
                                text-align: center;
                                color:$white;

                                optgroup {
                                    background:$lightBlack;
                                }

                                option {
                                    background:$black;
                                }
                            }
                            button {
                                border-top: 0px;
                                border-right: 0px;
                                border-bottom: 0px;
                                line-height: 20px;
                            }
                        }
                    }
                }

                &.addDmg {
                    display:grid;
                    grid-template-columns: 1fr;
                    border-top:1px solid $lightBlack;

                    >span {
                        grid-row:1;
                        grid-column: 1 / 4;
                        font-variant: small-caps;
                        text-align: center;
                    }

                    div {
                        &.list {
                            grid-row: 2;

                            display:grid;
                            width:100%;
                            grid-template-columns: 1fr 1fr;
                            grid-gap:2px;
                            padding-left:2px;
                            padding-right:2px;

                            span {
                                position:relative;
                                width:100%;
                                background:$lightBlack;
                                line-height: 24px;
                                text-align: center;
                                border-radius:5px;
                                padding-right:5px;

                                img {
                                    display: inline-block;
                                    position: absolute;
                                    width: 15px;
                                    height: 15px;
                                    border: 0px;
                                    top: 4px;
                                    left: 2px;
                                    cursor: pointer;
                                }
                            }
                        }

                        &.menu {
                            grid-row: 3;

                            display:grid;
                            grid-template-columns: 1fr 1fr;
                            grid-gap: 5px;
                            border-top:1px solid $lightBlack;

                            div {
                                display:grid;
                                grid-template-columns: 1fr min-content 1fr;

                                input {
                                    border:0px;
                                    color:$white;
                                    padding:0px;
                                    width:100%;

                                    &:first-of-type {
                                        text-align: right;
                                    }
                                }

                                span {
                                    font-variant: small-caps;
                                    font-size:14px;
                                    line-height: 26px;
                                    background:$black;
                                }
                            }

                            button {
                                border-top: 0px;
                                border-right: 0px;
                                border-bottom: 0px;
                                line-height: 20px;
                            }
                        }
                    }
                }
            }

            &.hidden,
            .hidden {
                display:none !important;
            }

            >label {
                grid-column: 2;
                display:grid;
                grid-template-columns: 1fr 50px;
                border:1px solid $lightBlue;

                span {
                    font-variant: small-caps;
                    font-size:14px;
                    line-height: 31px;
                    padding-left:5px;
                    background:$lightBlack;
                }

                input {
                    border:0px;
                    width:100%;
                    text-align: center;
                    padding:0px;
                    background:$black;
                    border-radius:0px;
                    height:100%;
                }

                select {
                    border:0px;
                    width:100%;
                    text-align: center;
                    padding:0px;
                    background:$black;
                    border-radius:0px;
                    height:100%;
                    color:white;

                    option {
                        background:$lightBlack;
                    }
                }

                &.select {
                    grid-template-columns: 1fr 200px;
                }
            }

            .right {
                grid-column: 2;
            }

            .left {
                grid-row: 1 / 10;
            }
        }
    }
}