form.item.capacite section.window-content {
  display: grid;
  grid-template-columns: 212px 1fr;
  grid-gap: 5px;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;

  @include header();

  @import "../common/img";
  @import "../common/header";
  @import "../common/effets";
  @import "../../parts/nav";

  nav {
    grid-column: 1 / 3;
    justify-content: space-evenly;
  }

  div {
    @import "../common/specialEffects";

    &.hLeft {
      @include buttons;

      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 5px;
      align-items: flex-start;
      align-content: flex-start;
    }

    &.tab {
      grid-column: 1 / 3;
    }

    &.effects {
      grid-template-columns: 1fr;
    }

    &.other {
      @include buttons;
      @include diceWithLabel;
      @include selectWithLabel;

      &.active {
        display: grid;
      }

      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;
      align-items: flex-start;
      align-content: flex-start;

      div {
        &.atk,
        &.dmg {
          > select {
            width: 100%;
            background: $black;
            text-align: center;
            border: 0px;
            border-radius: 0px;
            color: $white;
            padding: 0px;
            height: 23px;

            option {
              background: $lightBlack;
            }
          }

          div {
            &.diceWithLabel {
              div {
                grid-template-columns: 1fr 17px 1fr;
              }

              &.borderTop {
                > span {
                  border-top: 1px solid $black;
                }

                > div {
                  border-top: 1px solid $lightBlack;
                }
              }
            }
          }

          label {
            &.selectWithLabel {
              &.borderTop {
                span {
                  border-top: 1px solid $black;
                }

                select {
                  border-top: 1px solid $lightBlack;
                }
              }
            }
          }
        }

        &.btn.checked {
          border: 1px solid $lightBlue;

          button.toggle {
            border-radius: 0px;
          }
        }

        &.blockEffets {
          margin-top: 0px;

          div.effets,
          div.distance,
          div.structurelles,
          div.ornementales {
            border: 0px;
          }
        }
      }
    }
  }
}
