@mixin separationTopMenu() {
    img {
        border-top: 1px solid $black;
    }

    span {
        &.label {
            border-top: 1px solid $black;
        }

        &.score {
            border-top: 1px solid $lightBlack;
        }

        &.separation {
            border-top: 1px solid $lightBlack;
        }
    }

    input {
        border-top: 1px solid $lightBlack;
    }
}

@mixin separationBottomMenu() {
    img {
        border-bottom: 1px solid $black;
    }

    span {
        &.label {
            border-bottom: 1px solid $black;
        }

        &.score {
            border-bottom: 1px solid $black;
        }

        &.separation {
            border-bottom: 1px solid $black;
        }
    }

    input {
        border-bottom: 1px solid $black;
    }
}


section.menu {
    padding-top: 5px;

    div.block {
        &.selectWithTooltip {
            display: grid;
            grid-template-columns: 1fr;
            align-items: flex-start;
            align-content: flex-start;
            width: 100%;
            position: relative;

            span {
                &.label {
                    display:flex;
                    width:100%;
                    text-align: center;
                    height:100%;
                    font-variant: small-caps;
                    font-size:16px;
                    letter-spacing: 1px;
                    justify-content: center;
                    align-items: center;
                }

                &.tooltip {
                    display:inline-block;
                    position:absolute;
                    width:21px;
                    height:21px;
                    line-height: 21px;
                    font-size:15px;
                    border:1px solid black;
                    border-radius:50%;
                    text-align: center;
                    background:$lightBlack;
                    bottom:5px;
                    left:5px;
                    cursor:pointer;

                    &:hover {
                        filter: drop-shadow(0px 0px 5px RGB(37 85 228));
                    }
                }
            }

            select {
                width:100%;
                text-align: center;
                padding-left:13px;
                border:0px;
                margin:0px;
                padding-top:0px;
                padding-right:0px;
                padding-bottom:0px;
                text-align: center;
                background:$black;
                color:$white;
                font-variant: small-caps;

                option {
                    background:$black;
                }
            }
        }

        &.inputWithSpanMax,
        &.inputWithSpanMaxWithButtons {
            display: grid;
            grid-template-columns: 1fr;
            align-items: flex-start;
            align-content: flex-start;
            width: 100%;

            div {
                &.header {
                    display:grid;
                    width:100%;
                    min-height: 30px;
                    grid-template-columns: 1fr 36px 8px 36px;

                    button {
                        grid-column: 1 / 5;
                    }

                    &.submenu {
                        grid-template-columns: 30px 1fr 36px 8px 36px;

                        button {
                            grid-column: 1 / 6;
                        }
                    }

                    img {
                        height:100%;
                        width:100%;
                        cursor:pointer;

                        &:hover {
                            filter: drop-shadow(0px 0px 5px $blue);
                        }
                    }
                }

                &.subline {
                    display:grid;
                    width:100%;
                    grid-template-columns: 1fr 36px 8px 36px;

                    input {
                        grid-column: 2 / 5;
                    }

                    @include separationTopMenu();
                }
            }

            span {
                &.label {
                    display:flex;
                    width:100%;
                    height:100%;
                    font-variant: small-caps;
                    font-size:14px;
                    letter-spacing: 1px;
                    padding-left:5px;
                    align-items: center;
                    min-height: 30px;
                }

                &.separation {
                    display:flex;
                    width:100%;
                    height:100%;
                    background:$black;
                    text-align:center;
                    font-size:16px;
                    align-items: center;
                }

                &.score {
                    display:flex;
                    width:100%;
                    height:100%;
                    background:$black;
                    text-align:center;
                    font-size:16px;
                    align-items: center;
                    justify-content: center;
                }
            }

            input {
                display: inline-block;
                width:100%;
                height:100%;
                background:$black;
                text-align:center;
                font-size:16px;
                border:0px;
                border-radius:0px;
                padding:0px;
                margin:0px;
                padding-bottom:1px;
                z-index:10;
            }

            button {
                width: 100%;
                font-size:11px;
                line-height: 20px;
                background:$black;
                border-bottom: 0px;
                border-left: 0px;
                border-right: 0px;
                border-top: 1px solid $lightBlack;
                border-radius: 0px;
                font-variant: small-caps;
                color:$white;
                cursor:pointer;
                margin:0px;
            }

            &.borderTop {
                @include separationTopMenu();
            }

            &.borderBottom {
                @include separationBottomMenu();
            }
        }

        &.onlyInput,
        &.onlyInputWithButtons {
            display: grid;
            grid-template-columns: 1fr;
            align-items: flex-start;
            align-content: flex-start;
            width: 100%;

            div {
                &.header {
                    display:grid;
                    width:100%;
                    min-height: 30px;
                    grid-template-columns: 1fr 80px;

                    &.submenu {
                        grid-template-columns: 30px 1fr 80px;

                        button {
                            grid-column: 1 / 6;
                        }
                    }

                    img {
                        height:100%;
                        width:100%;
                        cursor:pointer;

                        &:hover {
                            filter: drop-shadow(0px 0px 5px $blue);
                        }
                    }
                }

                &.subline {
                    display:grid;
                    width:100%;
                    height: 100%;
                    grid-template-columns: 1fr 80px;

                    @include separationTopMenu();
                }
            }

            span {
                &.label {
                    display:flex;
                    width:100%;
                    height:100%;
                    font-variant: small-caps;
                    font-size:14px;
                    letter-spacing: 1px;
                    padding-left:5px;
                    align-items: center;
                    min-height: 30px;
                }

                &.separation {
                    display:flex;
                    width:100%;
                    height:100%;
                    background:$black;
                    text-align:center;
                    font-size:16px;
                    align-items: center;
                }

                &.score {
                    display:flex;
                    width:100%;
                    height:100%;
                    background:$black;
                    text-align:center;
                    font-size:16px;
                    align-items: center;
                    justify-content: center;
                }
            }

            input {
                display: inline-block;
                width:100%;
                    height:100%;
                background:$black;
                text-align:center;
                font-size:16px;
                border:0px;
                border-radius:0px;
                padding:0px;
                margin:0px;
                padding-bottom:1px;
                z-index:10;
            }

            button {
                grid-column: 1 / 3;
                width: 100%;
                font-size:11px;
                line-height: 20px;
                background:$black;
                border-bottom: 0px;
                border-left: 0px;
                border-right: 0px;
                border-top: 1px solid $lightBlack;
                border-radius: 0px;
                font-variant: small-caps;
                color:$white;
                cursor:pointer;
                margin:0px;
            }

            &.borderTop {
                @include separationTopMenu();
            }

            &.borderBottom {
                @include separationBottomMenu();
            }
        }

        &.onlySpan,
        &.onlySpanWithDice,
        &.onlySpanWithButtons {
            display: grid;
            grid-template-columns: 1fr;
            align-items: flex-start;
            align-content: flex-start;
            width: 100%;

            div {
                &.header {
                    display:grid;
                    width:100%;
                    min-height: 30px;
                    grid-template-columns: 1fr 80px;

                    &.submenu {
                        grid-template-columns: 30px 1fr 80px;

                        button {
                            grid-column: 1 / 6;
                        }
                    }

                    img {
                        height:100%;
                        width:100%;
                        cursor:pointer;

                        &:hover {
                            filter: drop-shadow(0px 0px 5px $blue);
                        }
                    }
                }

                &.subline {
                    display:grid;
                    width:100%;
                    height: 100%;
                    grid-template-columns: 1fr 80px;

                    @include separationTopMenu();
                }
            }

            span {
                &.label {
                    display:flex;
                    width:100%;
                    height:100%;
                    font-variant: small-caps;
                    font-size:14px;
                    letter-spacing: 1px;
                    padding-left:5px;
                    align-items: center;
                    min-height: 30px;
                }

                &.separation {
                    display:flex;
                    width:100%;
                    height:100%;
                    background:$black;
                    text-align:center;
                    font-size:16px;
                    align-items: center;
                }

                &.score {
                    display:flex;
                    width:100%;
                    height:100%;
                    background:$black;
                    text-align:center;
                    font-size:16px;
                    align-items: center;
                    justify-content: center;
                }
            }

            input {
                display: inline-block;
                width:100%;
                    height:100%;
                background:$black;
                text-align:center;
                font-size:16px;
                border:0px;
                border-radius:0px;
                padding:0px;
                margin:0px;
                padding-bottom:1px;
                z-index:10;
            }

            button {
                width: 100%;
                font-size:11px;
                line-height: 20px;
                background:$black;
                border-bottom: 0px;
                border-left: 0px;
                border-right: 0px;
                border-top: 1px solid $lightBlack;
                border-radius: 0px;
                font-variant: small-caps;
                color:$white;
                cursor:pointer;
                margin:0px;
            }

            &.borderTop {
                @include separationTopMenu();
            }

            &.borderBottom {
                @include separationBottomMenu();
            }
        }

        &.simpleInput {
            display: grid;
            grid-template-columns: 1fr;
            align-items: flex-start;
            align-content: flex-start;
            width: 100%;

            div {
                &.header {
                    display:grid;
                    width:100%;
                    min-height: 30px;
                    grid-template-columns: 1fr 40px;
                }
            }

            span {
                &.label {
                    display:flex;
                    width:100%;
                    height:100%;
                    font-variant: small-caps;
                    font-size:14px;
                    letter-spacing: 1px;
                    padding-left:5px;
                    align-items: center;
                }
            }

            input {
                display: inline-block;
                width:100%;
                    height:100%;
                background:$black;
                text-align:center;
                font-size:16px;
                border:0px;
                border-radius:0px;
                padding:0px;
                margin:0px;
                padding-bottom:1px;
                z-index:10;
            }

            button {
                width: 100%;
                font-size:11px;
                line-height: 20px;
                background:$black;
                border-bottom: 0px;
                border-left: 0px;
                border-right: 0px;
                border-top: 1px solid $lightBlack;
                border-radius: 0px;
                font-variant: small-caps;
                color:$white;
                cursor:pointer;
                margin:0px;
            }

            &.borderTop {
                @include separationTopMenu();
            }

            &.borderBottom {
                @include separationBottomMenu();
            }
        }

        &.doubleInput {
            display: grid;
            align-items: flex-start;
            align-content: flex-start;
            width: 100%;
            grid-template-columns: 1fr;

            div {
                &.header {
                    display:grid;
                    width:100%;
                    min-height: 30px;
                    grid-template-columns: 1fr 36px 8px 36px;
                }
            }

            span {
                &.label {
                    display:flex;
                    width:100%;
                    height:100%;
                    font-variant: small-caps;
                    font-size:14px;
                    letter-spacing: 1px;
                    padding-left:5px;
                    align-items: center;
                    min-height: 30px;
                }

                &.separation {
                    display:flex;
                    width:100%;
                    height:100%;
                    background:$black;
                    text-align:center;
                    font-size:16px;
                    align-items: center;
                }
            }

            input {
                display: inline-block;
                width:100%;
                height:100%;
                background:$black;
                text-align:center;
                font-size:16px;
                border:0px;
                border-radius:0px;
                padding:0px;
                margin:0px;
                padding-bottom:1px;
                z-index:10;
            }

            button {
                grid-column: 1 / 5;
                width: 100%;
                font-size:11px;
                line-height: 20px;
                background:$black;
                border-bottom: 0px;
                border-left: 0px;
                border-right: 0px;
                border-top: 1px solid $lightBlack;
                border-radius: 0px;
                font-variant: small-caps;
                color:$white;
                cursor:pointer;
                margin:0px;
            }

            &.borderTop {
                @include separationTopMenu();
            }

            &.borderBottom {
                @include separationBottomMenu();
            }
        }
    }

    div.separateur {
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        padding-top: 3px;
        padding-bottom: 3px;

        hr {
            border: none;       /* supprime le style par défaut */
            height: 0;
            margin: 0px;
            border-top:5px double $black
        }
    }

    div.separateur + div.borderTop {
        div.header {
            img {
                border-top: 0px !important;
            }

            span {
                &.label {
                    border-top: 0px !important;
                }

                &.score {
                    border-top: 0px !important;
                }

                &.separation {
                    border-top: 0px !important;
                }
            }

            input {
                border-top: 0px !important;
            }
        }
    }

    button {
        &:hover {
            background: $lightBlack !important;
            border-top: 1px solid $black !important;
        }
    }
}