form.item.art section.window-content {
    display: grid;
    grid-template-columns: 212px 1fr;
    grid-gap: 5px;
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto;

    @include header();

    @import "../common/img";
    @import "./parts/header";

    div.body {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        width:100%;
        align-items: flex-start;
        align-content: flex-start;

        div {
            &.pratique {
                display:flex;
                align-items: flex-start;
                align-content: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;
                border:1px solid $lightBlue;
                width:100%;

                h3 {
                    width:100%;
                    font-variant: small-caps;
                    font-size: 13px;
                    line-height:23px;
                    background: $black;
                    text-align: center;
                    margin:0px;
                    border:0px;
                }

                textarea {
                    width:100%;
                    font-family: var(--font-primary);
                    background:$lightBlack;
                    border:0px;
                    border-radius:0px;
                    color:$white;
                    font-size:12px;
                    padding-bottom:0px;
                    padding-top:0px;
                }
            }

            &.col {
                display: grid;
                grid-template-columns: 1fr;
                align-items: flex-start;
                align-content: flex-start;
                width: 100%;
                grid-gap: 5px;
            }

            &.oeuvre {
                display:flex;
                align-items: flex-start;
                align-content: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;
                border:1px solid $lightBlue;
                width:100%;

                textarea {
                    width:100%;
                    font-family: var(--font-primary);
                    background:$lightBlack;
                    border:0px;
                    border-radius:0px;
                    color:$white;
                    font-size:12px;
                    padding-bottom:0px;
                    padding-top:0px;
                }

                label {
                    display:flex;
                    width:100%;
                    justify-content: space-between;
                    flex:none;
                    line-height: 26px;

                    span {
                        width:90px;
                        line-height: 26px;
                        padding-left:5px;
                        background:$lightBlack;
                        border-bottom:1px solid $black;
                    }

                    input {
                        width:calc(100% - 90px);
                        display: flex;
                        min-height:26px;
                        line-height: 20px;
                        text-align: left;
                        justify-content: left;
                        align-items: center;
                        align-content: center;
                        border-top:0px;
                        border-right:0px;
                        border-left:0px;
                        border-bottom:1px solid $lightBlack;
                        padding-right:0px;
                        padding-top:0px;
                        padding-bottom:0px;
                        padding-left:5px;

                        &.notBorderBottom {
                            border-bottom:0px;
                        }
                    }
                }
            }

            &.listeoeuvre {
                display:flex;
                align-items: flex-start;
                align-content: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;
                border:1px solid $lightBlue;
                width:100%;

                a {
                    position: absolute;
                    right: 5px;
                    line-height: 22px;
                }

                div {
                    display:flex;
                    position:relative;
                    width:100%;
                    flex-wrap: wrap;

                    a {
                        position:absolute;
                        top:3px;
                        right:5px;
                    }

                    input {
                        width:100%;
                        display: flex;
                        min-height:26px;
                        line-height: 20px;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        border-top:0px;
                        border-right:0px;
                        border-left:0px;
                        border-bottom:1px solid $lightBlack;
                        padding:0px;
                    }

                    textarea {
                        width:100%;
                        font-family: var(--font-primary);
                        background:$lightBlack;
                        border:0px;
                        border-radius:0px;
                        color:$white;
                        font-size:12px;
                        padding-bottom:0px;
                        padding-top:0px;
                    }

                    &:not(:first-of-type) {
                        border-top:1px solid $lightBlue;
                    }
                }


            }
        }
    }
}