<form class="mainFlex {{cssClass}} limited" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />

        <div class="headerData">
            <div class="data">
                <h1 class="charname">
                    <input name="name" type="text" value="{{data.name}}" placeholder="{{localize "KNIGHT.Nom"}}" />
                </h1>

                {{#if (isValue actor.type 'knight')}}
                <label>
                    <span>{{localize "KNIGHT.Surnom"}} : </span>
                    <input type="text" name="system.surnom" value="{{systemData.surnom}}" />
                </label>
                {{/if}}
            </div>
        </div>
    </header>
    {{#if systemData.equipement.hasArmor}}
    <img class="profile-img" src="{{actor.armureData.img}}" data-edit="img" title="{{data.name}}" />
    {{/if}}

    {{!-- Sheet Body --}}
    <section class="body full">
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="personnage">{{localize "KNIGHT.PERSONNAGE.Label"}}</a>
        </nav>

        {{!-- Personnage Tab --}}
        <div class="tab personnage" data-group="primary" data-tab="personnage">
            {{#unless (isValue actor.type 'knight')}}
            <div class="pointsfaibles hideShowLimited" data-toverify="showPointsFaibles" data-default="false" data-onlygm="false">
                <h2 class="header js-toggler">
                    <i class="far fa-minus-square extendButton"></i>
                    {{localize "KNIGHT.PointsFaibles"}}
                </h2>

                {{editor systemData.pointsFaibles target="system.pointsFaibles" button=true owner=owner editable=editable}}
            </div>
            {{/unless}}

            <div class="description hideShowLimited" data-toverify="showDescriptionFull" data-default="false" data-onlygm="false">
                <h2 class="header js-toggler">
                    <i class="far fa-minus-square extendButton"></i>
                    {{localize "KNIGHT.Description"}}
                </h2>

                {{editor systemData.description target="system.description" button=true owner=owner editable=editable}}
            </div>

            <div class="description hideShowLimited" data-toverify="showDescriptionLimited" data-default="true" data-onlygm="true">
                <h2 class="header js-toggler">
                    <i class="far fa-minus-square extendButton"></i>
                    {{localize "KNIGHT.DescriptionLimitee"}}
                </h2>

                {{editor systemData.descriptionLimitee target="system.descriptionLimitee" button=true owner=owner editable=editable}}
            </div>
        </div>
    </section>
</form>