.sheet.actor {

    h2 {
        font-family: var(--font-body);
    }

    div.tab {
        margin-left: 5px;
        margin-top: 5px;

        &.active {
            display: flex;
            flex: 1;
            flex-direction: column;
            height: calc(100% - 5px);
        }
    }

    prose-mirror {
        div.editor-content {
            padding-left:2px;
            padding-right:2px;
        }
    }

    header.sheet-header {
        width:100%;
        flex:0;
        align-items: flex-start;
        flex:none;

        .profile-img {
        width:180px;
        min-width: 180px;
        height:200px;
        border-color:$white;
        background:$lightBlack;
        margin-right:0px;
        object-fit: contain;
        border-top: 1px solid $white;
        border-right: 1px solid $white;
        border-left: 1px solid $white;
        }

        .headerData {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height:200px;
        width:calc(100% - 180px);
        flex:none;

        .data {
            display:grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;
            grid-gap: 5px;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content:flex-start;
            width:100%;
            flex:none;

            h1.charname {
            grid-column: 1 / 3;
            width:100%;
            border:0px;
            margin:0px;
            flex:none;
            align-self:flex-start;

            input {
                margin: 0px;
                width: 100%;
                text-align: center;
                border-top: 0px;
                border-right: 0px;
                border-left: 0px;
                padding-top: 0px;
                border-radius: 0px;
                border-width: unset;
                border-color: $white;
                background:transparent;
                height: 55px;
            }
            }

            label {
            display: flex;
            align-items: flex-end;
            width:100%;
            flex:none;
            padding-left:5px;

            span {
                white-space: nowrap;
                width:max-content;
                margin-right:5px;
            }

            input {
                border-top: 0px;
                border-radius: 0px;
                border-right: 0px;
                border-left: 0px;
                background: transparent;
                border-color: $white;
                padding-top:10px;
            }
            }
        }

        div.buttonSelectArmure {
            display:flex;
            width:100%;
            justify-content: space-between;
            padding-left:10px;
            padding-right:10px;

            div.blockArmure {
            display:flex;
            justify-content: center;
            align-items:center;
            width:200px;
            color:$white;
            border:2px solid;
            position:relative;
            max-height: 32px;

            button {
                width:calc(200px -  25px - 25px);
                border:0px;
                background:transparent;
            }

            a.item-edit {
                position:absolute;
                cursor:pointer;
                left:5px;
            }

            a.item-delete {
                position:absolute;
                cursor:pointer;
                right:5px;
            }

            &.unselected {
                background:$black;
                border-color:$lightBlack;
            }

            &.selected {
                background:$lightBlack;
                border-color:$black;
            }
            }

            button {
            width:200px;
            color:$white;
            cursor:pointer;
            border:2px solid;
            position:relative;
            min-height: 32px;

            &.unselected {
                background:$black;
                border-color:$lightBlack;
            }

            &.selected {
                background:$lightBlack;
                border-color:$black;
            }
            }

            &.centered {
            justify-content: center;
            }
        }
        }
    }

    section.menu {
        display:flex;
        width:100%;
        border:1px solid $white;
        flex-flow: column;
        background: $lightBlack;
        padding-top:1px;
        grid-row: 2 / 4;
        height: 100%;
    }

    i.canBeHide {
        cursor: pointer;
        font-size: 14px;
        position: absolute;
        top: 6px;
        right: 5px;

        &:hover {
            text-shadow: 0 0 10px $blue;
        }
    }
}