.knight,
.ia,
.pnj,
.creature,
.bande,
.vehicule,
.mechaarmure,
.avantage,
.desavantage,
.motivationMineure {
  .window-content {
    background:none;
    background-color:$black;
    color:$white;

    --color-shadow-primary:$blue;

    .mainFlex {
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
    }

    input {
      color:inherit;
    }

    .item.active {
      background-color:$lightBlue;
    }

    a:hover {
      text-shadow:0 0 10px $blue;
    }

    nav.tabs {
      justify-content: space-between;
    }
  }
}

.editDialog {
    div.dialog-content {
      display:flex;
      margin-bottom:5px;
      border:1px solid $lightBlue;
    }

    div.dialog-buttons {
      button {
        color:$white;
        background: $lightBlack;
        cursor:pointer;
        border-radius:0px;
      }
    }

    input.aspect {
      width:25%;
      height:81px;
      border-top:0px;
      border-left:0px;
      border-bottom:0px;
      border-right:1px solid $lightBlack;
      border-radius:0px;
      text-align: center;
      background:$black;
      font-size:50px;
      line-height: 81px;
      color:$white;
    }

    div.main {
      display:flex;
      width:75%;
      justify-content: space-between;
      flex-wrap:wrap;

      label.line {
        display:flex;
        justify-content: space-between;
        width:100%;
        line-height: 26px;

        span {
          width:calc(100% - 50px);
          padding-left:5px;
          background:$lightBlack;
          color:$white;
        }

        input {
          width:50px;
          text-align: center;
          background:$black;
          border:0px;
          color:$white;
        }

        &:not(:last-of-type) {
          span {
            border-bottom:1px solid $black;
          }

          input {
            border-top:0px;
            border-left:0px;
            border-right:0px;
            border-bottom:1px solid $lightBlack;
          }
        }

        &:last-of-type {
          span {
            border-bottom:0px;
          }

          input {
            border-top:0px;
            border-left:0px;
            border-right:0px;
            border-bottom:0px;
          }
        }
      }
    }
}

.effetsDialog {
  @include header();

  div.editor {
    .tox {
      min-height:inherit;
    }
  }

  .editor-edit {
    background: $black;
  }

  .tox-editor-container {
    background: whitesmoke;
  }

  div.dialog-content {
    display: flex;
    position:relative;
    width: 100%;
    flex-wrap: wrap;

    div.effets,
    div.effetsAdd {
      display: flex;
      position:relative;
      width: 100%;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-wrap: wrap;
      padding-bottom: 5px;

      @include effets();
    }

    div.effets {
      div {
        padding-left:25px;

        &.wEdit {
          padding-left:40px;
        }

        img.delete {
          display: inline-block;
          position: absolute;
          width: 15px;
          height: 15px;
          border: 0px;
          background: $lightBlack;
          top: 4px;
          left: 2px;
          cursor: pointer;

            &.clicked,
            &:hover {
                filter: drop-shadow(0px 0px 5px RGB(37 85 228));
            }
        }

        img.edit {
          display: inline-block;
          position: absolute;
          width: 15px;
          height: 15px;
          border: 0px;
          background: $lightBlack;
          top: 4px;
          left: 20px;
          cursor: pointer;

            &.clicked,
            &:hover {
                filter: drop-shadow(0px 0px 5px RGB(37 85 228));
            }
        }
      }
    }

    div.effetsAdd {

      div {
        padding-left: 25px;
        padding-right: 25px;

        img.info {
          left: 2px;
        }

        a.add {
          display: inline-block;
          position: absolute;
          width: 15px;
          height: 15px;
          border: 0px;
          background: $lightBlack;
          top: 4px;
          right: 2px;
          cursor: pointer;

          &:hover {
              filter: drop-shadow(0px 0px 5px RGB(37 85 228));
          }
        }

        &.double {
          padding-right:41px;

          input {
            &[type="number"] {
              text-align: left;
              position: absolute;
              width: 16px;
              min-width:0px;
              padding: 0px;
              color: $white;
              right:20px;
              top: 0px;
              border: 0px;
              height: 24px;
              border-radius: 0px;
              background:transparent;
            }
          }
        }

        &.text {
          position:relative;
          padding-bottom:22px;

          input {
            &[type="text"] {
              text-align: center;
              position: absolute;
              width: 100%;
              min-width: 0px;
              padding: 0px;
              color: $white;
              right: 0px;
              top: 20px;
              border: 0px;
              height: 24px;
              border-radius: 0px;
              background: transparent;
              font-size: 12px;
            }

            &::placeholder {
              opacity: 0.5;
              color:$white;
            }
          }
        }
      }
    }

    div.effetCustom {
      display: flex;
      position:relative;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 5px;

      div.header {
        display: flex;
        justify-content: space-between;
        width: 100%;

        input.nom {
          width:calc(100% - 100px);
          height: 32px;
          padding-top: 10px;
          border-top:0px;
          border-left:0px;
          border-right:0px;
          border-bottom:1px solid $white;
          border-radius:0px;
          font-variant: small-caps;

          &::placeholder {
            color:$white;
          }
        }

        button.ajouter {
          width:100px;
          border-left:1px solid black;
          border-right:1px solid black;
          background:$lightBlack;
        }

        &.edit {
          input.nom {
            width:calc(100% - 200px);
          }

          button.update,
          button.supprimer {
            width:100px;
            background:$lightBlack;
          }

          button.update {
            width:100px;
            border-left:1px solid black;
            background:$lightBlack;
          }

          button.supprimer {
            width:100px;
            border-left:1px solid black;
            border-right:1px solid black;
            background:$lightBlack;
          }
        }
      }


      div.attaque,
      div.degats,
      div.violence,
      div.other {
        display:flex;
        align-items: flex-start;
        align-content: flex-start;
        width:calc(100% / 2);
        flex-wrap: wrap;
        border-left:1px solid $lightBlue;
        border-right:1px solid $lightBlue;
        border-bottom:1px solid $lightBlue;

        h2 {
          font-size: 14px;
          padding: 0px;
          text-align: center;
        }

        label {
          display:flex;
          position:relative;
          width:100%;
          line-height: 26px;;
          justify-content: space-between;
          flex:none;

          span {

              background:$lightBlack;
              padding-left:5px;

              &.simpleSeparation {
                  border-top:1px solid black;
              }
          }

          input,
          select {
              color:$white;
              border:0px;
              padding:0px;
              background:$black;
              border-radius:0px;
          }

          input {
              text-align: center;
              position: absolute;
              right: 0px;
              height: 100%;
          }

          select {
              text-align: left;
              font-size:12px;
              letter-spacing: 0.5px;
              border-radius:0px;

              option,
              optgroup {
                  background:$lightBlack;
              }

              &.center {
                  text-align: center;
                  padding-left:15px;
              }
          }

          textarea {
              color:$white;
              border:0px;
              padding-top:0px;
              padding-bottom:0px;
              padding-left:5px;
              padding-right:5px;
              text-align: left;
              background:$black;
              font-family: 'Signika';
              height:26px;
              border-radius:0px;
          }

          &.longspan {
              span {
                  width:calc(100% - 50px);
              }

              input,
              select {
                  width:50px;
              }
          }

          &.shortspan {
              span {
                  width:90px;
              }

              input,
              select,
              textarea {
                  width:calc(100% - 90px);
              }

              textarea {
                  max-width:calc(100% - 90px);
                  min-width:calc(100% - 90px);
              }
          }

          &.middlespan {
              span {
                  width:200px
              }

              input,
              select {
                  width:calc(100% - 200px);
              }
          }

          &.doubleInline {
            span.title {
                width:calc(100% - 50px);
            }

            label {
                width:50px;

                span.special {
                    position:absolute;
                    right:0px;
                    width:50%;
                    background:$black;
                    text-align: left;
                    border-top:1px solid $lightBlack;
                    padding:0px;
                }

                input,
                select {
                    left:0px;
                    width:50%;
                    text-align: right;
                }
            }
          }

          &.hidden {
              display:none;
          }

          &:not(:first-of-type) {
              span {
                  border-top:1px solid $black;

                  &.simpleSeparation {
                      border-top:1px solid black;
                  }
              }

              input,
              select,
              textarea {
                  border-top:1px solid $lightBlack;

                  &.noBorderTop {
                      border-top:0px;
                  }
              }

              &.doubleInline {

                  span.special {
                      border-top-color:$lightBlack;
                  }

                  label {
                      span {
                          border-top:1px solid $lightBlack;
                      }
                  }
              }
          }

          &.borderBottom {
            span {
              border-bottom:1px solid $black;
            }

            input {
              border-bottom:1px solid $lightBlack;
            }
          }
        }

        textarea {
          color:$white;
          border:0px;
          padding-top:0px;
          padding-bottom:0px;
          padding-left:5px;
          padding-right:5px;
          text-align: left;
          background:$black;
          font-family: 'Signika';
          width:100%;
          min-width:100%;
          max-width:100%;

          &.hidden {
            display:none;
          }
        }
      }

      button {
        border-left:0px;
        border-top:1px solid black;
        border-right:0px;
        border-bottom:1px solid black;
        font-variant: small-caps;
        border-radius:0px;
        color:$white;
        margin:0px;
        cursor:pointer;

        &.selected {
            background:$lightBlack;
        }
      }

      div.editor {
        min-height:150px;
        width:100%;
        border-left:1px solid $white;
        border-right:1px solid $white;
        border-bottom:1px solid $white;
      }
    }
  }

  div.dialog-buttons {
    margin-bottom:5px;
    button {
      cursor:pointer;
      background:$lightBlack;
      color:$white;
    }
  }
}

.companionsDialog {
  @include header();

  div.dialog-content {
    display: flex;
    position:relative;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom:5px;

    div {
      &.line,
      &.longspan {
        display:flex;
        width:100%;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
      }

      &.longspan {
        line-height: 26px;

        span {
          &.label {
            display:inline-block;
            width:calc(100% - 50px);
            background:$lightBlack;
            padding-left:5px;
            padding-right:5px;
          }

          &.value {
            display:inline-block;
            width:50px;
            background:$black;
            text-align: center;
          }
        }
      }

      &.aspects {
        display:flex;
        width:100%;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: flex-start;

        div {
          &.block {
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            align-content: flex-start;
            width:calc((100% / 2) - 5px);
            border:1px solid $lightBlue;
            margin-top:5px;

            label {
              &.longspan {
                display:flex;
                width:100%;
                justify-content: space-between;
                align-items: flex-start;
                align-content: flex-start;
              }

              &.longspan {
                line-height: 26px;

                span {
                  &.label {
                    display:inline-block;
                    width:calc(100% - 50px);
                    background:$lightBlack;
                    padding-left:5px;
                    padding-right:5px;
                  }
                }

                input {
                  display:inline-block;
                  width:50px;
                  background:$black;
                  text-align: center;
                  padding:0px;
                  border:0px;
                  border-radius:0px;
                }
              }

              &:not(:first-of-type) {
                span {
                  border-top:1px solid $black;
                }

                input {
                  border-top:1px solid $lightBlack;
                }
              }
            }

            &:nth-of-type(odd),
            &:last-of-type {
              margin-right:auto;
            }

            &:nth-of-type(even),
            &:last-of-type {
              margin-left:auto;
            }
          }

          &.longspan {
            position:relative;
            width:calc((100% / 2) - 5px);
            margin-top:5px;
            border:1px solid black;

            input {
                display:flex;
                width:50px;
                position:absolute;
                right:0px;
                text-align: center;
                justify-content: center;
                align-items: center;
                align-content: center;
                height:100%;
                padding:0px;
            }

            &:nth-of-type(odd) {
              margin-right:auto;
            }

            &:nth-of-type(even) {
              margin-left:auto;
            }
          }

          &.aspectDistribuer,
          &.ae {
            cursor:pointer;
          }
        }
      }

      &.configuration {
        display:flex;
        width:100%;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;

        div {
          &.longspan {
            position:relative;
            width:calc((100% / 2) - 5px);
            margin-top:5px;
            border:1px solid black;

            input {
                display:flex;
                width:50px;
                position:absolute;
                right:0px;
                text-align: center;
                justify-content: center;
                align-items: center;
                align-content: center;
                height:100%;
                padding:0px;
            }

            &:nth-of-type(odd) {
              margin-right:auto;
            }

            &:nth-of-type(even) {
              margin-left:auto;
            }
          }
        }

        label {
          &.longspan {
            display:flex;
            width:calc((100% / 2) - 5px);
            justify-content: space-between;
            align-items: flex-start;
            align-content: flex-start;
            border-left:1px solid black;
            border-right:1px solid black;

            &:nth-of-type(1),
            &:nth-of-type(2) {
              margin-top:5px;
              border-top:1px solid black;
            }

            &:nth-last-of-type(1),
            &:nth-last-of-type(2) {
              border-bottom:1px solid black;

              span.label {
                border-bottom:0px;
              }

              input {
                border-bottom:0px;
              }
            }
          }

          &.longspan {
            line-height: 26px;

            span {
              &.label {
                display:inline-block;
                width:calc(100% - 50px);
                background:$lightBlack;
                padding-left:5px;
                padding-right:5px;
                border-bottom:1px solid $black;
              }
            }

            input {
              display:inline-block;
              width:50px;
              background:$black;
              text-align: center;
              padding:0px;
              border:0px;
              border-radius:0px;
              border-bottom:1px solid $lightBlack;
            }
          }
        }
      }

      &.minContent {
        width:min-content;
        white-space: nowrap;
      }

      &.borderBlack {
        border:1px solid black;
      }

      &.marginTop {
        margin-top:5px;
      }

      &.lion,
      &.wolf,
      &.crow {
        border:1px solid $lightBlue;
      }
    }

    .button {
      display:inline-block;
      width:100%;
      color:$white;
      cursor:pointer;
      border:2px solid $lightBlack;
      position:relative;
      background:$black;
      border-color:$lightBlack;
      line-height: 30px;
      text-align: center;
      cursor:pointer;

      &.selected {
        background:$lightBlack;
        border-color:$black;
      }

      &.p33 {
        width:calc((100% / 3) - 10px);
      }

      &:hover {
        outline: none;
        box-shadow: 0 0 5px var(--color-shadow-primary);
      }
    }
  }

  div.dialog-buttons {
    button {
      cursor:pointer;
      background:$lightBlack;
      color:$white;

      &:disabled {
        cursor:not-allowed;
      }
    }
  }
}

.gmTool {
  display:flex;
  width:300px;
  height:135px;
  opacity: 0.7;

  form {
    max-height:171px;
    overflow: auto;
  }

  div {
    @include header();

    &.main {
      display:flex;
      position:relative;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      width:100%;

      button {
        width:100%;
        background:$lightBlack;
        color:$white;
        border:1px solid $black;
        font-size: 12px;
        padding-left: 2px;
        padding-right: 2px;
        line-height: 25px;
      }
    }

    &.initiative {
      display:flex;
      position:relative;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      width:100%;
      border:1px solid $lightBlue;

      div {
        &.pj,
        &.pnj {
          display:flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: flex-start;
          align-content: flex-start;
          width:50%;
          overflow-y:auto;
          max-height:130px;

          span {
            display:block;
            width:100%;
            line-height: 16px;
            text-align: center;
            font-size:13px;
            cursor:pointer;
            border-bottom:1px solid black;

            &.selected {
              background:$lightBlack
            }
          }

          &:not(:first-of-type) {
            border-left:1px solid black;
          }
        }
      }

      &:not(:first-of-type) {
        border-top:1px solid black;
      }
    }
  }

}

.gmInitiative {
  display:flex;
  width:800px;
  height:200px;
  opacity: 0.7;

  form {
    max-height:171px;
    overflow: auto;
  }

  div {
    @include header();

    &.main {
      display:flex;
      position:relative;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      width:100%;

      h2.header {
        font-size: 16px;
        padding-left: 3px;

        .far {
          cursor:pointer;
        }
      }

      h3 {
        display: block;
        position:relative;
        width: 100%;
        text-transform: uppercase;
        color: $white;
        background: $lightBlack;
        margin: 0px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px solid $black;
        line-height: 21px;
        padding-top: 2px;
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }

    &.initiative {
      display:flex;
      position:relative;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      width:calc(50% - 5px);
      border:1px solid $lightBlue;

      div {
        &.pj,
        &.pnj {
          display:flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: flex-start;
          align-content: flex-start;
          width:50%;
          overflow-y:auto;
          max-height:130px;

          span {
            display:block;
            width:100%;
            line-height: 16px;
            text-align: center;
            font-size:13px;
            cursor:pointer;
            border-bottom:1px solid black;

            &.selected {
              background:$lightBlack
            }
          }

          &:not(:first-of-type) {
            border-left:1px solid black;
          }
        }
      }

      &:not(:first-of-type) {
        border-top:1px solid black;
      }
    }
  }
}

.gmMonitor {

  form {
    display: grid;
    opacity: 0.9;
    overflow: auto;
    grid-template-rows: max-content;
    row-gap: 5px;
  }

  div {
    @include header();

    &.main {
      width:100%;
      height:100%;

      >div {
        display: grid;
        grid-template-columns: 120px repeat(5, 1fr) 120px;
        grid-template-rows: auto;
        grid-gap: 1px;
        font-variant: small-caps;
        line-height: 20px;
        border-top: 1px solid $lightBlack;

        div {
          &.name {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;

            span {
              display: flex;
              width: 100%;

              &:nth-of-type(2) {
                border-top: 1px solid $lightBlack;
              }
            }

            i {
              margin-right: 5px;
              margin-top: auto;
              margin-bottom: auto;
              cursor: pointer;

              &:hover {
                text-shadow: 0 0 10px $blue;
              }
            }
          }

          &.aspect {
            display: flex;
            border-left: 1px solid $lightBlack;
            flex-wrap: wrap;
            align-content: flex-start;

            span {
              display: flex;
              width:100%;
              justify-content: left;
              text-align: left;
              padding-left: 5px;

              &.label {
                font-size: 14px;
                font-weight: bold;
                justify-content: center;
                text-align: center;
                padding: 0px;
              }
            }
          }

          &.data {
            display: flex;
            border-left: 1px solid $lightBlack;
            flex-wrap: wrap;
            align-content: flex-start;

            span {
              display: flex;
              width:100%;
              justify-content: left;
              text-align: left;
              padding-left: 5px;
            }
          }
        }

        &:nth-of-type(even) {
          background: $lightBlack;

          div {
            &.name,
            &.aspect,
            &.data {
              border-color: $black;

              span {
                border-color: $black;
              }
            }
          }
        }
      }
    }
  }
}

#pause img {
  content: url("../assets/icons/logoCircle.webp");
  min-height: 200px;
  min-width: 200px;
  left: calc(50% - 100px);
  top: -50px;
}