.effet {
    @include header();

    header.sheet-header {

        div.aData {
            display:flex;
            justify-content: space-between;
            h1 {
                width:calc(100% - 230px);

                input {
                    margin: 0px;
                    width: 100%;
                    border: 0px;
                    text-align: center;
                }
            }

            select {
                width:230px;
                height:48px;
                line-height: 48px;
                font-size:inherit;
                border-top:0px;
                border-right:0px;
                border-bottom:0px;
                border-left:1px solid $white;
                color:$white;
                border-radius:0px;

                option {
                    background:$lightBlack;
                }
            }
        }

    }

    div.editor {
        border-top:1px solid $white;

        .tox {
            min-height:inherit;
        }
    }

    .editor-edit {
      background: $black;
    }

    .tox-editor-container {
      background: whitesmoke;
    }

    div.effetCustom {
        display: flex;
        position:relative;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 5px;

        div.header {
          display: flex;
          justify-content: space-between;
          width: 100%;

          input.nom {
            width:calc(100% - 100px);
            height: 32px;
            padding-top: 10px;
            border-top:0px;
            border-left:0px;
            border-right:0px;
            border-bottom:1px solid $white;
            border-radius:0px;
            font-variant: small-caps;

            &::placeholder {
              color:$white;
            }
          }

          button.ajouter {
            width:100px;
            border-left:1px solid black;
            border-right:1px solid black;
            background:$lightBlack;
          }

          &.edit {
            input.nom {
              width:calc(100% - 200px);
            }

            button.update,
            button.supprimer {
              width:100px;
              background:$lightBlack;
            }

            button.update {
              width:100px;
              border-left:1px solid black;
              background:$lightBlack;
            }

            button.supprimer {
              width:100px;
              border-left:1px solid black;
              border-right:1px solid black;
              background:$lightBlack;
            }
          }
        }


        div.attaque,
        div.degats,
        div.violence {
          display:flex;
          align-items: flex-start;
          align-content: flex-start;
          width:calc(100% / 2);
          flex-wrap: wrap;
          border-left:1px solid $lightBlue;
          border-right:1px solid $lightBlue;
          border-bottom:1px solid $lightBlue;

          h2 {
            font-size: 14px;
            padding: 0px;
            text-align: center;
          }

          label {
            display:flex;
            position:relative;
            width:100%;
            line-height: 26px;;
            justify-content: space-between;
            flex:none;

            span {

                background:$lightBlack;
                padding-left:5px;

                &.simpleSeparation {
                    border-top:1px solid black;
                }
            }

            input,
            select {
                color:$white;
                border:0px;
                padding:0px;
                background:$black;
                border-radius:0px;
            }

            input {
                text-align: center;
                position: absolute;
                right: 0px;
                height: 100%;
            }

            select {
                text-align: left;
                font-size:12px;
                letter-spacing: 0.5px;
                border-radius:0px;

                option,
                optgroup {
                    background:$lightBlack;
                }

                &.center {
                    text-align: center;
                    padding-left:15px;
                }
            }

            textarea {
                color:$white;
                border:0px;
                padding-top:0px;
                padding-bottom:0px;
                padding-left:5px;
                padding-right:5px;
                text-align: left;
                background:$black;
                font-family: 'Signika';
                height:26px;
                border-radius:0px;
            }

            &.longspan {
                span {
                    width:calc(100% - 50px);
                }

                input,
                select {
                    width:50px;
                }
            }

            &.shortspan {
                span {
                    width:90px;
                }

                input,
                select,
                textarea {
                    width:calc(100% - 90px);
                }

                textarea {
                    max-width:calc(100% - 90px);
                    min-width:calc(100% - 90px);
                }
            }

            &.middlespan {
                span {
                    width:200px
                }

                input,
                select {
                    width:calc(100% - 200px);
                }
            }

            &.doubleInline {
              span.title {
                  width:calc(100% - 50px);
              }

              label {
                  width:50px;

                  span.special {
                      position:absolute;
                      right:0px;
                      width:50%;
                      background:$black;
                      text-align: left;
                      border-top:1px solid $lightBlack;
                      padding:0px;
                  }

                  input,
                  select {
                      left:0px;
                      width:50%;
                      text-align: right;
                  }
              }
            }

            &.hidden {
                display:none;
            }

            &:not(:first-of-type) {
                span {
                    border-top:1px solid $black;

                    &.simpleSeparation {
                        border-top:1px solid black;
                    }
                }

                input,
                select,
                textarea {
                    border-top:1px solid $lightBlack;

                    &.noBorderTop {
                        border-top:0px;
                    }
                }

                &.doubleInline {

                    span.special {
                        border-top-color:$lightBlack;
                    }

                    label {
                        span {
                            border-top:1px solid $lightBlack;
                        }
                    }
                }
            }
          }

          textarea {
            color:$white;
            border:0px;
            padding-top:0px;
            padding-bottom:0px;
            padding-left:5px;
            padding-right:5px;
            text-align: left;
            background:$black;
            font-family: 'Signika';
            width:100%;
            min-width:100%;
            max-width:100%;

            &.hidden {
              display:none;
            }
          }
        }

        button {
          border-left:0px;
          border-top:1px solid black;
          border-right:0px;
          border-bottom:1px solid black;
          font-variant: small-caps;
          border-radius:0px;
          color:$white;
          margin:0px;
          cursor:pointer;

          &.selected {
              background:$lightBlack;
          }
        }

        div.editor {
          min-height:150px;
          width:100%;
          border-left:1px solid $white;
          border-right:1px solid $white;
          border-bottom:1px solid $white;
        }
      }
  }