<div class="sarcophage">
    <h3 class="header js-toggler">
        {{~> knight.jsToggle}}
        {{label}}
    </h3>

    <span class="description" style="display:none">{{{this.description}}}</span>
</div>
