<div class="btn">
    <button data-action="valider">
        <i class="fas fa-check"></i>
        {{localize "KNIGHT.AUTRE.Valider"}}
    </button>
    <button data-action="annuler">
        <i class="fas fa-times"></i>
        {{localize "KNIGHT.AUTRE.Annuler"}}
    </button>
</div>
