<div class="rightBlock">
      <div class="std">
            <h2 class="header">
                  {{~> knight.jsToggle}}
                  {{localize "KNIGHT.EFFETS.Add"}}
            </h2>
            <div class="list">
                  {{#each system.possibles}}
                        {{~> knight.dialog.effects.effect this main='possibles'}}
                  {{/each}}
            </div>
      </div>
</div>