<form class="armeWindows {{cssClass}}" autocomplete="off">
    <div class="img">
        <div class="blockImg">
            <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        </div>

        <label class="oneLine">
            <span>{{localize "KNIGHT.AUTRE.PointGloire"}}</span>
            <input type="number" name="system.prix" value="{{systemData.prix}}" min="0" />
        </label>

        <label class="oneLine">
            <span>{{localize "KNIGHT.ITEMS.MODULE.RARETE.Label"}}</span>
            <select name="system.rarete">
                {{#select systemData.rarete}}
                    <option value=""></option>
                    {{#each systemData.listes.rarete  as | key rarete|}}
                        <option value="{{rarete}}">{{key}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </label>
    </div>

    <header class="sheet-header flexrow">
        <h1 class="charname">
            <input name="name" type="text" value="{{data.name}}" placeholder="{{localize "KNIGHT.Nom"}}" />
        </h1>

        <div class="description">
            {{editor systemData.description target="system.description" button=true owner=owner editable=editable}}
        </div>

        <label>
            <span class="header">{{localize "KNIGHT.ITEMS.ARME.TypeArme"}}</span>
            <select name="system.type">
                {{#select systemData.type}}
                <option value="contact">{{localize "KNIGHT.COMBAT.ARMES.CONTACT.Label"}}</option>
                    {{#unless systemData.restrictions.distance}}
                        <option value="distance">{{localize "KNIGHT.COMBAT.ARMES.DISTANCE.Label"}}</option>
                    {{/unless}}
                {{/select}}
            </select>
        </label>

        <label>
            <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
            <select name="system.portee">
                {{#select systemData.portee}}
                <option value="contact">{{localize "KNIGHT.PORTEE.Contact"}}</option>
                <option value="courte">{{localize "KNIGHT.PORTEE.Courte"}}</option>
                <option value="moyenne">{{localize "KNIGHT.PORTEE.Moyenne"}}</option>
                <option value="longue">{{localize "KNIGHT.PORTEE.Longue"}}</option>
                <option value="lointaine">{{localize "KNIGHT.PORTEE.Lointaine"}}</option>
                {{/select}}
            </select>
        </label>

        <label>
            <span class="header">{{localize "KNIGHT.AUTRE.Degats"}}</span>
            <div>
                <input type="number" name="system.degats.dice" value="{{systemData.degats.dice}}" min="0" />
                <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
                <input type="number" name="system.degats.fixe" value="{{systemData.degats.fixe}}" />
            </div>
        </label>

        <label>
            <span class="header">{{localize "KNIGHT.AUTRE.Violence"}}</span>
            <div>
                <input type="number" name="system.violence.dice" value="{{systemData.violence.dice}}" min="0" />
                <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
                <input type="number" name="system.violence.fixe" value="{{systemData.violence.fixe}}" />
            </div>
        </label>

        {{#if (isWpnDistance systemData.type)}}
        <div class="tourelle">
            <button type="action" class="tourelle {{#if systemData.tourelle.has}}selected{{else}}unselected{{/if}}" data-value="{{systemData.tourelle.has}}">
                {{#if systemData.tourelle.has}}
                    {{localize "KNIGHT.ITEMS.ARME.TOURELLE.Has"}}
                {{else}}
                    {{localize "KNIGHT.ITEMS.ARME.TOURELLE.Hasnt"}}
                {{/if}}
            </button>

            {{#if systemData.tourelle.has}}
                <label>
                    <span class="header">{{localize "KNIGHT.AUTRE.Attaque"}}</span>
                    <div>
                        <input type="number" name="system.tourelle.attaque.dice" value="{{systemData.tourelle.attaque.dice}}" min="0" />
                        <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
                        <input type="number" name="system.tourelle.attaque.fixe" value="{{systemData.tourelle.attaque.fixe}}" />
                    </div>
                </label>
            {{/if}}
        </div>
        {{/if}}
    </header>

    <div class="blockEffets">
        <h2 class="header js-toggler">
            <i class="far fa-minus-square"></i>
            {{localize "KNIGHT.EFFETS.Label"}}
        </h2>

        <div class="effets">
            {{#each systemData.effets.liste as | key effet|}}
                <div>
                    <span class="label">{{key.name}}</span>
                    <img class="info" src="systems/knight/assets/icons/info.svg" />
                    <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                </div>
            {{/each}}
            <a class="edit" data-path="system.effets">
                <span>{{localize "KNIGHT.EFFETS.Edit"}}</span>
            </a>
        </div>
    </div>

    {{#unless (isWpnDistance systemData.type)}}
    <div class="blockEffets">
        <h2 class="header js-toggler">
            <i class="far fa-minus-square"></i>
            {{localize "KNIGHT.AMELIORATIONS.LABEL.Structurelles"}}
        </h2>

        <div class="structurelles">
            {{#each systemData.structurelles.liste as | key effet|}}
                <div>
                    <span class="label">{{key.name}}</span>
                    <img class="info" src="systems/knight/assets/icons/info.svg" />
                    <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                </div>
            {{/each}}
            <a class="edit" data-path="system.structurelles">
                <span>{{localize "KNIGHT.AMELIORATIONS.EDIT.Structurelles"}}</span>
            </a>
        </div>
    </div>

    <div class="blockEffets">
        <h2 class="header js-toggler">
            <i class="far fa-minus-square"></i>
            {{localize "KNIGHT.AMELIORATIONS.LABEL.Ornementales"}}
        </h2>

        <div class="ornementales">
            {{#each systemData.ornementales.liste as | key effet|}}
                <div>
                    <span class="label">{{key.name}}</span>
                    <img class="info" src="systems/knight/assets/icons/info.svg" />
                    <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                </div>
            {{/each}}
            <a class="edit" data-path="system.ornementales">
                <span>{{localize "KNIGHT.AMELIORATIONS.EDIT.Ornementales"}}</span>
            </a>
        </div>
    </div>
    {{/unless}}

    {{#if (isWpnDistance systemData.type)}}
    <div class="blockEffets">
        <h2 class="header js-toggler">
            <i class="far fa-minus-square"></i>
            {{localize "KNIGHT.AMELIORATIONS.LABEL.Distance"}}
        </h2>

        <div class="distance">
            {{#each systemData.distance.liste as | key effet|}}
                <div>
                    <span class="label">{{key.name}}</span>
                    <img class="info" src="systems/knight/assets/icons/info.svg" />
                    <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                </div>
            {{/each}}
            <a class="edit" data-path="system.distance">
                <span>{{localize "KNIGHT.AMELIORATIONS.EDIT.Distance"}}</span>
            </a>
        </div>
    </div>
    {{/if}}
</form>
