<form class="armeWindows {{cssClass}}" autocomplete="off">
    <div class="img">
        <div class="blockImg">
            <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        </div>

        <label class="oneLine">
            <span>{{localize "KNIGHT.AUTRE.PointGloire"}}</span>
            <input type="number" name="system.prix" value="{{systemData.prix}}" min="0" />
        </label>

        <label class="oneLine">
            <span>{{localize "KNIGHT.ITEMS.MODULE.RARETE.Label"}}</span>
            <select name="system.rarete">
                {{#select systemData.rarete}}
                    <option value=""></option>
                    {{#each systemData.listes.rarete  as | key rarete|}}
                        <option value="{{rarete}}">{{key}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </label>

        <label class="oneLine">
            <span>{{localize "KNIGHT.JETS.Depenseenergie"}}</span>
            <input type="number" name="system.energie" value="{{systemData.energie}}" min="0" />
        </label>

        {{#unless (wpnHasMunitions (isWpnDistance systemData.type) systemData.optionsmunitions.has)}}
        {{#unless (wpnHasDeuxMains (isWpnDistance systemData.type) systemData.options2mains.has)}}
        <button type="action" class="toupdate dmg
            {{#if systemData.degats.variable.has}}
            selected
            {{else}}
            unselected
            {{/if}}
            " data-toupdate="degats.variable.has"  data-value="{{systemData.degats.variable.has}}">
            {{#if systemData.degats.variable.has}}
            {{localize "KNIGHT.ITEMS.ARME.DEGATS.Variable"}}
            {{else}}
            {{localize "KNIGHT.ITEMS.ARME.DEGATS.NoVariable"}}
            {{/if}}
        </button>

        <button type="action" class="toupdate dmg
            {{#if systemData.violence.variable.has}}
            selected
            {{else}}
            unselected
            {{/if}}
            " data-toupdate="violence.variable.has" data-value="{{systemData.violence.variable.has}}">
            {{#if systemData.violence.variable.has}}
            {{localize "KNIGHT.ITEMS.ARME.VIOLENCE.Variable"}}
            {{else}}
            {{localize "KNIGHT.ITEMS.ARME.VIOLENCE.NoVariable"}}
            {{/if}}
        </button>
        {{/unless}}
        {{/unless}}
    </div>

    <header class="sheet-header flexrow">
        <h1 class="charname">
            <input name="name" type="text" value="{{data.name}}" placeholder="{{localize "KNIGHT.Nom"}}" />
        </h1>

        <div class="description">
            {{editor systemData.description target="system.description" button=true owner=owner editable=editable}}
        </div>

        <label>
            <span class="header">{{localize "KNIGHT.ITEMS.ARME.TypeArme"}}</span>
            <select name="system.type">
                {{#select systemData.type}}
                <option value="contact">{{localize "KNIGHT.COMBAT.ARMES.CONTACT.Label"}}</option>
                    {{#unless systemData.restrictions.distance}}
                        <option value="distance">{{localize "KNIGHT.COMBAT.ARMES.DISTANCE.Label"}}</option>
                    {{/unless}}
                {{/select}}
            </select>
        </label>

        <label>
            <span class="header">{{localize "KNIGHT.PORTEE.Label"}}</span>
            <select name="system.portee">
                {{#select systemData.portee}}
                <option value="contact">{{localize "KNIGHT.PORTEE.Contact"}}</option>
                <option value="courte">{{localize "KNIGHT.PORTEE.Courte"}}</option>
                <option value="moyenne">{{localize "KNIGHT.PORTEE.Moyenne"}}</option>
                <option value="longue">{{localize "KNIGHT.PORTEE.Longue"}}</option>
                <option value="lointaine">{{localize "KNIGHT.PORTEE.Lointaine"}}</option>
                {{/select}}
            </select>
        </label>

        {{#unless (wpnHasMunitions (isWpnDistance systemData.type) systemData.optionsmunitions.has)}}
        <div class="dmg">
            <span class="header">{{localize "KNIGHT.AUTRE.Degats"}}
                {{#if (wpnHasDeuxMains (isWpnDistance systemData.type) systemData.options2mains.has)}}
                    - {{localize "KNIGHT.ITEMS.ARME.DEUXMAINS.Unemain"}}
                {{/if}}
            </span>
            {{#unless systemData.degats.variable.has}}
            <div class="oneCol">
                {{#if (wpnHasDeuxMains (isWpnDistance systemData.type) systemData.options2mains.has)}}
                    <input type="number" name="system.options2mains.1main.degats.dice" value="{{systemData.options2mains.1main.degats.dice}}" min="0" />
                    <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
                    <input type="number" name="system.options2mains.1main.degats.fixe" value="{{systemData.options2mains.1main.degats.fixe}}" />
                {{else}}
                    <input type="number" name="system.degats.dice" value="{{systemData.degats.dice}}" min="0" />
                    <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
                    <input type="number" name="system.degats.fixe" value="{{systemData.degats.fixe}}" />
                {{/if}}
            </div>
            {{else}}
            <div class="twoCol label borderBottom">
                <span>{{localize "KNIGHT.AUTRE.Minimum"}}</span>
            </div>
            <div class="twoCol score borderBottom">
                <input type="number" name="system.degats.variable.min.dice" value="{{systemData.degats.variable.min.dice}}" min="0" max="{{systemData.degats.variable.max.dice}}" />
                <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
                <input type="number" class="dgtsF" name="system.degats.variable.min.fixe" value="{{systemData.degats.fixe}}"/>
            </div>
            <div class="twoCol label borderBottom">
                <span>{{localize "KNIGHT.AUTRE.Maximum"}}</span>
            </div>
            <div class="twoCol score borderBottom">
                <input type="number" name="system.degats.variable.max.dice" value="{{systemData.degats.variable.max.dice}}" min="{{systemData.degats.variable.min.dice}}" />
                <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
                <input type="number" class="dgtsF" name="system.degats.variable.max.fixe" value="{{systemData.degats.fixe}}"/>
            </div>
            <label class="twoCol">
                <span>{{localize "KNIGHT.ITEMS.ARME.CoutAugmentation"}}</span>
                <input type="number" name="system.degats.variable.cout" value="{{systemData.degats.variable.cout}}" min="0" />
            </label>
            {{/unless}}
        </div>

        <div class="dmg">
            <span class="header">{{localize "KNIGHT.AUTRE.Violence"}}
                {{#if (wpnHasDeuxMains (isWpnDistance systemData.type) systemData.options2mains.has)}}
                    - {{localize "KNIGHT.ITEMS.ARME.DEUXMAINS.Unemain"}}
                {{/if}}
            </span>
            {{#unless systemData.violence.variable.has}}
            <div class="oneCol">
                {{#if (wpnHasDeuxMains (isWpnDistance systemData.type) systemData.options2mains.has)}}
                    <input type="number" name="system.options2mains.1main.violence.dice" value="{{systemData.options2mains.1main.violence.dice}}" min="0" />
                    <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
                    <input type="number" name="system.options2mains.1main.violence.fixe" value="{{systemData.options2mains.1main.violence.fixe}}" />
                {{else}}
                    <input type="number" name="system.violence.dice" value="{{systemData.violence.dice}}" min="0" />
                    <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
                    <input type="number" name="system.violence.fixe" value="{{systemData.violence.fixe}}" />
                {{/if}}
            </div>
            {{else}}
            <div class="twoCol label borderBottom">
                <span>{{localize "KNIGHT.AUTRE.Minimum"}}</span>
            </div>
            <div class="twoCol score borderBottom">
                <input type="number" name="system.violence.variable.min.dice" value="{{systemData.violence.variable.min.dice}}" min="0" max="{{systemData.violence.variable.max.dice}}" />
                <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
                <input type="number" class="violenceF" name="system.violence.variable.min.fixe" value="{{systemData.violence.fixe}}" />
            </div>
            <div class="twoCol label borderBottom">
                <span>{{localize "KNIGHT.AUTRE.Maximum"}}</span>
            </div>
            <div class="twoCol score borderBottom">
                <input type="number" name="system.violence.variable.max.dice" value="{{systemData.violence.variable.max.dice}}" min="{{systemData.violence.variable.min.dice}}"/>
                <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
                <input type="number" class="violenceF" name="system.violence.variable.max.fixe" value="{{systemData.violence.fixe}}" />
            </div>
            <label class="twoCol">
                <span>{{localize "KNIGHT.ITEMS.ARME.CoutAugmentation"}}</span>
                <input type="number" name="system.violence.variable.cout" value="{{systemData.violence.variable.cout}}" min="0" />
            </label>
            {{/unless}}
        </div>
        {{/unless}}

        {{#unless (isWpnDistance systemData.type)}}
            {{#if systemData.options2mains.has}}
                <label>
                    <span class="header">{{localize "KNIGHT.AUTRE.Degats"}} - {{localize "KNIGHT.ITEMS.ARME.DEUXMAINS.Deuxmains"}}</span>
                    <div>
                        <input type="number" name="system.options2mains.2main.degats.dice" value="{{systemData.options2mains.2main.degats.dice}}" min="0" />
                        <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
                        <input type="number" name="system.options2mains.2main.degats.fixe" value="{{systemData.options2mains.2main.degats.fixe}}" />
                    </div>
                </label>

                <label>
                    <span class="header">{{localize "KNIGHT.AUTRE.Violence"}} - {{localize "KNIGHT.ITEMS.ARME.DEUXMAINS.Deuxmains"}}</span>
                    <div>
                        <input type="number" name="system.options2mains.2main.violence.dice" value="{{systemData.options2mains.2main.violence.dice}}" min="0" />
                        <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
                        <input type="number" name="system.options2mains.2main.violence.fixe" value="{{systemData.options2mains.2main.violence.fixe}}" />
                    </div>
                </label>
            {{/if}}

            <button type="action" class="toupdate options2Mains {{#if systemData.options2mains.has}}selected{{else}}unselected{{/if}}"
            data-toupdate="options2mains.has"
            data-resetvariable="true"
            data-value="{{systemData.options2mains.has}}">
                {{#if systemData.options2mains.has}}
                    {{localize "KNIGHT.ITEMS.ARME.DEUXMAINS.Has"}}
                {{else}}
                    {{localize "KNIGHT.ITEMS.ARME.DEUXMAINS.Hasnt"}}
                {{/if}}
            </button>
        {{/unless}}

        {{#if (isWpnDistance systemData.type)}}
        <div class="munitions">
            <button type="action" class="toupdate optionsMunitions {{#if systemData.optionsmunitions.has}}selected{{else}}unselected{{/if}}"
            data-toupdate="optionsmunitions.has"
            data-resetvariable="true"
            data-value="{{systemData.optionsmunitions.has}}">
                {{#if systemData.optionsmunitions.has}}
                    {{localize "KNIGHT.ITEMS.ARME.MUNITIONS.Has"}}
                {{else}}
                    {{localize "KNIGHT.ITEMS.ARME.MUNITIONS.Hasnt"}}
                {{/if}}
            </button>
            {{#if systemData.optionsmunitions.has}}
                <label>
                    <span class="header">{{localize "KNIGHT.ITEMS.ARME.MUNITIONS.Combiens"}}</span>
                    <input type="number" name="system.optionsmunitions.value" value="{{systemData.optionsmunitions.value}}" min="0" />
                </label>
                <button type="action" class="optionsMunitionsValider" data-value="{{systemData.optionsmunitions.value}}">
                    {{localize "KNIGHT.AUTRE.Valider"}}
                </button>
            {{/if}}
        </div>
        {{/if}}

        {{#if (isWpnDistance systemData.type)}}
        <div class="tourelle">
            <button type="action" class="tourelle {{#if systemData.tourelle.has}}selected{{else}}unselected{{/if}}" data-value="{{systemData.tourelle.has}}">
                {{#if systemData.tourelle.has}}
                    {{localize "KNIGHT.ITEMS.ARME.TOURELLE.Has"}}
                {{else}}
                    {{localize "KNIGHT.ITEMS.ARME.TOURELLE.Hasnt"}}
                {{/if}}
            </button>

            {{#if systemData.tourelle.has}}
                <label>
                    <span class="header">{{localize "KNIGHT.AUTRE.Attaque"}}</span>
                    <div>
                        <input type="number" name="system.tourelle.attaque.dice" value="{{systemData.tourelle.attaque.dice}}" min="0" />
                        <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
                        <input type="number" name="system.tourelle.attaque.fixe" value="{{systemData.tourelle.attaque.fixe}}" />
                    </div>
                </label>
            {{/if}}
        </div>
        {{/if}}
    </header>

    {{#if (wpnHasMunitions (isWpnDistance systemData.type) systemData.optionsmunitions.has)}}
    <div class="blockMunitions">
        {{#each systemData.optionsmunitions.liste as | key effet|}}
        <div>
            <label class="munitionListe">
                <span class="header">{{localize "KNIGHT.ITEMS.ARME.MUNITIONS.Label"}} : </span>
                <input type="text" name="system.optionsmunitions.liste.{{effet}}.nom" value="{{key.nom}}" />
            </label>
            <label class="demi">
                <span class="header">{{localize "KNIGHT.AUTRE.Degats"}}</span>
                <div>
                    <input type="number" name="system.optionsmunitions.liste.{{effet}}.degats.dice" value="{{key.degats.dice}}" min="0" />
                    <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
                    <input type="number" name="system.optionsmunitions.liste.{{effet}}.degats.fixe" value="{{key.degats.fixe}}" />
                </div>
            </label>
            <label class="demi">
                <span class="header">{{localize "KNIGHT.AUTRE.Violence"}}</span>
                <div>
                    <input type="number" name="system.optionsmunitions.liste.{{effet}}.violence.dice" value="{{key.violence.dice}}" min="0" />
                    <span>{{localize "KNIGHT.JETS.Des-short"}}6+</span>
                    <input type="number" name="system.optionsmunitions.liste.{{effet}}.violence.fixe" value="{{key.violence.fixe}}" />
                </div>
            </label>
        </div>
        {{/each}}
    </div>
    {{/if}}

    <div class="blockEffets">
        <h2 class="header js-toggler">
            <i class="far fa-minus-square"></i>
            {{localize "KNIGHT.EFFETS.Label"}}
            {{#unless (isWpnDistance systemData.type)}}
                {{#if systemData.options2mains.has}}
                    - {{localize "KNIGHT.ITEMS.ARME.DEUXMAINS.Unemain"}}
                {{/if}}
            {{/unless}}
            {{#if (isWpnDistance systemData.type)}}
                {{#if systemData.optionsmunitions.has}}
                    - {{localize "KNIGHT.AUTRE.Base"}}
                {{/if}}
            {{/if}}
        </h2>

        <div class="effets">
            {{#each systemData.effets.liste as | key effet|}}
                <div>
                    <span class="label">{{key.name}}</span>
                    <img class="info" src="systems/knight/assets/icons/info.svg" />
                    <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                </div>
            {{/each}}
            <a class="edit" data-path="system.effets">
                <span>{{localize "KNIGHT.EFFETS.Edit"}}</span>
            </a>
        </div>
    </div>

    {{#unless (isWpnDistance systemData.type)}}
    {{#if systemData.options2mains.has}}
    <div class="blockEffets" data-id="deuxmains">
        <h2 class="header js-toggler">
            <i class="far fa-minus-square"></i>
            {{localize "KNIGHT.EFFETS.Label"}} - {{localize "KNIGHT.ITEMS.ARME.DEUXMAINS.Deuxmains"}}
        </h2>

        <div class="effets">
            {{#each systemData.effets2mains.liste as | key effet|}}
                <div>
                    <span class="label">{{key.name}}</span>
                    <img class="info" src="systems/knight/assets/icons/info.svg" />
                    <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                </div>
            {{/each}}
            <a class="edit" data-path="system.effets2mains">
                <span>{{localize "KNIGHT.EFFETS.Edit"}}</span>
            </a>
        </div>
    </div>
    {{/if}}
    {{/unless}}

    {{#if (isWpnDistance systemData.type)}}
    {{#if systemData.optionsmunitions.has}}
    {{#each systemData.optionsmunitions.liste as | key munition|}}
    <div class="blockEffets" data-id="{{munition}}">
        <h2 class="header js-toggler">
            <i class="far fa-minus-square"></i>
            {{localize "KNIGHT.EFFETS.Label"}} - {{key.nom}}
        </h2>

        <div class="effets">
            {{#each key.liste as | kE effet|}}
                <div>
                    <span class="label">{{kE.name}}</span>
                    <img class="info" src="systems/knight/assets/icons/info.svg" />
                    <span class="hideInfo">{{{getEffetsDescription kE.description}}}</span>
                </div>
            {{/each}}
            <a class="edit" data-path="system.optionsmunitions.liste.{{munition}}">
                <span>{{localize "KNIGHT.EFFETS.Edit"}}</span>
            </a>
        </div>
    </div>
    {{/each}}
    {{/if}}
    {{/if}}

    {{#unless (isWpnDistance systemData.type)}}
    <div class="blockEffets">
        <h2 class="header js-toggler">
            <i class="far fa-minus-square"></i>
            {{localize "KNIGHT.AMELIORATIONS.LABEL.Structurelles"}}
        </h2>

        <div class="structurelles">
            {{#each systemData.structurelles.liste as | key effet|}}
                <div>
                    <span class="label">{{key.name}}</span>
                    <img class="info" src="systems/knight/assets/icons/info.svg" />
                    <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                </div>
            {{/each}}
            <a class="edit" data-path="system.structurelles">
                <span>{{localize "KNIGHT.AMELIORATIONS.EDIT.Structurelles"}}</span>
            </a>
        </div>
    </div>

    <div class="blockEffets">
        <h2 class="header js-toggler">
            <i class="far fa-minus-square"></i>
            {{localize "KNIGHT.AMELIORATIONS.LABEL.Ornementales"}}
        </h2>

        <div class="ornementales">
            {{#each systemData.ornementales.liste as | key effet|}}
                <div>
                    <span class="label">{{key.name}}</span>
                    <img class="info" src="systems/knight/assets/icons/info.svg" />
                    <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                </div>
            {{/each}}
            <a class="edit" data-path="system.ornementales">
                <span>{{localize "KNIGHT.AMELIORATIONS.EDIT.Ornementales"}}</span>
            </a>
        </div>
    </div>
    {{/unless}}

    {{#if (isWpnDistance systemData.type)}}
    <div class="blockEffets">
        <h2 class="header js-toggler">
            <i class="far fa-minus-square"></i>
            {{localize "KNIGHT.AMELIORATIONS.LABEL.Distance"}}
        </h2>

        <div class="distance">
            {{#each systemData.distance.liste as | key effet|}}
                <div>
                    <span class="label">{{key.name}}</span>
                    <img class="info" src="systems/knight/assets/icons/info.svg" />
                    <span class="hideInfo">{{{getEffetsDescription key.description}}}</span>
                </div>
            {{/each}}
            <a class="edit" data-path="system.distance">
                <span>{{localize "KNIGHT.AMELIORATIONS.EDIT.Distance"}}</span>
            </a>
        </div>
    </div>
    {{/if}}
</form>
