<form class="armureWindows {{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <h1 class="charname">
            <input name="name" type="text" value="{{data.name}}" placeholder="{{localize "KNIGHT.Nom"}}" />
        </h1>
    </header>

    <div class="capacites">
        <h2 class="header js-toggler">
            <i class="far fa-minus-square"></i>
            {{localize "KNIGHT.CAPACITES.Label"}}
        </h2>
        <div class="add">
            <a data-value="{{systemData.capacites.actuel}}">{{localize "KNIGHT.AUTRE.Ajouter"}}</a>
            <select name="system.capacites.actuel">
                {{selectOptions systemData.capacites.liste selected=systemData.capacites.actuel localize=true blank='' valueAttr="key" labelAttr="label"}}
            </select>
        </div>
        {{#each systemData.capacites.selected as | key selected|}}
            {{#if (capaciteIsValid @root key selected)}} {{~> (capaciteLegende . key)}} {{/if}}
        {{/each}}
    </div>

    <div class="special">
        <h2 class="header js-toggler">
            <i class="far fa-minus-square"></i>
            {{localize "KNIGHT.ITEMS.ARMURE.Special"}}
        </h2>
        {{#each systemData.special.selected as | key selected|}}
            {{#if (capaciteIsValid @root key selected)}} {{~> (specialLegende . key)}} {{/if}}
        {{/each}}
    </div>
</form>
