

    div.combat {
        @include header();

        div.main {
        display:flex;
        width:100%;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;

        div.armesContact,
        div.armesDistance {
            display:flex;
            width:calc(50% - 5px);
            margin-bottom:10px;
            flex-wrap: wrap;
            border:1px solid $lightBlue;

            div.gestionButton {
            width:54px !important;

            a.item-equip,
            a.item-unequip,
            a.item-rack,
            a.item-unrack {
                display:flex;

                img {
                border:0px;
                width:17px;
                }

                &:hover {
                img {
                    filter: drop-shadow(0px 0px 10px $blue);
                }
                }
            }
            }

            div.block {
            display:flex;
            width:100%;
            flex-wrap: wrap;

            &:not(:first-of-type) {
                border-top:1px solid $black;
            }
            }

            h2.header {
            a {
                position:absolute;
                right:5px;
                line-height:22px;
            }
            }

            h3.header {
            display: block;
            position: relative;
            width: 100%;
            text-transform: uppercase;
            color: white;
            background: RGB(87 110 178);
            border-left: 1px solid RGB(87 110 178);
            border-right: 1px solid RGB(87 110 178);
            margin: 0px;
            border: 0px;
            line-height: 21px;
            padding-top: 2px;
            font-size: 16px;
            padding-left: 16px;
            font-weight: bold;
            letter-spacing: 1px;
            }

            @include wpnAffichage();

            div.longbow {
            display:flex;
            width:100%;
            flex-wrap: wrap;

            header {
                display:flex;
                width:100%;
                justify-content: space-between;
                position:relative;
                flex-wrap: wrap;

                span {
                &.name {
                    width:100%;
                    text-align: center;
                    font-variant: small-caps;
                    line-height: 34px;
                }
                }

                img {
                position:absolute;
                height:34px;
                width:34px;
                background:$white;
                border:0px;
                border-radius:0px;
                cursor:pointer;
                right:0px;
                }
            }
            }

            a.adl-import {
            font-variant: small-caps;
            display: block;
            text-align: center;
            width: 100%;
            color: $white;
            cursor: pointer;
            border-top: 2px solid $black;
            border-left:0px;
            border-right:0px;
            border-bottom:0px;
            background: $lightBlack;
            position: relative;
            line-height: 28px;
            margin-left: auto;
            margin-right: auto;

            &:hover {
                background-color: $black;
                border-color: $lightBlack;
                color: $white;
            }
            }
        }

        div.armesImprovisees {
            display:flex;
            width:calc(50% - 5px);
            margin-bottom:10px;
            flex-wrap: wrap;
            border:1px solid $lightBlue;

            h2.header {
            font-size:16px;
            }

            h3 {
            display: block;
            position: relative;
            width: 100%;
            text-transform: uppercase;
            color: $white;
            background: $lightBlack;
            margin: 0px;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-bottom: 1px solid $black;
            line-height: 21px;
            padding-top: 2px;
            font-size: 16px;
            padding-left: 20px;
            font-weight: bold;
            letter-spacing: 1px;

            i {
                cursor:pointer;
            }
            }

            div.block {
            display:flex;
            width:100%;
            flex-wrap: wrap;

            &:not(:first-of-type) {
                border-top:1px solid $black;
            }
            }

            div.wpn {
            display:flex;
            width:100%;
            flex-wrap: wrap;

            span {
                &.name {
                display:inline-block;
                width: 100%;
                text-align: center;
                font-variant: small-caps;
                line-height: 26px;
                }
            }

            div {
                &.line {
                display: flex;
                width: 100%;
                justify-content: space-between;
                border-top: 1px solid $lightBlack;
                }

                &.doubleLine {
                display: flex;
                flex-wrap: wrap;
                width: calc((100% / 2) - (34px / 2));

                span {
                    display: block;
                    width: 100%;
                    text-align: center;

                    &.header {
                    font-weight: bold;
                    font-variant: small-caps;
                    }
                }

                &:not(:first-of-type) {
                    border-left: 1px solid $lightBlack;
                }
                }

                &.effets {
                display: flex;
                text-align: justify;
                height: 34px;
                justify-content: left;
                padding-bottom: 5px;
                flex-wrap: wrap;
                margin-left: auto;
                margin-right: auto;
                align-items: flex-end;

                div {
                    position: relative;
                    width: max-content;
                    background: $lightBlack;
                    border: 1px solid black;
                    border-radius: 5px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 15px;
                    padding-right: 15px;

                    span.label {
                        font-variant: small-caps;
                        color: $white;
                        line-height: 20px;
                    }

                    &:not(:last-of-type) {
                    margin-right:5px;
                    }
                }
                }
            }

            img {
                height:34px;
                width:34px;
                background:$white;
                border:0px;
                border-radius:0px;
                cursor:pointer;
            }

            &:not(:first-of-type) {
                border-top:2px solid $lightBlue;
            }
            }
        }

        @include grenades();

        div.col {
            display:flex;
            flex-wrap: wrap;
            width:calc(50% - 5px);

            >div {
            &.armesDistance {
                width:100%;

                div.gestionButton {
                width:30px !important;
                }
            }

            &:not(:first-of-type) {
                margin-top:5px;
            }
            }
        }

        div.nods {
            display:flex;
            width:100%;
            flex-wrap: wrap;
            border:1px solid $lightBlue;

            div.line {
            display:grid;
            grid-template-columns: 1fr 60px 81px 30px 30px;
            width:100%;
            justify-content: space-between;
            background:$lightBlack;

            &.col5 {
                grid-template-columns: 1fr 60px 81px 30px 30px;
            }

            &.col4 {
                grid-template-columns: 1fr 81px 30px 30px;

            }

            span.label {
                width:100%;
                line-height: 30px;
                padding-left:5px;
            }

            input[type=text] {
                width: 100%;
                height: 100%;
                border-radius: 0px;
                border: 1px solid $black;
                text-align: center;
                border-top: 1px solid $black;
                border-bottom: 0px;
            }

            div.blockQuantite {
                display:flex;
                justify-content: space-between;
                width:100%;
                border-right:1px solid $lightBlack;
                background:$black;

                span {
                width:8px;
                color:$white;
                line-height: 30px;
                }

                input {
                width:100%;
                height:30px;
                border:0px;
                margin:0px;
                padding:0px;
                text-align: center;
                color:$white;
                background:$black;
                }
            }

            div.blockRoll {
                display:flex;
                justify-content: space-between;
                width:61px;

                img {
                width: 100%;
                height: 30px;
                border-radius: 0px;
                border: 0px;
                background: white;
                cursor: pointer;

                &:last-of-type {
                    width:31px;
                    border-left:1px solid $lightBlack;
                }
                }
            }

            &:not(:first-of-type) {

                span.label {
                border-top:1px solid $black;
                }

                div.blockQuantite {
                border-top:1px solid $lightBlack;
                }

                div.blockRoll {
                border-top:1px solid $black;
                }
            }
            }

            >button {
            width: 100%;
            font-size:11px;
            line-height: 20px;
            background:$black;
            border-top: 1px solid $lightBlack;
            border-left: 0px;
            border-right: 0px;
            border-bottom: 1px solid $lightBlack;
            border-radius: 0px;
            font-variant: small-caps;
            color:$white;
            cursor:pointer;
            margin:0px;
            }
        }
    }
}