div.historique {
    @include header();

    h2.header {
    span.option {
        height: 22px;
        border: 0px;
        position: absolute;
        left: 2px;
        top: 0px;

        img {
            height: 22px;
            border: 0px;
            cursor:pointer;

            &:hover {
                filter: drop-shadow(0px 0px 5px $black);
            }
        }
    }


    div.data {
        position: absolute;
        width: 85px;
        display: grid;
        grid-template-columns: 40px 5px 40px;
        justify-content: space-between;
        align-items: center;
        top: 1px;
        right: 1px;
        background: $lightBlack;
        height: 21px;
        line-height: 21px;

        input {
        position: relative;
        font-size: 14px;
        font-weight: normal;
        height: 21px;
        line-height: 21px;
        border: 0px;
        text-align: center;
        background: $lightBlack;
        }

        span {
        font-size: 14px;
        font-weight: normal;
        height: 20px;
        line-height: 21px;
        }
    }

    padding-left: 26px;
    }

    div.mainOptions {
    width: 100%;
    }

    div.subLine {
    display: grid;
    grid-template-columns: 1fr 40px;
    background: $lightBlack;
    grid-gap: 2px;
    align-items: center;
    justify-content: left;
    width: 100%;
    border: 1px solid $lightBlack;

    input {
        width: 100%;
        text-align: center;
        border: 0px;
        border-radius: 0px;
        background: $black;
        height: 25px;
    }

    span {
        margin-left: auto;
    }
    }

    div.main {
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    div.langues,
    div.contacts,
    div.blessures,
    div.traumas {
        display:flex;
        flex-wrap: wrap;
        width:calc(50% - 5px);
        flex:none;
        align-items:flex-start;
        align-content:flex-start;
    }

    div.langues {

        h2.header {
            a {
                position: absolute;
                right: 45px;
                line-height: 22px;
            }
        }

        div.block {
        display:flex;
        width:100%;
        flex-wrap: wrap;
        border:1px solid $lightBlue;

        header {
            display:flex;
            width:100%;
            justify-content: space-between;
            position:relative;

            i.extendButton {
            line-height: 26px;
            position:absolute;
            font-size:26px;
            color:$white;
            cursor:pointer;

            &:hover {
                text-shadow:0 0 10px $blue;
            }
            }

            span {
            width:100%;
            text-align: center;
            font-variant: small-caps;
            line-height: 26px;
            }

            div.gestionButton {
            display:flex;
            height:26px;
            justify-content: space-between;
            position:absolute;
            right:5px;
            width: 30px;
            align-items: center;
            }
        }
        }
    }

    div.contacts {
        h2.header {
        a {
            position: absolute;
            right: 90px;
            line-height: 22px;
        }
        }

        div.block {
        display:flex;
        width:100%;
        flex-wrap: wrap;
        border:1px solid $lightBlue;

        header {
            display:flex;
            width:100%;
            justify-content: space-between;
            position:relative;

            i.extendButton {
            line-height: 26px;
            position:absolute;
            font-size:26px;
            color:$white;
            cursor:pointer;

            &:hover {
                text-shadow:0 0 10px $blue;
            }
            }

            span {
            width:100%;
            text-align: center;
            font-variant: small-caps;
            line-height: 26px;;
            }

            div.gestionButton {
            display:flex;
            height:26px;
            justify-content: space-between;
            position:absolute;
            right:5px;
            width: 30px;
            align-items: center;
            }
        }

        span.description {
            display:none;
            padding-left:2px;
            padding-right:2px;
            width:100%;
            text-align: justify;
            word-break:break-all;
            background:$lightBlack;
        }
        }
    }

    div.blessures,
    div.traumas {
        h2.header {
            a {
                position: absolute;
                right: 5px;
                line-height: 22px;
            }
        }

        div.block {
            display:flex;
            width:100%;
            flex-wrap: wrap;
            border:1px solid $lightBlue;

            header {
                display:flex;
                width:100%;
                justify-content: space-between;
                position:relative;

                i.extendButton,
                i.extendDescriptionButton {
                line-height: 26px;
                position:absolute;
                font-size:26px;
                color:$white;
                cursor:pointer;

                &:hover {
                    text-shadow:0 0 10px $blue;
                }
                }

                span {
                width:100%;
                text-align: center;
                font-variant: small-caps;
                line-height: 26px;;
                }

                div.gestionButton {
                display:flex;
                height:26px;
                justify-content: space-between;
                position:absolute;
                right:5px;
                width: 30px;
                align-items: center;
                }
            }

            button {
                width: 100%;
                line-height: 27px;
                color: white;
                background: $black;
                border-bottom: 1px solid $lightBlack;
                border-left: 0px;
                border-right: 0px;
                border-top: 1px solid $lightBlack;
                text-align: center;
                padding: 0px;
                border-radius: 0px;
                margin: 0px;
                cursor:pointer;

                &:hover {
                    background: $lightBlack;
                    border-bottom: 1px solid $black;
                }
            }

            span.description {
                display:grid;
                padding-left:2px;
                padding-right:2px;
                width:100%;
                background:$lightBlack;
            }
        }
    }

    div.blessures,
    div.traumas {
        margin-top:10px;
    }
    }

    div.histoire {
        display: flex;
        position: relative;
        flex: 1;
        flex-direction: column;
        margin-top:10px;

        prose-mirror {
            flex: 1;
            min-height:130px;
            border-bottom: 1px solid $lightBlue;
            border-left: 1px solid $lightBlue;
            border-right: 1px solid $lightBlue;
            background:$lightBlack;
        }
    }

}