$logos:
"1",
"2",
"3";

$imgs:
"combat",
"scenes",
"actors",
"items",
"journal",
"tables",
"cards",
"playlists",
"compendium";

@import "parts/functions";
@import "parts/base";
@import "parts/dialogs/roll";
@import "parts/dialogs/ask";
@import "parts/actors/actors";
@import "parts/items/base";
@import "parts/items/avantage";
@import "parts/items/inconvenient";
@import "parts/items/divers";
@import "parts/items/armure";
@import "parts/items/armurelegende";
@import "parts/items/module";
@import "parts/items/arme";
@import "parts/items/capacite";
@import "parts/items/effet";
@import "parts/items/art";
@import "parts/items/distinction";
@import "parts/items/capaciteultime";
@import "parts/items/cyberware";

.pnj {
  header.sheet-header {
    .profile-img {
      width:180px;
      min-width: 180px;
      height:215px;
      border-color:$white;
      background:$lightBlack;
      margin-right:0px;
      object-fit: contain;
    }

    .headerData {
      display:flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height:215px;
      width:calc(100% - 180px);
      flex:none;
    }
  }
}

@import "parts/ia";
@import "parts/pnj";
@import "parts/creature";
@import "parts/bande";
@import "parts/vehicule";
@import "parts/mechaarmure";
@import "parts/common";
@import "parts/roll";
@import "parts/dialogs/companions";
@import "parts/dialogs/compendium";
@import "parts/dialogs/damage";

@each $logo in $logos {
  div#interface.version#{$logo} #logo {
    content: url("../assets/icons/logo#{$logo}.webp");
    min-height: 100px;
  }
}

li.chat-message {
  background: $lightGrey;
  box-shadow: 1px 1px 6px $black;
}

@each $img in $imgs {
  section##{$img} {
      >header:first-of-type:before {
          content:"";
          background:url("../assets/banners/#{$img}.webp");
          height: 53px;
          display: block;
          width: 100%;
          background-size: contain;
      }
  }
}

.knight-import-all {
  section.window-content {
    div.dialog-content {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;

      select {
        padding: 0px;
        margin: 0px;
        width: 100%;
        font-variant: small-caps;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        border-radius: 0px;
        border-bottom: 0px;
        border-color: black;
      }

      textarea {
        border-radius: 0px;
        height: calc(100% - 27px);
      }
    }

    div.dialog-buttons {
      flex: 0;

      button {
        height: 28px;
        line-height: 26px;
        margin: 0px;
        min-width: max-content;
        white-space: nowrap;
        background-color: $lightGrey;
        border-radius: 0px;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      }
    }
  }
}

.knight-import-adl {
  section.window-content {
    div.dialog-content {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;

      h1 {
        padding: 0px;
        margin: 0px;
        width: 100%;
        text-align: center;
        font-size: 18px;
        border: 0px;
        font-variant: small-caps;
        font-weight: bold;
      }

      select {
        padding: 0px;
        margin: 0px;
        width: 100%;
        font-variant: small-caps;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        border-radius: 0px;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
        border-color: black;
      }

      div.select {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2px;
        border-left: 1px solid black;
        border-right: 1px solid black;

        span {
          padding-left: 5px;
          padding-right: 5px;
          font-variant: small-caps;
          text-align: justify;
        }
      }

      textarea {
        border-radius: 0px;
        height: 90px;
      }
    }

    div.dialog-buttons {
      flex: 0;

      button {
        height: 28px;
        line-height: 26px;
        margin: 0px;
        min-width: max-content;
        white-space: nowrap;
        background-color: $lightGrey;
        border-radius: 0px;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      }
    }
  }
}

button {
  &.compendium,
  &.import-all {
    font-variant: small-caps;
    background-color: $lightGrey;
    font-size: 18px;
    font-weight: bold;
    color: $black;
  }
}

div.dialog-content {
  label.knightNumber {
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;

    input {
      text-align: center;
      padding: 0px;
    }
  }
}