$logos:
"1",
"2",
"3";

$imgs:
"combat",
"scenes",
"actors",
"items",
"journal",
"tables",
"cards",
"playlists",
"compendium";

@import "parts/functions";
@import "parts/base";
@import "parts/dialogs/roll";
@import "parts/dialogs/ask";
@import "parts/actors/actors";
@import "parts/items/items";
@import "parts/vehicule";
@import "parts/mechaarmure";
@import "parts/roll";
@import "parts/dialogs/editDialog";
@import "parts/dialogs/companions";
@import "parts/dialogs/compendium";
@import "parts/dialogs/damage";
@import "parts/dialogs/effects";
@import "parts/dialogs/adlImport";

@each $logo in $logos {
  div#interface.version#{$logo} #logo {
    content: url("../assets/icons/logo#{$logo}.webp");
    min-height: 100px;
  }
}

li.chat-message {
  background: $lightGrey;
  box-shadow: 1px 1px 6px $black;
}

@each $img in $imgs {
  section##{$img} {
      >header:first-of-type:before {
          content:"";
          background:url("../assets/banners/#{$img}.webp");
          height: 53px;
          display: block;
          width: 100%;
          background-size: contain;
      }
  }
}

.knight-import-all {
  section.window-content {
    div.dialog-content {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;

      select {
        padding: 0px;
        margin: 0px;
        width: 100%;
        font-variant: small-caps;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        border-radius: 0px;
        border-bottom: 0px;
        border-color: black;
      }

      textarea {
        border-radius: 0px;
        height: calc(100% - 27px);
      }
    }

    div.dialog-buttons {
      flex: 0;

      button {
        height: 28px;
        line-height: 26px;
        margin: 0px;
        min-width: max-content;
        white-space: nowrap;
        background-color: $lightGrey;
        border-radius: 0px;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
      }
    }
  }
}

button {
  &.compendium,
  &.import-all {
    font-variant: small-caps;
    background-color: $lightGrey;
    font-size: 18px;
    font-weight: bold;
    color: $black;
  }
}

div.dialog-content {
  label.knightNumber {
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;

    input {
      text-align: center;
      padding: 0px;
    }
  }
}