<div class="allEffects">
    {{#if optionsmunitions}} {{~> knight.wpn.optionsmunitions}} {{/if}}
    {{~> knight.wpn.effects.effets}}
    {{#if effets2mains}} {{~> knight.wpn.effects.effets2mains}} {{/if}}
    {{#if optionsmunitions}} {{~> knight.wpn.effects.optionsmunitions}} {{/if}}
    {{#if structurelles}} {{~> knight.wpn.effects.structurelles}} {{/if}}
    {{#if distance}} {{~> knight.wpn.effects.distance}} {{/if}}
    {{#if ornementales}} {{~> knight.wpn.effects.ornementales}} {{/if}}
</div>