.askdialog {
  div.dialog-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: baseline;
    align-items: baseline;

    span {
      display: inline-block;
      text-align: justify;
      width: 100%;
      line-height: 16px;
      min-height: 20px;
    }

    select {
      width: 100%;
      text-align: center;
      padding-left: 13px;
      border: 1px solid $lightBlack;
      border-bottom: 0px;
      margin: 0px;
      padding: 0px;
      text-align: center;
      background: $black;
      color: $white;
      font-variant: small-caps;

      option {
        background: $black;
      }
    }
  }

  button {
    color: $white;
    background: $lightBlack;
    cursor: pointer;
    border-radius: 0px;
    margin: 0px;
  }
}

.askniveau {
  div.dialog-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items:center;

    span {
      display: inline-block;
      text-align: justify;
      width: 50%;
      line-height: 16px;
      min-height: 20px;
    }

    select {
      width: 50%;
      text-align: center;
      padding-left: 13px;
      border: 1px solid $lightBlack;
      border-bottom: 0px;
      margin: 0px;
      padding: 0px;
      text-align: center;
      background: $black;
      color: $white;
      font-variant: small-caps;

      option {
        background: $black;
      }
    }
  }

  button {
    color: $white;
    background: $lightBlack;
    cursor: pointer;
    border-radius: 0px;
    margin: 0px;
  }
}

.askdice {
  div.dialog-content {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: baseline;
    align-items: baseline;

    >span {
      display: inline-block;
      text-align: justify;
      width: 100%;
      line-height: 16px;
      min-height: 20px;

      grid-column: 1 / 7;
    }

    button {
      display: flex;
      justify-content: space-between;
      color: $white;
      background: $lightBlack;
      cursor: pointer;
      border-radius: 0px;
      margin: 0px;
      text-align: left;
      border-top: 0px;
      border-color: black;

      &.unselected {
        background: transparent;

        i {
          color: $red;
        }
      }

      &.selected {
        i {
          color: $lightGreen;
        }
      }
    }
  }

  div.dialog-buttons {
    button {
      color: $white;
      background: $lightBlack;
      cursor: pointer;
      border-radius: 0px;
      margin: 0px;
    }
  }
}