.compendium {
    section.window-content  {
        section {
            &.body {
                display: grid;
                align-items: flex-start;
                align-content: flex-start;

                nav {
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    border: 0px;
                    margin-bottom: 0px;

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-top: 1px solid $lightBlue;
                        border-left: 1px solid $lightBlue;

                        &:first-of-type {
                            border-top-left-radius: 5px;
                        }

                        &:last-of-type {
                            border-top-right-radius: 5px;
                            border-right: 1px solid $lightBlue;
                        }
                    }
                }

                div {
                    &.tab.active {
                        display: grid;
                        grid-template-columns: 300px 1fr;
                        align-items: flex-start;
                    }

                    &.tab.armures {
                        border: 1px solid $lightBlue;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;

                        div {
                            &.data {
                                display: grid;
                                grid-template-columns: 1fr;
                                border-left: 1px solid black;

                                div {

                                    &.line {
                                        &.fonce {
                                            background-color: $lightBlack;
                                        }

                                        &.clair {
                                            background-color: $veryLightBlack;
                                        }
                                    }
                                }
                            }

                            &.header {
                                font-variant: small-caps;

                                span {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    text-align: center;
                                    padding-left: 5px;
                                    padding-right: 5px;

                                    i {
                                        cursor: pointer;

                                        &:hover {
                                            color: $lightBlue;
                                        }
                                    }

                                    &:not(:first-of-type):not(:nth-of-type(2)) {
                                        border-left: 1px solid black;
                                    }
                                }
                            }

                            &.line {
                                span {
                                    &.name {
                                        letter-spacing: 1px;
                                        cursor:pointer;
                                        padding-left: 5px;

                                        &:hover {
                                            color:$lightBlue;
                                        }
                                    }

                                    &:not(:first-of-type) {
                                        border-left: 1px solid black;
                                    }
                                }
                            }

                            &.header,
                            &.line {
                                display: grid;
                                grid-template-columns: 25px 200px repeat(4, calc((100% / 4) - calc(200px / 4) - calc(25px / 4)));
                                align-items: center;
                                padding-left: 5px;
                                line-height: 25px;

                                span {
                                    &.value {
                                        text-align: center;
                                    }
                                }

                                img {
                                    display: block;
                                    height: 25px;
                                    object-fit: contain;
                                    border: 0px;
                                    margin-left:auto;
                                    margin-right:auto;
                                }
                            }

                            &.draggable {
                                cursor:context-menu;
                            }
                        }
                    }

                    &.tab.modules {
                        border: 1px solid $lightBlue;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;

                        div {
                            &.data {
                                display: grid;
                                grid-template-columns: 1fr;
                                border-left: 1px solid black;

                                div {

                                    &.line {
                                        &.fonce {
                                            background-color: $lightBlack;
                                        }

                                        &.clair {
                                            background-color: $veryLightBlack;
                                        }
                                    }
                                }
                            }

                            &.header {
                                font-variant: small-caps;

                                span {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    text-align: center;
                                    padding-left: 5px;
                                    padding-right: 5px;

                                    i {
                                        cursor: pointer;

                                        &:hover {
                                            color: $lightBlue;
                                        }
                                    }

                                    &:not(:first-of-type):not(:nth-of-type(2)) {
                                        border-left: 1px solid black;
                                    }
                                }
                            }

                            &.line {
                                span {
                                    &.name {
                                        letter-spacing: 1px;

                                        cursor:pointer;

                                        &:hover {
                                            color:$lightBlue;
                                        }
                                    }

                                    &:not(:first-of-type) {
                                        border-left: 1px solid black;
                                    }
                                }
                            }

                            &.header,
                            &.line {
                                display: grid;
                                grid-template-columns: 25px calc(100% - 25px - 350px) 100px 150px 100px;
                                align-items: center;
                                padding-left: 5px;

                                line-height: 25px;

                                span {
                                    &.value {
                                        text-align: center;
                                        height: 100%;
                                        width: 100%;
                                    }
                                }

                                img {
                                    display: block;
                                    height: 25px;
                                    object-fit: contain;
                                    border: 0px;
                                    margin-left:auto;
                                    margin-right:auto;
                                }
                            }

                            &.draggable {
                                cursor:context-menu;
                            }
                        }
                    }

                    &.tab.armes {
                        border: 1px solid $lightBlue;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;

                        div {
                            &.data {
                                display: grid;
                                grid-template-columns: 1fr;
                                border-left: 1px solid black;

                                div {

                                    &.line {
                                        &.fonce {
                                            background-color: $lightBlack;
                                        }

                                        &.clair {
                                            background-color: $veryLightBlack;
                                        }
                                    }
                                }
                            }

                            &.header {
                                font-variant: small-caps;

                                span {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    text-align: center;
                                    padding-left: 5px;
                                    padding-right: 5px;

                                    i {
                                        cursor: pointer;

                                        &:hover {
                                            color: $lightBlue;
                                        }
                                    }

                                    &:not(:first-of-type):not(:nth-of-type(2)) {
                                        border-left: 1px solid black;
                                    }
                                }
                            }

                            &.line {
                                span {
                                    &.name {
                                        letter-spacing: 1px;

                                        cursor:pointer;

                                        &:hover {
                                            color:$lightBlue;
                                        }
                                    }

                                    &:not(:first-of-type) {
                                        border-left: 1px solid black;
                                    }
                                }
                            }

                            &.header,
                            &.line {
                                display: grid;
                                grid-template-columns: 25px calc(100% - 25px - 350px) 100px 150px 100px;
                                align-items: center;
                                padding-left: 5px;

                                line-height: 25px;

                                span {
                                    &.value {
                                        text-align: center;
                                        height: 100%;
                                        width: 100%;
                                    }
                                }

                                img {
                                    display: block;
                                    height: 25px;
                                    object-fit: contain;
                                    border: 0px;
                                    margin-left:auto;
                                    margin-right:auto;
                                }
                            }

                            &.draggable {
                                cursor:context-menu;
                            }
                        }
                    }

                    &.tab.ai {
                        border: 1px solid $lightBlue;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;

                        div {
                            &.data {
                                display: grid;
                                grid-template-columns: 1fr;
                                border-left: 1px solid black;

                                div {

                                    &.line {
                                        &.fonce {
                                            background-color: $lightBlack;
                                        }

                                        &.clair {
                                            background-color: $veryLightBlack;
                                        }
                                    }
                                }
                            }

                            &.header {
                                font-variant: small-caps;

                                span {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    text-align: center;
                                    padding-left: 5px;
                                    padding-right: 5px;

                                    i {
                                        cursor: pointer;

                                        &:hover {
                                            color: $lightBlue;
                                        }
                                    }

                                    &:not(:first-of-type):not(:nth-of-type(2)) {
                                        border-left: 1px solid black;
                                    }
                                }
                            }

                            &.line {
                                span {
                                    &.name {
                                        letter-spacing: 1px;

                                        cursor:pointer;

                                        &:hover {
                                            color:$lightBlue;
                                        }
                                    }

                                    &:not(:first-of-type) {
                                        border-left: 1px solid black;
                                    }
                                }
                            }

                            &.header,
                            &.line {
                                display: grid;
                                grid-template-columns: 25px calc(100% - 25px - 200px) 100px 100px;
                                align-items: center;
                                padding-left: 5px;

                                line-height: 25px;

                                span {
                                    &.value {
                                        text-align: center;
                                        height: 100%;
                                        width: 100%;
                                    }
                                }

                                img {
                                    display: block;
                                    height: 25px;
                                    object-fit: contain;
                                    border: 0px;
                                    margin-left:auto;
                                    margin-right:auto;
                                }
                            }

                            &.draggable {
                                cursor:context-menu;
                            }
                        }
                    }

                    &.tab.distinctions,
                    &.tab.cartes,
                    &.tab.capacites {
                        border: 1px solid $lightBlue;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;

                        div {
                            &.data {
                                display: grid;
                                grid-template-columns: 1fr;
                                border-left: 1px solid black;

                                div {

                                    &.line {
                                        &.fonce {
                                            background-color: $lightBlack;
                                        }

                                        &.clair {
                                            background-color: $veryLightBlack;
                                        }
                                    }
                                }
                            }

                            &.header {
                                font-variant: small-caps;

                                span {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    text-align: center;
                                    padding-left: 5px;
                                    padding-right: 5px;

                                    i {
                                        cursor: pointer;

                                        &:hover {
                                            color: $lightBlue;
                                        }
                                    }

                                    &:not(:first-of-type):not(:nth-of-type(2)) {
                                        border-left: 1px solid black;
                                    }
                                }
                            }

                            &.line {
                                span {
                                    &.name {
                                        letter-spacing: 1px;

                                        cursor:pointer;

                                        &:hover {
                                            color:$lightBlue;
                                        }
                                    }

                                    &:not(:first-of-type) {
                                        border-left: 1px solid black;
                                    }
                                }
                            }

                            &.header,
                            &.line {
                                display: grid;
                                grid-template-columns: 25px calc(100% - 25px);
                                align-items: center;
                                padding-left: 5px;

                                line-height: 25px;

                                span {
                                    &.value {
                                        text-align: center;
                                        height: 100%;
                                        width: 100%;
                                    }
                                }

                                img {
                                    display: block;
                                    height: 25px;
                                    object-fit: contain;
                                    border: 0px;
                                    margin-left:auto;
                                    margin-right:auto;
                                }
                            }

                            &.draggable {
                                cursor:context-menu;
                            }
                        }
                    }

                    &.filter {
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-gap: 5px;
                        padding: 5px;

                        div {
                            &.search {
                                border: 2px solid $lightBlack;

                                span {
                                    display: block;
                                    width: 100%;
                                    padding-left: 5px;
                                    padding-top: 5px;
                                    padding-right: 5px;
                                    font-variant: small-caps;
                                    font-size: 16px;
                                }

                                input {
                                    width: 100%;
                                    border-bottom: 0px;
                                    border-right: 0px;
                                    border-left: 0px;

                                    border-radius: 0px;
                                    border-top: 1px solid $lightBlack;
                                }
                            }

                            &.gloire {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                border: 2px solid $lightBlack;
                                grid-gap: 5px;

                                label {
                                    display: grid;
                                    grid-template-columns: 1fr;
                                    justify-content: space-between;

                                    span {
                                        display: block;
                                        text-align: center;
                                        width: 100%;
                                        padding-left: 5px;
                                        padding-top: 5px;
                                        padding-right: 5px;
                                        font-variant: small-caps;
                                        font-size: 16px;
                                    }

                                    input {
                                        width: 100%;
                                        text-align: center;

                                        border-color: $lightBlack;
                                        border-radius: 0px;
                                        border-bottom: 0px;
                                    }

                                    &:first-of-type {
                                        input {
                                            border-left: 0px;
                                        }
                                    }

                                    &:last-of-type {
                                        input {
                                            border-right: 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                details {
                    display: grid;
                    grid-template-columns: 1fr;
                    border: 2px solid $lightBlack;
                    padding-bottom: 5px;

                    summary {
                        grid-column: 1 / 3;

                        padding-left: 5px;
                        padding-top: 5px;
                        padding-right: 5px;
                        font-variant: small-caps;
                        font-size: 16px;
                    }

                    label {
                        display: grid;
                        grid-template-columns: max-content 1fr;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}